﻿@model IEnumerable<DataGadget.Web.Models.QuestionResponseViewModel>
    @{
        ViewBag.Title = "Edit Treatment Survey";
        Layout = null;
        int questionNumber = 1;
        var UserSessionID = Model.Select(x => x.UserSessionID).FirstOrDefault();
        var ClientSessionStart = Model.Select(x => x.ClientSessionStart).FirstOrDefault();
    }


    <header class="clearfix">
        <div data-ng-include="'../app/layout/topnav.html'"></div>
        <link href="../../Content/customstyles.css" rel="stylesheet" />
    </header>
    <core-animated-pages transitions="slide-from-right" ng-controller="editTreatmentSurvey as vm">
        <section class="core-selected">
            <form name="surveyForm" ng-submit="Finish1(vm)" novalidate>
                <core-header-panel>
                    <core-toolbar>
                        <span flex style="font-size:xx-large">Survey Tools</span>
                        <input type="submit" name="submit" class="finishbtn1" value="Finish" width="130px" />
                    </core-toolbar>
                    <div class="content documenttion">
                        <div class="help"><a id="" href="" ng-click="vm.deleteEvent(event)">Help</a></div>
                        <div class="programe_base pad">
                            <b>Agency Name:</b>

                            <select id="selOrganization" ng-change="BindUsersByAgency(vm.Agency)" name="selOrganization" ng-disabled="vm.AgencyData"
                                    ng-model="vm.Agency" style="width:100%;" class="form-control"
                                    ng-options="item.id as item.name for item in agencyData"></select>
                            <div ng-show="{{isUserOrAdmin}}">
                                <input type="checkbox" id="chkLocation" name="chkLocation" ng-model="vm.LocationCHK" ng-change="vm.checkStatusCahnge(vm.LocationCHK);" />Modify Location
                            </div>
                        </div>
                        <div class="programe_base pad">
                            <b>Service Provided:</b>
                            <select ng-required="true" name="ServiceProvide" id="ServiceProvide" ng-model="vm.ServiceProvide"
                                    style="width:100%;" ng-change="BindUsersByService(vm.ServiceProvide,vm.Agency)">
                                @*ng-options="data.recNo as data.description for data in surveyService"*@
                                <option value="">--Select--</option>
                                @*<option ng-repeat="data in surveyService" value="{{data.recNo}}" ng-selected="SurveyItem.serviceID==data.recNo">{{data.description}}</option>*@
                                <option ng-repeat="data in surveyService" value="{{data.recNo}}" ng-selected="data.recNo==SurveyItem.serviceID">{{data.description}}</option>
                            </select>
                            <p style="position:absolute;color:red;" ng-show="surveyForm.ServiceProvide.$invalid && (!surveyForm.ServiceProvide.$pristine || surveyForm.$submitted) " class="help-block">Service Provide is required.</p>
                        </div>
                        <div class="programe_base pad" ng-class="{ 'has-error' : surveyForm.Administered.$invalid && !surveyForm.Administered.$pristine }">
                            <b>Survey Administered By:</b>
                            <select ng-required="true" name="Administered" ng-model="vm.Administered" style="width:100%;"
                                    ng-change="vm.ChangeAdministeredBy(vm.Administered,vm.Agency)">
                                @*ng-options="data.id as data.name for data in administeredData"*@
                                <option ng-repeat="data in administeredData" value="{{data.id}}" ng-selected="data.id==SurveyItem.surveyAdminID">{{data.name}}</option>
                                @*ng-change="vm.ChangeAdministeredBy(vm.Administered)"*@
                                <option value="">--Select--</option>
                                @*<option ng-repeat="data in administeredData" value="{{data.id}}">{{data.name}}</option>*@
                            </select>
                            <p style="position:absolute;color:red;" ng-show="surveyForm.Administered.$invalid && (!surveyForm.Administered.$pristine || surveyForm.$submitted) " class="help-block"></p>
                            <p ng-show="adminvalue" class="has-error" style="color: #F00;">Administered is required.</p>
                        </div>
                        <div class="programe_base pad">
                            <b>Program Name:</b>
                            <select ng-required="isShowProgram" ng-disabled="isDisableProgram" name="ProgramName" ng-model="vm.ProgramName" style="width:100%;" class="form-control">
                                @*ng-options="data.recNo as data.name for data in surveyProgram"*@
                            <option value="">--Select--</option>
                            @*<option ng-repeat="data in surveyProgram" value="{{data.recNo}}">{{data.name}}</option>*@
                            <option data-ng-repeat="data in surveyProgram" value="{{data.recNo}}" ng-selected="data.recNo==SurveyItem.programID">{{data.name}}</option>
                        </select>
                        <p style="position:absolute;color:red;" ng-show="surveyForm.ProgramName.$invalid && (!surveyForm.ProgramName.$pristine || surveyForm.$submitted) " class="help-block">Program Name is required.</p>
                    </div>
                    <div class="programe_base pad">
                        <b>Survey Type:</b>
                        <select ng-required="true" name="SurveyType" ng-model="vm.SurveyType" style="width:100%;" ng-change="clearIntake()">
                            @*ng-options="data.id as data.name for data in bindSurveyTypeData"*@
                            <option value="">--Select--</option>
                            <option data-ng-repeat="data in bindSurveyTypeData" value="{{data.id}}" ng-selected="data.id==SurveyItem.surveyTypeID">{{data.name}}</option>
                            @*<option ng-repeat="data in bindSurveyTypeData" value="{{data.id}}">{{data.name}}</option>*@
                        </select>
                        <p style="position:absolute;color:red;" ng-show="surveyForm.SurveyType.$invalid && (!surveyForm.SurveyType.$pristine || surveyForm.$submitted) " class="help-block">Survey Type is required.</p>
                    </div>
                    <div class="programe_base pad">
                        <b>Survey Completed:</b>
                        <input type="text" name="SurveryCompletedDate" class="dateField" datepicker-popup="{{format}}" ng-model="vm.SurveryCompletedDate" is-open="openBeginDateopened" min-date="minDate"
                               ng-required="true" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Survey Completed Date" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                        <p style="position:absolute;color:red;" ng-show="surveyForm.SurveryCompletedDate.$invalid && (!surveyForm.SurveryCompletedDate.$pristine || surveyForm.$submitted) " class="help-block">Survey Completed is required.</p>
                    </div>
                    <div class="programe_base pad" ng-if="false">
                        <b>Survey:</b> @*ng-required="true"*@
                        <select name="Survey" ng-model="vm.Survey" style="width:100%;">
                            <option value="">--Select--</option>
                            <option ng-repeat="data in surveyData" value="{{data.recNo}}">{{data.surveyTitle}}</option>
                        </select>
                        <p style="position:absolute;color:red;" ng-show="surveyForm.Survey.$invalid && (!surveyForm.Survey.$pristine || surveyForm.$submitted) " class="help-block">Survey is required.</p>
                    </div>
                    <div class="programe_base pad">
                        <b>Case Number (Client ID):</b>
                        <input name="CaseNumber" placeholder="Case Number" class="form-control inputtextbox" style="width:100%" type="text" ng-model="vm.CaseNumber" required>
                        <p style="position:absolute;color:red;" ng-show="surveyForm.CaseNumber.$invalid && (!surveyForm.CaseNumber.$pristine || surveyForm.$submitted) " class="help-block">Case Number is required.</p>
                    </div>

                    <div class="programe_base pad">
                        <b>Client Gender:</b>
                        <select ng-required="true" name="GenderType" ng-model="vm.ClientGenderType" ng-change="clearIndigentPregnant()" style="width:100%;">
                            <option value="" selected="selected">--Select--</option>
                            <option value="Adult Male" ng-show="isAdult">Adult Male</option>
                            <option value="Adult Female" ng-show="isAdult">Adult Female</option>
                            <option value="Adolescent Male" ng-show="isAdolescent">Adolescent Male</option>
                            <option value="Adolescent Female" ng-show="isAdolescent">Adolescent Female</option>
                        </select>
                        <p style="position:absolute;color:red;" ng-show="surveyForm.GenderType.$invalid && (!surveyForm.GenderType.$pristine || surveyForm.$submitted) " class="help-block">Gender Type is required.</p>
                    </div>

                    <div class="programe_base pad">
                        <b>Client Entry Date:</b>
                        <input type="text" name="ClientEntryDate" class="dateField" datepicker-popup="{{format}}" ng-model="vm.ClientEntryDate" is-open="opened" min-date="minDate"
                               ng-required="true" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Entry Date" />
                        <span class="input-group-btn" style="float:right">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <p style="position:absolute;color:red;" ng-show="surveyForm.ClientEntryDate.$invalid && (!surveyForm.ClientEntryDate.$pristine || surveyForm.$submitted) " class="help-block">Client Entry Date is required.</p>
                    </div>
                    <div class="programe_base pad" id="divEndDate" ng-show="vm.SurveyType == 2">
                        @*ng-if="vm.SurveyType == 2"*@
                        <b>Client Discharge Date:</b>
                        <input type="text" name="ClientDischargeDate" class="dateField" datepicker-popup="{{format}}" ng-model="vm.ClientDischargeDate" is-open="opened1" min-date="minDate"
                               max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Discharge Date" ng-required="vm.SurveyType == 2" />
                        <span class="input-group-btn" style="float:right">
                            <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <p style="position:absolute;color:red;" ng-show="surveyForm.ClientDischargeDate.$invalid && (!surveyForm.ClientDischargeDate.$pristine || surveyForm.$submitted) " class="help-block">Client Discharge Date is required.</p>
                    </div>
                    <div class="programe_base pad div-intake programe_base_width" id="divIntake" ng-show="vm.SurveyType == 1">
                        <span>
                            <p><b>Population (Check all that apply)</b></p>
                        </span>

                        <span ng-repeat="intakeitem in intakeData | filter: { typeName: 'Population' } ">
                            <input ng-model="intakeitem.isSelect" value={{intakeitem.id}} ng-disabled="intakeitem.isDisable" type="checkbox" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                            <p>{{intakeitem.intakeTypeName}}</p>
                        </span>
                    </div>
                    <div class="programe_base pad div-intake programe_base_width" id="divIntake" ng-show="vm.SurveyType == 1">
                        <span>
                            <p><b>Substance Abuse (Check all that apply)</b></p>
                        </span>

                        <span ng-repeat="intakeitem in intakeData | filter: { typeName: 'Substance Abuse' } ">
                            <input ng-model="intakeitem.isSelect" value={{intakeitem.id}} ng-disabled="intakeitem.isDisable" type="checkbox" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                            <p>{{intakeitem.intakeTypeName}}</p>
                        </span>
                    </div>

                    <div class="programe_base pad div-intake programe_base_width" id="divIntake" ng-show="vm.SurveyType == 1">
                        <span>
                            <p><b>Payor Source (Check all that apply)</b></p>
                        </span>
                        <span ng-repeat="intakeitem in intakeData | filter: { typeName: 'Payor Source' } ">
                            <input ng-model="intakeitem.isSelect" value={{intakeitem.id}} ng-disabled="intakeitem.isDisable" type="checkbox" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                            <p>{{intakeitem.intakeTypeName}}</p>
                        </span>
                    </div>

                    <div ng-if="false" style="width: 100%; visibility: visible; margin-left: 2%; margin-top: 2%; float: left;">
                        <input type="checkbox" id="chkNoResponse" name="chkNoResponse" ng-model="vm.NoResponse" ng-change="vm.checkNoResponse(vm.NoResponse);" />No Contact (Unable to reach client for follow-up)
                    </div>

                    <div class="programe_base pad" style="float:left;margin-right:30%;" ng-if="true">
                        <b>Comments:</b>
                        <textarea ng-if="true" rows="4" cols="50" name="Comments" placeholder="Comments" class="form-control" ng-model="vm.Comments" style="margin-left: 0px; margin-right: -224px; width: 490px;"></textarea>
                        @*<p style="position:absolute;color:red;" ng-show="surveyForm.Comments.$invalid && (!surveyForm.Comments.$pristine || surveyForm.$submitted) " class="help-block">Comments is required.</p>*@
                    </div>

                    <div class="clear"></div>
                    <hr />
                    <div id="dynamichtml" ng-model="vm.dynamicdata">
                        <input type="hidden" name="hdfsd" id="hdfsd" ng-model="vm.SessionID" value="@UserSessionID" />
                        <input type="hidden" name="hdfcst" id="hdfcst" ng-model="vm.ClientSessionStart" value="@ClientSessionStart" />
                        @foreach (var question in Model)
                        {
                            switch (question.SurveyGroupQuestion.ASPControlType)
                            {
                                case "RadioButtonList":
                                    <div>
                                        <p style="font-weight:bold;">
                                            @questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN
                                            <span style="color:red;" ng-show="surveyForm.question_@question.SurveyGroupQuestion.RecNo.$invalid && (!surveyForm.question_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required.</span>
                                        </p>
                                        <div style="margin-left:2.5%;">
                                            @foreach (var response in question.SurveyQTNResponseList)
                                            {
                                                <p>
                                                    <input required="required" type="radio" id="qus_@response.SurveyResponseItemID" name="question_@question.SurveyGroupQuestion.RecNo" ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" value="@response.SurveyResponseItemID" checked="checked" /> @response.Response
                                                    @if (response.Response.ToLowerInvariant().Contains("other"))
                                                    {
                                                        <input ng-model="vm.qestion_txtresponse_@question.SurveyGroupQuestion.RecNo" class="form-control ng-pristine ng-invalid ng-invalid-required" id="txtOtherResponse_@questionNumber" name="txtOtherResponse_@questionNumber" type="text" placeholder="Please Specify" style="width:200px;" />;
                                                    }
                                                </p>
                                            }
                                        </div>
                                    </div>
                                            break;
                                case "CheckBoxList":
                                <div>
                                    <p style="font-weight:bold;">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</p>
                                    <div style="margin-left:2.5%;">
                                        @foreach (var response in question.SurveyQTNResponseList)
                                        {
                                            <p>
                                                <input type="checkbox" name="question_@question.SurveyGroupQuestion.RecNo" ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" value="@response.SurveyResponseItemID" /> @response.Response
                                                @if (response.Response.ToLowerInvariant().Contains("other"))
                                                {
                                                    <input ng-model="vm.qestion_txtresponse_@questionNumber" class="form-control ng-pristine ng-invalid ng-invalid-required" id="txtOtherResponse_@questionNumber" name="txtOtherResponse_@questionNumber" type="text" placeholder="Please Specify" style="width:200px;" />;
                                                }
                                            </p>
                                        }
                                    </div>
                                </div>
                                        break;
                                case "DropDownList":
                                <div>
                                    <p>@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</p>
                                    <p>
                                        <select ng-required="true" name="SurveyType" ng-model="vm.question_@question.SurveyGroupQuestion.RecNo">
                                            @foreach (var response in question.SurveyQTNResponseList)
                                            {
                                                <option value="@response.SurveyResponseItemID">@response.Response</option>
                                            }
                                        </select>

                                    </p>
                                </div>
                                            break;
                                case "MultiLineTextBox":
                                <div>
                                    <p style="font-weight:bold;">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</p>
                                    <div style="margin-left:2.5%;">
                                        @foreach (var response in question.SurveyQTNResponseList)
                                        {
                                            <p><textarea rows="5" cols="60" name="txtarea_questionresonse_@question.SurveyGroupQuestion.RecNo" ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" value="@response.SurveyResponseItemID"></textarea> @response.Response</p>
                                        }
                                    </div>
                                </div>
                                        break;
                                default:
                                        break;
                            }
                            questionNumber++;
                        }
                    </div>
                </div>
            </core-header-panel>
        </form>
    </section>
</core-animated-pages>
