﻿core-toolbar {
    background: #E44424;
    margin-top: 90px;
    display: block;
    align-items: center;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    line-height: 60px;
    /*position:fixed;*/
    z-index:1;
}
    core-toolbar:before {
        content:'';
        position:absolute;
        width:100%;
        height:10px;
        top:-10px;
        background-color:#fff;
    }
core-toolbar .finishbtn1, core-toolbar .searchinput{
    float: right;
    line-height: normal;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    }
core-toolbar input[value^="Previous"] {float: left;}
core-animated-pages {
    overflow:auto !important;
}
/*core-header-panel > core-toolbar + div:nth-of-type(1)  {
    margin-top:170px !important;
}*/
