﻿
/* =============================================================================
1024px up ('mobile') styles
============================================================================= */
@media screen and (max-width:1024px) {
    body .container {
        margin-top: 12%;
    }

    .nav > li > a {
        padding: 10px 8px;
    }
}
/* =============================================================================
768px up ('mobile') styles
============================================================================= */
@media(max-width:768px) {
    body .container {
        margin-top: 17%;
    }

    .navbar .nav > li > a {
        margin-top: 0px !important;
    }

    .datagadget_logindiv {
        width: 75% !important;
    }

    core-toolbar {
        margin-top: 130px !important ;
    }
    .documenttion {
        margin:auto !important;
    }
        
}
/* =============================================================================
960px up ('mobile') styles
============================================================================= */
@media screen and (max-width:960px) {


    core-toolbar {
        margin-top: 160px ;
    }

}
/* =============================================================================
600px up ('mobile') styles
============================================================================= */
@media screen and (max-width:600px) {


    core-toolbar {
        margin-top: 120px;
    }
    .selectFollowup{ right: 134px !important;}
    .showPdf { right:-15px !important;               
    width: 67%;
    } 
}
/* =============================================================================
568px  ('mobile') styles
============================================================================= */
@media screen and (max-width:568px) {
    core-toolbar {
        margin-top: 125px ;
    }

    .check_box {
        float: left !important;
        width: 100% !important;
        height: 47px !important;
        margin-left:0px !important;
    }
    .documenttion textarea {
            width:100% !important;
        }
}
/* =============================================================================
360px  ('mobile') styles
============================================================================= */
@media screen and (max-width:360px) {

    core-toolbar {
        margin-top: 116px ;
    }
    .logodiv {
        width: 90%;
    }
}
/* =============================================================================
320px  ('mobile') styles
============================================================================= */
@media screen and (max-width:320px) {

    core-toolbar {
        margin-top: 116px ;
    }
     .showPdf {
     font-size:11px;
    }
}
/* =============================================================================
318px and 767px up ('mobile') styles
============================================================================= */
@media screen and (min-width:318px) and (max-width:767px) {
    ul.nav-tabs.nav-justified li a { line-height:10px !important;
    }

.divgrid { width:100% !important;
    }
    core-toolbar {
        margin-top: 116px !important;
    }

    .questi_div {
        width: 90% !important;
    }

    .documenttion {
        width: 90% !important;
    }

    .questi_dropedown {
        width: 75% !important;
    }

    .pOptions textarea {
        width: 100%;
    }

    .pOptions {
        width: 100% !important;
    }

    .dateField {
        width: 84%;
    }

    .input-group-btn {
        float: right;
        margin-right: 40px;
    }

    canvas {
        position: relative;
    }

    .spanHead {
        float: none !important;
    }

    .spanHead1 {
        float: none !important;
    }


    .scroll-grid {
        overflow-x: scroll;
    }

    .core-toolbar {
        margin-top: 130px !important;
    }



    .paginationDiv {
        text-align: center !important;
        width:100%;
    }


    #myTabContent {
        overflow-x: initial;        
        width:100%;
    }

    .navbar-header img {
        margin-left: 0px !important;
    }

    .navbar .nav > li > a {
        margin-top: 0px !important;
        font-size: 10px;
    }

    .dropdown-menu li {
        width: 100%;
        line-height: 8px !important;
        background:transparent;
        border-bottom:transparent;
    }

    .navbar-nav {
        width: 100%;
    }

    .dropdown-menu .divider {
        border: none !important;
        margin: 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu {
        margin-top: -5px;
        display: inline-block;
        width: 100%;
    }

        .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
            background-color: transparent;
        }

    .navbar .caret {
        float: right;
        margin-top: 10px;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #ccc;
        width: 98%;
        background: #333;
    }

    .nav > li {
        border-bottom: solid 1px #f5f5f5;
    }

    .searchinput {
        WIDTH: 45% !important;
    }

   .btn {
        margin: 0.0em;
    }

    .sales_quata {
        padding: 0px !important;
        margin: 10px 0px !important;
    }

    .abovebelow_div {
        margin-top: 0px !important;
    }

    .pull-right {
        width: 100%;
    }

    .tadmin {
        right: 0px !important;
        font-size: 12px !important;
    }

    .modal.in .modal-dialog {
        width: 95% !important;
    }

    body .container {
        margin-top: 20%;
    }

    .ng-scope {
        overflow-x: inherit;
    }

    core-header-panel {
        top: 30%;
    }

  

        .documenttion ul {
            width: auto;
        }

    .programe_base {
        width: 87% !important ;
        margin: 0 !important;
        min-height:75px !important;
    }

    .btn > i {
        margin-right: 0;
    }

    .datagadget_logindiv {
        width: 100%;
    }
    .genderSelect {
   
    right: 0 !important;
    width: 100% !important;
}
 .modal-footer {
    
    display: inline-block;
    width: 100%;
}
 .program_control
 {
     min-height:initial;
 }
 .help
 {
     margin-right:0px !important;
 }
 .dischargePading {
    margin-left: 10px !important;
}
 .ng-scope td .btn {
  margin-right: 2px;
  padding-left: 3px;
 
}
.selectFollowup {
  position: relative !important;
  top: 0px !important;
  width: 30%;
  left: 10px;
  float: left;
}
    .margin_left {
     margin-left:0px !important;
    }
    .Welcome-Message {
    width: 100% !important;
    
}
    .pad_left {
    padding-left:0px !important;
}
    .widget-height {
min-height:680px !important;
}
    .paginationheight {
margin-top: -24% !important;
}
    .widget .widget-content {
     padding-bottom:60px;
    }

   
}
