﻿/*#region Override background color theme */


/*One time events*/
.spanHead {
    float: left;
    width: 50%;
}

.spanHead1 {
    float: left;
    width: 50%;
}


/*polymer*/
paper-button.green {
    color: #b6ff00;
}

paper-button[raised].green {
    background: #b6ff00;
    color: #fff;
}

paper-button.red {
    color: #ff0000 !important;
}

paper-button[raised].red {
    background: #ff0000;
    color: #fff;
}

paper-button.blue {
    color: #0026ff;
}

paper-button[raised].blue {
    background: #0026ff;
    color: #fff;
}



paper-checkbox {
    padding: 10px 20px 10px 20px;
}

    paper-checkbox.blue::shadow #ink[checked] {
        color: #4285f4;
    }

    paper-checkbox.blue::shadow #checkbox.checked {
        border-color: #4285f4;
    }





/*For Bootstrap 3*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
}

core-header-panel {
    height: 100%;
    position: absolute;
    top: 13%;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    background-color: #FFF;
}

.navbar-inverse {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.07) !important;
}

.sidebar-widget form {
    margin: 0em -1em;
}

.sidebar .navi > li > a {
    background-color: #333 !important;
}

.sidebar .navi li ul li a {
    color: #fff;
}

    .sidebar .navi li ul li a:hover {
        color: #52b9e9;
    }

    .sidebar .navi li ul li a:disabled {
        color: #999;
    }

.navbar-inverse .btn-navbar {
    background-color: #333;
}

    .navbar-inverse .btn-navbar:hover {
        background-color: #333;
    }

.sidebar {
    margin-top: -2px;
}

    .sidebar .sidebar-inner {
        background-color: #333;
    }

.sidebar-filler {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    width: 230px;
}

/*#endregion */

/* #region Main Styles */

.ng-cloak {
    display: none !important;
}

select > option {
    color: black;
}

input.form-control,
select.form-control,
textarea.form-control {
    /*width: 205px;*/
    width: 60%;
    display: inline;
    display: block;
}

.widget .padd {
    /*margin-bottom: 0;*/
    /*padding: 1em 0;*/
    height: 12em;
}

    .widget .padd.padd-tight {
        padding: 6px;
    }

.list-flow.list-flow-tight {
    width: 90px;
}


.map {
    height: 228px;
}

.btn > i {
    margin-right: 0;
}

.btn {
    margin-right: 4px;
    margin-left: 4px;
}

    .btn.btn-notext > i {
        margin-right: 0;
    }

.btn-group {
    margin: .2em;
}


small {
    font-size: 14px;
}

.text-subtle {
    color: #b7b7b7;
}

.page-title-subtle {
    color: white;
}

.page-title {
    color: #767676;
    margin-right: 12px;
}

.right {
    clear: right;
    float: right;
}

.widget-content .padd:hover {
    cursor: pointer;
    color: white;
    background-color: #52b9e9;
}

.text-info {
    color: #767676;
}

.widget-content .padd:hover * {
    color: white;
}

.list-flow {
    margin: 6px;
    float: left;
    width: 110px;
    height: 120px;
    border-bottom: solid 0 transparent;
    padding: 1.5% .5%;
}

.name-stack h5 {
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 18px !important;
}


.search-query {
    margin: 2px auto 8px auto !important;
}

.fa-search {
    color: #FFFFFF;
}

.form-search {
    min-height: 2em;
}

.input-group[class*="col-"] {
    width: 80%;
    margin: 0 1.5em;
}

.user .user-pic {
    display: block;
    margin: auto;
}

.user .user-details {
    margin-left: 100px;
    margin-right: 10px;
}

.widget-content {
    padding: 1em;
    margin: 0;
}

.stacked {
    float: none !important;
    display: block;
    margin: auto;
}

.navbar .navbar-brand {
    /*background: url(/content/images/icon.png) no-repeat left center !important;*/
    background: url(/content/images/datagadget-logo-small.png) no-repeat left center !important;
    margin: 0 1em;
    width: 100px;
}

.navbar .brand-title {
    margin-left: 2em;
    color: #FFFFFF;
}

.navbar-logo img {
    height: 20px;
}

.today-datas li {
    padding: 20px 14px;
}

/*#region Splash */
#splash-page {
    z-index: 99999 !important;
}

    #splash-page .bar {
        width: 100%;
    }

.page-splash {
    z-index: 99999 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.page-splash-message {
    text-align: center;
    margin: 20% auto 0 auto;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    color: #F58A00;
    padding: 0;
}

    .page-splash-message.page-splash-message-subtle {
        margin: 30% auto 0 auto;
        font-size: 200%;
    }

.fa-asterisk.fa-asterisk-large {
    font-size: 180%;
    vertical-align: middle;
    color: #F58A00;
}

.fa-asterisk.fa-asterisk-alert {
    color: #F58A00;
}

.fa-asterisk-inline {
    padding: 0 4px 0 0;
}


.progress,
.page-progress-bar {
    margin: 30px 10% !important;
}

.spinner {
    margin: 20% auto 0 auto;
    left: auto;
    top: auto !important;
}
/*#endregion*/

table th > a {
    font-weight: bold;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    cursor: pointer;
}


.widget-content.referrer {
    border-width: 0;
}

a {
    cursor: pointer;
}

/* #endregion */

/*#region wrapper for angular ng-include and ng-view animations*/
.view-container {
    position: relative;
    overflow: hidden;
}
/*#endregion */

/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

    .shuffle-animation.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
/*#endregion*/

/*#region Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    opacity: 1;
}

    .fader-animation.ng-enter,
    .fader-animation.ng-leave.ng-leave-active {
        opacity: 0;
    }

        .fader-animation.ng-enter.ng-enter-active {
            opacity: 1;
        }

.fader-animation.ng-move {
    opacity: 0.5;
}

    .fader-animation.ng-move.ng-move-active {
        opacity: 1;
    }

/*#endregion*/

/*#region Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove {
    display: inline !important;
}

.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    -webkit-transition: 0.8s linear all;
    -moz-transition: 0.8s linear all;
    -o-transition: 0.8s linear all;
    transition: 0.8s linear all;
}

    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }

        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }
/*#endregion */

/*#region toastr */
#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
    margin: 4px auto;
}
/*#endregion */

/*#region Responsive */

@media (max-width: 979px) {
    .sidebar-filler {
        width: 200px;
    }

    .nav-collapse {
        clear: none;
    }

        .nav-collapse .nav > li {
            float: left;
        }

    .navbar .btn-navbar {
        display: none;
    }

    .nav-collapse,
    .nav-collapse.collapse {
        height: inherit;
        overflow: inherit;
    }

    .page-splash-message {
        font-size: 300%;
    }

    .btn-group.pull-right {
        float: none !important;
        display: block;
    }
}

@media (max-width: 767px) {
    .sidebar-filler {
        display: none;
    }

    .nav-collapse {
        clear: both;
    }

        .nav-collapse .nav > li {
            float: none;
        }

    .navbar .btn-navbar {
        display: block;
    }

    .nav-collapse,
    .nav-collapse.collapse {
        height: 0;
        overflow: hidden;
    }

    .page-splash-message {
        font-size: 200%;
        margin: 40% auto 0 auto;
    }

        .page-splash-message.page-splash-message-subtle {
            font-size: 150%;
        }

    .sidebar .sidebar-inner {
        height: inherit;
    }

    .content {
        margin-left: 0px;
        margin-right: 0px;
    }

    .margin_left input[type="radio"], input[type="checkbox"] {
        width: 30px !important;
    }
}

@media (max-width: 320px) {
    .today-datas li {
        padding: 1em .5em;
        line-height: 1em;
    }

        .today-datas li i {
            font-size: 2em;
        }

        .today-datas li .datas-text span {
            font-size: 1em;
        }

    .btn {
        margin: .2em;
        /*width: 7em;*/
    }

    .documenttion {
        width: 95% !important;
    }

    .btn-group > .btn {
        display: block;
        width: 7em;
    }

    .btn-group.pull-right {
        margin: .2em 0;
    }

    input,
    select {
        width: 94% !important;
    }

        input[type="checkbox"], input[type="radio"] {
            width: 20% !important;
        }

    .content {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px !important;
    }

    textarea {
        width: 80%;
    }

    .img-polaroid.user-pic {
        width: 5em;
    }

    .user .user-details {
        margin-left: 7em;
        margin-right: .5em;
    }

    h3 {
        font-size: 1.5em !important;
        line-height: 1.2em !important;
    }
}

/*#endregion */

.gridHeader {
    font-size: 14px;
    color: #FFFFFF;
    vertical-align: bottom;
    border: none;
    background-color: #67BCDB;
}

    .gridHeader > th > a {
        color: #FFFFFF;
    }


.dataTileSubTable {
    font-size: 11px;
    color: #f58025;
    vertical-align: top;
    border-bottom: 1px solid #dddddd;
}

    .dataTileSubTable a {
        font-size: 11px;
        color: #f58025;
    }

.nestedTable {
    margin-left: 20px;
    width: 95%;
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
}

    .nestedTable > tbody > tr > td {
        border-top: 0px solid #f8f8f8;
    }

.tableScroll {
    height: 90px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nestedScrollDiv {
    /* max-height: 200px;*/
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F7F7F7;
    padding: 5px 0;
}

nestedBtn {
    background: url('/Content/images/table_icon.png') no-repeat transparent center center;
    cursor: pointer;
    height: 20px;
    width: 25px;
    padding: 0px;
    text-align: center;
    border: none;
}

.nestedBtnExpand {
    background: url('/Content/images/table_icon_expand.png') no-repeat transparent center center;
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 0px;
    text-align: center;
    border: none;
}

.tableContent {
    width: 97%;
    height: 100%;
    margin: 10px;
    padding-right: 0px;
    border: 1px solid #dddddd;
    background-color: transparent;
}

.modal-title {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 1.17em !important;
    font-weight: bold;
    color: #FFF;
}

.datagadget_logindiv {
    margin: 0 auto;
    width: 30%;
}



.dropdown-menu {
    min-width: 190px !important;
}

.inputtextbox {
    width: 100%;
}

.onetimerow {
    width: 100%;
    padding-bottom: 5px;
    display: inline-block;
}

.programe_base b {
    font-weight: 100;
}

table tr > td {
    /*text-align: left !important;*/
}

.ng-valid-date ul li {
    float: none;
}

.arrowcolor {
    color: #fff;
}

.input-group-btn {
    margin-right: 0;
}

.finishbtn {
    border-radius: 5px !important;
    background: #E44424;
    padding: 2px 15px !important;
    color: #FFF;
    border: solid 1px #E44424 !important;
    font-size: 14px;
    font-weight: bold;
}

    .finishbtn:hover {
        border-radius: 5px !important;
        background: #E44424;
        padding: 2px 15px !important;
        color: #FFF;
        border: solid 1px #E44424 !important;
        font-size: 14px;
        font-weight: bold;
    }

.finishbtn1 {
    border-radius: 5px !important;
    background: #FFF;
    padding: 2px 15px !important;
    color: #E44424;
    border: solid 1px #f6f0f0 !important;
    font-size: 14px;
    font-weight: bold;
    width: auto !important;
    /*position: absolute;
    right: 0px;
    top: 0px;*/
}

.nextbtn{
    float:right;
}

.prebtn{
    float:left;
}


    .finishbtn1:hover {
        border-radius: 5px !important;
        background: #E44424;
        padding: 2px 15px !important;
        color: #FFF;
        border: solid 1px #FFF !important;
        font-size: 14px;
        font-weight: bold;
    }

.button {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #E44424;
    font-weight: bold;
    cursor: pointer;
}

#circle2 {
    position: absolute !important;
    top: 35px;
    right: 1em;
    z-index: 1;
}

.questi_div {
    float: left;
    width: 70%;
    margin-bottom: 5px;
}

.questi_dropedown {
    float: left;
    width: 25%;
    margin-bottom: 5px;
}

.list-unstyled {
    text-align: left;
    margin: 0 auto;
    width: 180px;
    margin-top: 50px;
}

.badge {
    float: left;
}

.re_link {
    width: 100%;
    text-align: left;
    display: inline-block;
}

    .re_link ul {
        margin: 0;
        padding: 0;
    }

        .re_link ul li {
            float: left;
            width: 100%;
            margin-left: 20px;
        }

            .re_link ul li a {
                text-transform: uppercase;
                font-size: 16px;
                line-height: 20px;
            }

                .re_link ul li a:hover {
                    text-decoration: underline !important;
                }

#treatmentdashboard {
    margin-top: 0%;
}

#chartContainer, #chartContainer2 {
    margin-top: 30px;
    height: 500px;
    width: 100%;
}
/*Dash board bullet chart css*/

.sales_quata {
    display: inline-block;
    width: 100%;
    padding-bottom: 6px;
}

.gref_div {
    float: left;
    width: 100%;
}

.name_div {
    width: 20%;
    font-size: 12px;
    float: left;
    color: #767676;
    text-align: right;
    line-height: 30px;
    padding: 0px 10px 0px 0px;
    border-right: solid 1px #ccc;
    margin-right: -1px;
}

.grf_container {
    width: 65%;
    float: left;
    border-left: solid 1px #ccc;
}

.grefbar {
    width: 100%;
    float: left;
    position: relative;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.progress {
    height: 20px;
    margin: 5px 5px 10px 7px !important;
    background-color: white;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.abovebelow_div {
    width: 100%;
    float: left;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 11px;
}

.abovequota {
    float: left;
    margin-bottom: 3px;
    line-height: 10px;
    text-align: right;
    padding: 0px 5px;
}

    .abovequota > i {
        width: 10px;
        height: 10px;
        background: #449d44;
        display: inline-block;
        margin-right: 4px;
        color: #767676;
    }

.belowquota {
    float: left;
    line-height: 10px;
    text-align: right;
    padding: 0px 5px;
    color: #767676;
    margin-bottom: 3px;
}

    .belowquota i {
        height: 10px;
        width: 10px;
        background: #5dc75d;
        display: inline-block;
        margin-right: 4px;
    }

.belowquota1 {
    float: left;
    line-height: 10px;
    text-align: right;
    padding: 0px 5px;
    color: #767676;
}

    .belowquota1 i {
        height: 10px;
        width: 10px;
        background: #a3e0a3;
        display: inline-block;
        margin-right: 4px;
    }

.legandremaingHours {
    float: left;
    line-height: 10px;
    text-align: right;
    padding: 0px 5px;
    color: #767676;
}

    .legandremaingHours i {
        height: 10px;
        width: 10px;
        background: #d9534f;
        display: inline-block;
        margin-right: 4px;
    }


.target {
    background: url(../Content/images/target.jpg) no-repeat;
    width: 4px;
    height: 23px;
    position: absolute;
    margin-top: 3px;
    left: 30%;
}

.salesM {
    float: left;
    width: 100%;
    border-top: solid 1px #ccc;
}

    .salesM ul {
        margin: 0;
        padding: 0;
    }

        .salesM ul li {
            float: left;
            list-style: none;
            background: url(../Content/images/barline.jpg) 21px 0px no-repeat;
            width: 9%;
            padding: 9px 0px;
            text-align: center;
        }

            .salesM ul li:last-child {
                padding: 1% 0% 1% 3%;
            }

    .salesM p {
        text-align: center;
    }

.progress-bar-danger {
    background-color: #E44424;
}

.progress-bar-success {
    background-color: #A2AB58;
}

#cahrt-head {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 800;
}

.avgresult {
    float: left;
    width: 6%;
    color: black;
    font-weight: bold;
}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    /*left: 50%;*/
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    /*left: 50%;*/
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
/*Dash board bullet chart css*/






#loginDiv {
    background-image: url('../../Content/images/img8.jpg');
    background-size: cover;
    / opacity: 1;
    / transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    background-position: center;
}

.progress-bar-danger-step1 {
    /*background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image:         linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
  background-repeat: repeat-x;*/
    background: #d9534f;
    display: block;
}

.progress-bar-danger-step2 {
    /*background-image: -webkit-linear-gradient(top, #ff1919 0%, #ff1919 100%);
  background-image:         linear-gradient(to bottom, #ff1919 0%, #ff1919 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
  background-repeat: repeat-x;*/
    background: #ff1919;
    display: block;
}

.progress-bar-danger-step3 {
    /*background-image: -webkit-linear-gradient(top, #fc8d8d 0%, #fc8d8d 100%);
  background-image:         linear-gradient(to bottom, #fc8d8d 0%, #fc8d8d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
  background-repeat: repeat-x;*/
    background: #fc8d8d;
    display: block;
}


.progress-bar-success-step1 {
    /*background-image: -webkit-linear-gradient(top, #449d44 0%, #449d44 100%);
  background-image:         linear-gradient(to bottom, #449d44 0%, #449d44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  background-repeat: repeat-x;*/
    background: #449d44;
    display: block;
}


.progress-bar-success-step2 {
    /*background-image: -webkit-linear-gradient(top, #5dc75d 0%, #5dc75d 100%);
  background-image:         linear-gradient(to bottom, #5dc75d 0%, #5dc75d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  background-repeat: repeat-x;*/
    background: #5dc75d;
    display: block;
}

.progress-bar-success-step3 {
    /*background-image: -webkit-linear-gradient(top, #a3e0a3 0%, #a3e0a3 100%);
  background-image:         linear-gradient(to bottom, #a3e0a3 0%, #a3e0a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  background-repeat: repeat-x;*/
    background: #a3e0a3;
    display: block;
}



.progress-bar-success-step4 {
    background-image: -webkit-linear-gradient(top, #FF5800 0%, #FF5800 100%);
    background-image: linear-gradient(to bottom, #FF5800 0%, #FF5800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
    background-repeat: repeat-x;
}


.progress-bar-success-step5 {
    background-image: -webkit-linear-gradient(top, #FF7538 0%, #FF7538 100%);
    background-image: linear-gradient(to bottom, #FF7538 0%, #FF7538 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-success-step6 {
    background-image: -webkit-linear-gradient(top, #FFA500 0%, #FFA500 100%);
    background-image: linear-gradient(to bottom, #FFA500 0%, #FFA500 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
    background-repeat: repeat-x;
}

/* for Tabs*/


ul.nav-tabs.nav-justified {
    display: inline-block;
    float: left;
    height: auto;
    margin: 1.5% 3% 0;
    width: 94%;
    padding: 8px 0;
}

    ul.nav-tabs.nav-justified li {
        display: inline;
        float: left;
        height: auto;
        margin-right: 0;
        position: relative;
        background: #e7e7e7;
        width: 33.3%;
    }

        ul.nav-tabs.nav-justified li:first-child:before {
            content: " ";
            line-height: 42px;
            float: left;
            position: relative;
            height: 39px;
            width: 13px;
            z-index: 100;
            background: none;
        }

        ul.nav-tabs.nav-justified li:first-child.active:before {
            content: " ";
            line-height: 42px;
            float: left;
            position: relative;
            height: 39px;
            width: 13px;
            z-index: 100;
            background: #00689a;
        }

        ul.nav-tabs.nav-justified li:last-child:after {
            content: " ";
            line-height: 42px;
            float: left;
            position: relative;
            height: 39px;
            width: 13px;
            z-index: 100;
            background: none;
        }

        ul.nav-tabs.nav-justified li:last-child {
            padding-right: 8px;
        }

            ul.nav-tabs.nav-justified li:last-child.active:after {
                content: " ";
                line-height: 42px;
                float: left;
                position: relative;
                height: 39px;
                width: 13px;
                z-index: 100;
            }

        ul.nav-tabs.nav-justified li:before {
            content: " ";
            line-height: 42px;
            float: left;
            position: relative;
            background: url(/content/images/tabscorvu_right.png) left center no-repeat;
            height: 39px;
            width: 13px;
            z-index: 100;
        }

        ul.nav-tabs.nav-justified li:after {
            content: " ";
            line-height: 42px;
            float: right;
            position: relative;
            background: url(/content/images/tabscorvu_right.png) left center no-repeat;
            height: 39px;
            width: 13px;
            margin-right: -12px;
            z-index: 9998;
        }

        ul.nav-tabs.nav-justified li a {
            color: #999;
            display: inline-block;
            font-size: 12px;
            line-height: 15px;
            padding: 12px 3px 7px 12px;
            text-align: left;
            text-transform: uppercase;
            width: 93%;
            border: none;
            position: absolute;
        }

            ul.nav-tabs.nav-justified li a:hover {
                border: none;
                background: none;
            }

        ul.nav-tabs.nav-justified li.active {
            color: #fff;
            background: #00689a;
            border: medium none;
        }

            ul.nav-tabs.nav-justified li.active a {
                color: #fff;
                background: url(/content/images/down_act.png) center bottom no-repeat #00689a;
                border: medium none;
            }

                ul.nav-tabs.nav-justified li.active a:hover {
                    background: none;
                    border: none;
                }

            ul.nav-tabs.nav-justified li.active:before {
                content: " ";
                line-height: 42px;
                float: left;
                position: relative;
                background: url(/content/images/tabscorvu_left_act.png) left center no-repeat;
                height: 39px;
                width: 13px;
                z-index: 80;
            }

            ul.nav-tabs.nav-justified li.active:after {
                content: " ";
                line-height: 42px;
                float: right;
                position: relative;
                background: url(/content/images/tabscorvu_right_act.png) left center no-repeat;
                height: 39px;
                width: 13px;
                margin-right: -12px;
            }

.tab-content {
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    width: 94%;
}

.formDiv {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 20px;
}

    .formDiv > span:first-child {
        display: inline-block;
        margin-bottom: 5px;
        width: 100%;
    }

.popGrid {
    padding: 10px 20px;
}

.selectFollowup {
    position: absolute;
    top: -45px;
    right: 180px;
}

.selectFollowup2 {
    position: relative;
}

.listrow {
    width: 100%;
}

.margin_left input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 !important;
    margin-right: 5px !important;
    line-height: 23px !important;
    border: 0 !important;
    width: 20px;
    height: 15px;
}

.margin_left core-label {
    width: 100%;
}

.logodiv {
    width: 170px;
    position: relative;
    z-index: 999;
    top: 0;
}

    .logodiv img {
        max-width: 100%;
    }

.divgrid {
    float: left;
    width: 33%;
    margin-right: 3px;
    border: solid 1px #ccc;
}

.pad {
    padding-top: 27px;
}




/*top nav*/

.navbar-nav {
    float: left;
    margin: 0 0 0 0;
}

core-toolbar {
    background: #E44424;
    margin-top: 90px;
}

core-header-panel {
    top: 0 !important;
}

.navbar .nav > li > a {
    font-size: 16px !important;
    color: #00d0e0 !important;
    margin-top: 30px;
}

.nav > li {
    position: static;
    display: block;
    cursor: default;
}

.open > .dropdown-menu {
    display: block;
    width: 100%;
}

core-animated-pages {
    top: 0 !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff !important;
    background-color: #00d0e0;
}

.dropdown-menu {
    background: #fff;
    border-radius: 0;
    border-top: 2px solid #00d0e0;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px 5px 0px;
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu li {
    color: #777;
    font-size: 12px;
    line-height: 18px;
    float: left;
}

.tadmin {
    position: absolute;
    right: 15px;
    cursor: pointer;
    padding: 2px 10px;
    color: #00d0e0;
    font-size: 16px;
    z-index: 99;
    font-weight: normal;
}

.logout {
    position: absolute;
    right: 15px;
    top: 25px;
    display: none;
    padding: 5px 15px;
    text-align: right;
    border: solid 1px #f5f5f5;
    background: #F1F1F1;
    color: #00d0e0;
    cursor: pointer;
    z-index: 99;
    border-top: solid 1px #00d0e0;
}

    .logout.active {
        display: block;
    }
/*End Top Nav*/

.bottomlogos {
    width: 33%;
    padding: 1% !important;
    text-align: center;
}

    .bottomlogos img {
        max-width: 100%;
    }

.surveybtn {
    float: right;
    position: absolute;
    right: 10px;
    top: 15px;
}

.showPdf {
    position: absolute;
    top: -49px;
    right: -27px;
}

    .showPdf:hover {
        opacity: 0.8;
    }

.posttest {
    position: absolute;
    left: 300px;
    padding-top: 20px;
}

.pretest {
    position: absolute;
    left: 30px;
    padding-top: 20px;
}

.editfinishbtn {
    border-radius: 5px !important;
    background: #E44424;
    padding: 2px 15px !important;
    color: #FFF;
    border: solid 1px #E44424 !important;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 22px;
}

.footerlogos {
    margin: 0 auto;
    width: 40%;
}

.panel-bottom {
}

.commentdiv {
    width: 70%;
    padding-left: 25px;
    float: left;
}

.commentstextbox {
    width: 100%;
    height: 150px;
}

.viewsave {
    text-align: center;
    font-weight: 800;
    FONT-SIZE: 14PX;
    COLOR: #000;
}

.programe_base {
    float: left;
    width: 235px;
    height: auto;
    margin: 0 27px;
    min-height: 108px;
}

.indigen-fund .programe_base {
    width: 225px;
}

.programe_base_width {
    width: 275px !important;
}

.dateField {
    width: 94% !important;
}

.dischargePading {
    margin-left: 50px;
}



.genderSelect {
    display: inline-block;
    height: 60px;
    padding: 10px;
    position: relative;
    right: -120px;
    text-align: right;
    width: 60%;
}

#textAngular-editableFix-010203040506070809 {
    display: none !important;
}

.help {
    text-align: right;
    margin-right: 100px;
}

.help-block {
    color: red !important;
}

tr.expand {
    display: table-row;
}

.programe_control {
    float: left;
    width: 200px;
    min-height: 97px;
    margin: 0 27px;
}

    .programe_control input[type="text"],
    .programe_control input[type="password"],
    .programe_control input[type="email"],
    .programe_control select,
    .programe_control textarea,
    .programe_control input[type="number"] {
        width: 100%;
    }

    .programe_control .dateField {
        width: 92% !important;
    }

.clear {
    clear: both;
}

.clear10 {
    clear: both;
    padding-bottom: 10px;
}

.finish {
    margin: 10px 27px;
}

.modal-size {
    width: 55%;
}

.modal-body {
    padding: 20px 10px;
}

.followUpDiv .modal-dialog {
    width: 55%;
}

.paginationDiv {
    padding: 0px 10px;
    text-align: center;
}

.documenttion textarea {
    width: 100%;
    min-height: 150px;
    background: #fff;
}

.Welcome-Message {
    width: 30%;
    padding: 20px;
}

.detailsText {
    padding: 5px 10px;
    font-size: 12pt;
}

.detailsfooter {
    background: #ddd;
    padding: 7px 20px;
    text-align: right;
}

.detailsHeader {
    background: #eee;
    color: #000 !important;
}

.detail-body {
    background: #fff;
    height: 400px;
    overflow-y: scroll;
}

.widget-height {
    min-height: 640px;
}

.paginationheight {
    margin-top: -14%;
    float: right;
    padding-right: 2%;
}

.responseSelect {
    width: 35%;
}



.div-intake span {
    display: block;
}

    .div-intake span input {
        margin-right: 0 !important;
        width: auto;
        float: left;
        margin-top: 8px !important;
    }

    .div-intake span p {
        margin-left: 20px !important;
    }

.table {
    margin-bottom: 0px;
}
