﻿.panel-heading {
    height: 38px;
    padding: 7px 15px;
}

.panel-title {
    font-weight: 500;
    line-height: 1.1;
}

.panel-default > .panel-heading {
    color: #fff;
    /*background-color: #67BCDB;
        border-color: #ddd;*/
}

.form-control {
    display: block !important;
    width: 85% !important;
    height: 44px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    margin-left: 7%;
}

.panel-primary {
    border-color: #fff !important;
}

.navbar-default {
    border-color: #67BCDB;
}

.panel-default {
    border-color: #ddd;
    border-radius: 10px;
    margin-top: 10%;
}

body {
    background: #fff !important;
    padding-top: 0px !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none !important;
}

.panel-bottom {
    /*margin-bottom: 20px;*/
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    padding: 5px 3px;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}

.pane-headingdiv {
    color: #333;
    background-color: #FFF;
    width: 80%;
    margin-left: 7%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: -5%;
}

legend {
    margin-top: 5px;
    /*margin-bottom: 30px;*/
    padding-bottom: 25px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #333333;
    -webkit-font-smoothing: subpixel-antialiased;
}

.blue {
    color: #E44424 !important;
}
body .container {
    width: 97%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    position: relative;
    margin-top: 0%;
}
/* =============================================================================
    318px and 767px up ('mobile') styles
    ============================================================================= */
@media screen and (min-width:318px) and (max-width:767px) {
    .datagadget_logindiv {
        margin: 0 auto;
        width: 100%;
    }
    
}
