﻿
<link href="content/font-awesome.min.css" rel="stylesheet" />
<link href="../../Content/userstyles.css" rel="stylesheet" />
<div id="loginDiv">
    <div class="container">
        <div class="row" style="margin-top: 5%;height:620px;">
            <div class="datagadget_logindiv">
                <div class="col-md-12">
                    <div class="login-panel panel panel-default">
                        <div class="pane-headingdiv">
                            <div class="panel-title">
                                <legend style="font-weight:300 !important;">
                                    <span class="blue">
                                        <img src="../../Content/images/Data_Header2.jpg" alt="Data Gadget" style="width:60%;">
                                    </span>
                                </legend>
                            </div>
                        </div>
                        <div class="panel-body">
                            <span style="float: left; width: 100%; clear: both; position: relative; text-align: center; font-size: 17px; color: #eb3d1a; margin-bottom: 3%;">Forgot Password</span>
                            <form role="form" ng-submit="validateUser()" novalidate name="loginForm" ng-controller="forgotpassword as vm" style="clear:both;">
                                <fieldset>
                                    <div class="form-group">
                                        <input name="email" placeholder="Email ID" class="form-control" type="text" ng-model="email" ng-enter="validateUser()" autofocus required>
                                        <p style="color:#F00;margin-left: 7% !important;" ng-show="loginForm.email.$invalid && (!loginForm.email.$pristine || isSubmit )" class="help-block">Please enter a valid Email Address</p>
                                    </div>
                                    <div class="has-error" style="color: #F00;padding: 0 5% 10px 5%;">
                                        {{errormsg}}
                                    </div>
                                    <div style="width: 85%;border-bottom: 1px solid #e5e5e5; margin-bottom: 7%; margin-left: 7%;"></div>

                                    <div>

                                        <button class="btn btn-lg btn-success btn-block" type="submit" style="background: #E44424 !important; width: 85%; border: none;margin-left:7%;   border-radius: 4px !important; -mox-border-radius: 4px !important; -webkit-border-radius: 4px !important;">Submit</button>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->

                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" style=" width: 86%; margin:0 auto; padding-top:5px;">
    <div class="footerlogos">
        <div class="panel-bottom panel-primary bottomlogos">
            <a target="_blank" href="http://www.dreaminc.org"><img src="../../Images/DreamLogo.jpg"></a>
        </div>
        <div class="panel-bottom panel-primary bottomlogos">
            <a target="_blank" href="http://www.dmh.state.ms.us/"><img src="../../Images/dmhlogo.jpg"></a>
        </div>
        <div class="panel-bottom panel-primary bottomlogos">
            <a target="_blank" href="http://www.trinitywave.com/"><img src="../../Images/trinity_logo.jpg"></a>
        </div>
        <div>

        </div>
    </div>

</div>
