﻿<link href="../../Content/userstyles.css" rel="stylesheet" />
<link href="content/font-awesome.min.css" rel="stylesheet" />


<div id="loginDiv">
    <div class="container">
        <div class="row" style="margin-top: 5%;height:620px;">
            <div class="datagadget_logindiv">
                <div class="col-md-12">
                    <div class="login-panel panel panel-default">
                        <div class="pane-headingdiv">
                            <div class="panel-title">
                                <legend style="font-weight:300 !important;">
                                    <span class="blue">
                                        <img src="../../Content/images/Data_Header2.jpg" alt="Data Gadget" style="width:60%;">
                                    </span>
                                </legend>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form role="form" ng-submit="validateUser()" novalidate name="loginForm" ng-controller="login as vm">
                                <fieldset>
                                    <div class="form-group">
                                        <input name="username" placeholder="User Name" class="form-control" type="text" ng-model="userName" ng-enter="validateUser()" autofocus required>
                                    </div>
                                    <div class="form-group">
                                        <input name="password" placeholder="Password" class="form-control" type="password" ng-model="password" ng-enter="validateUser()" required />
                                    </div>

                                    <!--<div style="width: 86%;margin-top: 2%; float: left; border-bottom: 1px solid #e5e5e5; margin-bottom: 7%; margin-left: 7%;"></div>-->
                                    <!--padding-top: 40px log-->
                                    <!--padding-top: 10px error-->

                                    <div>
                                        <!--<label style=" margin-top: 2%; float: left; margin-left: 3%;width:60%; ">
                                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                        </label>-->

                                        <button class="btn btn-lg btn-success btn-block" type="submit" style="background: #E44424 !important; width: 85%; border: none; margin-left: 7%; margin-top: 6px;    border-radius: 4px !important; -mox-border-radius: 4px !important; -webkit-border-radius: 4px !important;">Login</button>

                                        <div style="width: 85%;  cursor: pointer;  color: #333; text-decoration: underline;margin-left:7%;text-align:right;">
                                            <a href="javascript:void(0)" ng-click="forGotPassword()" target="_self" id="aForgot">Forgot Password</a>
                                        </div>



                                    </div>

                                    <div class="has-error" style="color: #F00;padding: 10px 5%; text-align:center;">
                                        {{loginmessage}}
                                    </div>

                                    <!-- Change this to a button or input when using this as a form -->

                                </fieldset>
                                <div class="has-error" style="color: #F00;padding: 0 5% 10px 5%;font-weight: bold;text-align:center;">
                                    {{errormsg}}
                                </div>



                                <!--<div class="has-error" style="color: #F00;padding: 10px 5%;font-weight: bold;">
                                    {{errormsg1}}
                                </div>-->

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" style=" width: 100%; margin: 0 auto; padding-top: 5px; margin-left: 130px !important;">
    <!--<div class="datagadget_logindiv">-->
    <div class="footerlogos">
        <!--<div class="panel-bottom panel-primary bottomlogos">
            <a target="_blank" href="http://www.dreaminc.org"><img src="../../Images/DreamLogo.jpg"></a>
        </div>-->
        <div class="panel-bottom panel-primary bottomlogos">
            <a target="_blank" href="http://www.dmh.state.ms.us/"><img src="../../Images/dmhlogo.jpg"></a>
        </div>
        <div class="panel-bottom panel-primary bottomlogos">
            <a target="_blank" href="http://www.trinitywave.com/"><img src="../../Images/trinity_logo.jpg"></a>
        </div>
        <div>

        </div>
    </div>

</div>
