﻿<link href="../../Content/customstyles.css" rel="stylesheet" />

<form name="userForm" ng-submit="ok(userForm)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group programe_control" ng-class="{ 'has-error' : userForm.loginId.$invalid && (!userForm.loginId.$pristine || isSubmit ) }">
                <!--<paper-input-decorator label="Login ID" floatinglabel>-->
                <b> Login ID:</b>
                <input name="loginId" type="text" ng-model="user.userName" ng-change="checkUser()" id="loginId" required ng-disabled="isUserName">
                    
                    <span class="error" id="spnUserName" style="color:red;font-size:12px;" ng-show="isvaliduser">User Already Exists</span>
                <!--</paper-input-decorator>-->
                <p ng-show="userForm.loginId.$invalid && (!userForm.loginId.$pristine || isSubmit )" class="help-block">LoginId is required</p>
            </div>
            <!--<span ng-bind="LoginID"></span>-->
        </div>
        <div class="form-group programe_control" ng-class="{ 'has-error' : userForm.password.$invalid && (!userForm.password.$pristine || isSubmit ) }">
           <b>Password:</b>
            <!--<input name="password" type="password" ng-model="user.password" required>
            <p ng-show="userForm.password.$invalid && (!userForm.password.$pristine || isSubmit )" class="help-block">Password is required</p>-->

            <input name="password" type="password" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[~!@#$%^&*()_+])[A-Za-z\d~!@#$%^&*()_+]{8,}$/" required>
            <p ng-show="userForm.password.$error.required && (!userForm.password.$pristine || isSubmit)" class="help-block">Password is required</p>
            <p ng-show="userForm.password.$invalid && (!userForm.password.$pristine || isSubmit )&&(!userForm.password.$error.required)" class="help-block">Password should contain at least 8 characters with 1 number and 1 symbol</p>

        </div>
        <div class="form-group programe_control" ng-class="{ 'has-error' : userForm.confirmedPassword.$invalid && (!userForm.confirmedPassword.$pristine || isSubmit ) }">
           <b>Confirm Password:</b>
            <input name="ConfirmPassword" type="password" ng-model="user.confirmedPassword" required>
            <p ng-show="userForm.confirmedPassword.$invalid && (!userForm.confirmedPassword.$pristine || isSubmit )" class="help-block">Confirm Password is required</p>
            <label ng-show="user.password != user.confirmedPassword" style="color:indianred">Passwords do not match</label>
        </div>
        <div class="form-group programe_control" ng-class="{ 'has-error' : userForm.FirstName.$invalid && (!userForm.FirstName.$pristine || isSubmit ) }">
            <!--<paper-input label="First Name" floatinglabel></paper-input>-->
           <b>First Name:</b>
            <input name="FirstName" type="text" ng-model="user.firstName" required>
            <p ng-show="userForm.FirstName.$invalid && (!userForm.FirstName.$pristine || isSubmit )" class="help-block">First Name is required</p>
        </div>
        <div class="form-group programe_control" ng-class="{ 'has-error' : userForm.LastName.$invalid && (!userForm.LastName.$pristine || isSubmit ) }">
           <b>Last Name:</b>
            <input name="LastName" type="text" ng-model="user.lastName" required>
            <p ng-show="userForm.LastName.$invalid && (!userForm.LastName.$pristine || isSubmit )" class="help-block">Last Name is required</p>
        </div>
        <div class="form-group programe_control" ng-class="{ 'has-error' : userForm.eMailAdd.$invalid && (!userForm.eMailAdd.$pristine || isSubmit ) }">
           <b>E-Mail Address:</b>
            <input name="eMailAdd" type="email" ng-model="user.emailId" ng-change="isdisplay()"  required>

            <span class="error" id="spnemailadd" style="color:red;font-size:12px;" ng-show="isvalidemail">Email already exist</span>
           
            <p ng-show="userForm.eMailAdd.$invalid && (!userForm.eMailAdd.$pristine || isSubmit )" class="help-block">Email is required</p>
        </div>
        <div class="programe_control">
           <b>Office Phone:</b>
                <input name="Office Phone" type="text" ng-model="user.officePhoneNum">
        </div>
        <div class="programe_control">
           <b>Office Fax:</b>
                <input name="OfficeFax" type="text" ng-model="user.officeFaxNum">
        </div>
        <div class="programe_control">
            <b>Years Previous Experience:</b>
                <input name="YearsExp" type="text" ng-model="user.experience">
        </div>
        <div class="form-group programe_control" ng-class="{ 'has-error' : userForm.degree.$invalid && (!userForm.degree.$pristine || isSubmit ) }">
            <b>Degree:</b>
            <select required ng-model="user.degree" id="selDegree" name="degree">

                <option value="None" selected>None</option>
                <option value="ASOC">ASOC</option>
                <option value="ASSC">ASSC</option>
                <option value="BART">BART</option>
                <option value="BSCI">BSCI</option>
                <option value="DOCT">DOCT</option>
                <option value="MAST">MAST</option>
            </select>
            <p ng-show="userForm.degree.$invalid && (!userForm.degree.$pristine || isSubmit )" class="help-block">Degree is required</p>
        </div>

       


        <div class="form-group programe_control" ng-class="{ 'has-error' : userForm.selAgencyName.$invalid && (!userForm.selAgencyName.$pristine || isSubmit ) }">
            <b>Agency Name:</b>
            <select required ng-disabled="isAgencyName" id="selAgencyName" name="selAgencyName" ng-model="user.locationId"   ng-change="getTrtPrgByLocId(user.locationId)"
                    ng-options="item.pKey as item.friendlyName_loc for item in user.locationList"></select>
            <p ng-show="userForm.selAgencyName.$invalid && (!userForm.selAgencyName.$pristine || isSubmit )" class="help-block">Agency Name is required</p>
        </div>
        <div class="form-group programe_control">
            <!--Treatment Program-->
            Primary Residential Program
            <p ng-show="user.treamProgramList.length==0" class="help-block" style="color:indianred">None</p>
            <div ng-repeat="item in user.treamProgramList">
                <label>
                    <input type="checkbox" checkbox-group id="chkProgram" name="chkProgram" ng-model="item.isSelected" ng-disabled="!isShowTreatments" />
                    {{item.programName}}
                </label>
                <!--<span class="error" ng-show="showtreat" style="color:red;font-size:12px;">None</span>-->
            </div>

            <div class="clear"></div>
        </div>

        <div class="form-group programe_control">
            Service Type <!--Intensive Outpatient-->
            <div ng-repeat="item in user.surveySerivesList">
                <label>
                    <input type="checkbox" checkbox-group name="chkSurveyaccess" value="{{item.recNo}}" id="{{item.recNo}}" ng-model="item.isSerivesSelected" ng-click="updateServiceSite(item)" ng-disabled="!isShowTreatments" />   <!--ng-required="!serSites.length""-->
                    {{item.description}}
                </label>

            </div>
            <p ng-show="userForm.chkSurveyaccess.$invalid && (!userForm.chkSurveyaccess.$pristine || isSubmit )" class="help-block" style="color:crimson">Service Type is required</p>
        </div>
        <div class="clear"></div>
        <div class="form-group programe_control">
            Permissions
            <label class="radio" ng-if="isStateLevel">
                <input type="radio" name="level" ng-model="user.level" value="STA1A" required ng-if="isStateLevel">  State Level
            </label>
            <label class="radio" ng-if="isAdminLevel"> <input type="radio" name="level" ng-model="user.level" value="SIT2A" ng-if="isAdminLevel" required> Admin Level </label>
            <!--<label class="radio"> <input type="radio" name="level" ng-model="user.level" value="SIT2A" ng-disabled="isAdminLevel" required> Admin Level </label>-->
            <label class="radio" ng-if="isUserLevel"><input type="radio" name="level" ng-model="user.level" value="SIT3U" ng-if="isUserLevel" required> User Level </label>
            <!--<label class="radio" ng-if="isadministratorLevel"><input type="radio" name="level" ng-model="user.level" value="Admin" ng-if="isadministratorLevel" required> Administrator </label>-->

            <p ng-show="userForm.level.$invalid && (!userForm.level.$pristine || isSubmit )" class="help-block" style="color:indianred">Permission is required</p>
        </div>
        <br />
        <div class="form-group programe_control">
            Site access
            <div ng-repeat="item in user.locationCategoryList">
                <label>
                    <input type="checkbox" checkbox-group name="chkSiteaccess" ng-click="updateSite(item)" value="{{item.categoryID}}" id="{{item.categoryID}}" ng-model="item.isSelected" ng-required="!sites.length" />
                    {{item.surveyCategory}}
                </label>
                <!--<span class="error" ng-show="userForm.chkSiteaccess.$error.required">Site access is required</span>-->
            </div>
            <p ng-show="userForm.chkSiteaccess.$invalid && (!userForm.chkSiteaccess.$pristine || isSubmit )" class="help-block" style="color:crimson">Site access is required</p>
        </div>

       

        <br />
        <div class="clear"></div>
        <div class="form-group programe_control" ng-if="isAdmin" ng-class="{ 'has-error' : userForm.tragetHours.$invalid && (!userForm.tragetHours.$pristine || isSubmit ) }">
            <b>Target Hours:</b>
            <input  name="tragetHours" ng-model="user.hours" ng-pattern="/^[-+]?(?:\d*|\d{1,3}(?:,\d{3})*)(?:\.\d+)?$/" type="number" ng-if="isAdmin" ng-required="isAdmin">
            <p ng-show="userForm.tragetHours.$invalid && (!userForm.tragetHours.$pristine || isSubmit )" class="help-block">Target hours are required</p>
        </div>



        <div class="form-group programe_control" ng-show="isExistingUser">
            <b>Active:</b>
            <input name="chkStatus" type="checkbox" ng-model="user.isActive">

        </div>
        <div class="clear"></div>
    </div>
        <div class="modal-footer">
            <paper-button class="btn-success btn-xs" ng-click="ok(userForm)">OK</paper-button>
            <!--<button type="submit">Login</button>-->
            <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
        </div>
</form>



