﻿<link href="content/font-awesome.min.css" rel="stylesheet" />
<link href="../../Content/customstyles.css" rel="stylesheet" />
<style>
    body {
        padding-top: 0;
    }
</style>
<div id="loginDiv" style="overflow:hidden;">
    <div class="container">
        <div class="row" style="margin-top: 5%;height:620px;">
            <div class="datagadget_logindiv">
                <div class="col-md-12">
                    <div class="login-panel panel panel-default">
                        <div class="pane-headingdiv">
                            <div class="panel-title">
                                <legend style="font-weight:300 !important;text-align:center">
                                    <span class="blue">
                                        <img src="../../Content/images/Data_Header2.jpg" alt="Data Gadget" style="width:60%;">
                                    </span>
                                </legend>
                            </div>
                        </div>
                        <div class="panel-body">
                            <span style="float: left; width: 100%; clear: both; position: relative; text-align: center; font-size: 17px; color: #eb3d1a; margin-bottom: 3%;">Reset Password</span>
                            <form role="form" ng-submit="validateUser()" novalidate name="loginForm" ng-controller="resetpassword as vm" style="clear:both;">
                                <fieldset>
                                    <div class="form-group">
                                        <!--<input name="newpassword" placeholder="New Password" class="form-control" type="password" ng-model="newpassword" autofocus required>
                                        <p style="color:#F00;margin-left: 7% !important;" ng-show="loginForm.newpassword.$invalid && (!loginForm.newpassword.$pristine || isSubmit )" class="help-block">New password is required</p>-->

                                        <input name="newpassword" style="width:100%" placeholder="New Password" type="password" ng-model="newpassword" ng-pattern="/^(?=.*\d)(?=.*[~!@#$%^&*()_+])[A-Za-z\d~!@#$%^&*()_+]{8,}$/" class="form-control" required>
                                        <p style="color:#F00;" ng-show="loginForm.newpassword.$error.required && (!loginForm.newpassword.$pristine || isSubmit)" class="help-block">Password is required</p>
                                        <p style="color:#F00;" ng-show="loginForm.newpassword.$invalid && (!loginForm.newpassword.$pristine || isSubmit )&&(!loginForm.newpassword.$error.required)" class="help-block">Password should contain at least 8 characters with 1 number and 1 symbol</p>

                                    </div>
                                    <div class="form-group">
                                        <input name="conpassword" style="width:100%" placeholder="Confirm Password" class="form-control" type="password" ng-model="conpassword" autofocus required>
                                        <p style="color:#F00;" ng-show="loginForm.conpassword.$invalid && (!loginForm.conpassword.$pristine || isSubmit )" class="help-block">Confirm password is required</p>
                                    </div>

                                    <div class="has-error" ng-bind-html="errormsg" style="color: #F00;padding: 0 5% 10px 5%;">
                                    </div>

                                    <div style="width: 100%;border-bottom: 1px solid #e5e5e5; margin-bottom: 7%; margin-left: 0;"></div>

                                    <div>

                                        <button class="btn btn-lg btn-success btn-block" type="submit" style="background: #E44424 !important; width: 100%; border: none;margin-left: 0;border-radius: 4px !important; -mox-border-radius: 4px !important; -webkit-border-radius: 4px !important;">Submit</button>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->

                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row" style=" width: 86%; margin:0 auto; padding-top:5px;">
    <div class="footerlogos">
        <div class="panel-bottom panel-primary bottomlogos" style="float:left">
            <a target="_blank" href="http://www.dreaminc.org"><img src="../../Images/DreamLogo.jpg"></a>
        </div>
        <div class="panel-bottom panel-primary bottomlogos" style="float:left">
            <a target="_blank" href="http://www.dmh.state.ms.us/"><img src="../../Images/dmhlogo.jpg"></a>
        </div>
        <div class="panel-bottom panel-primary bottomlogos" style="float:left">
            <a target="_blank" href="http://www.trinitywave.com/"><img src="../../Images/trinity_logo.jpg"></a>
        </div>
        <div>

        </div>
    </div>

</div>

<!--<div class="row" style=" width: 86%; margin:0 auto; padding-top:5px;">
    <div class="datagadget_logindiv">
        <div class="panel-bottom panel-primary">
            <a target="_blank" style="margin-left: 10%;" href="http://www.dreaminc.org"><img src="../../Images/DreamLogo.jpg" style="width: 150px; height: 50px;"></a>
        </div>
        <div class="panel-bottom panel-primary">
            <a target="_blank" style="margin-left: 0%;" href="http://www.dmh.state.ms.us/"><img src="../../Images/dmhlogo.jpg" style="width: 107px; height: 51px;"></a>
        </div>
        <div>

        </div>
    </div>

</div>-->
