﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>

<core-header-panel ng-controller="userList as vm">
    <core-toolbar>
        <span flex>Users</span>
        <label><input type="checkbox" ng-model="vm.showAll"/><span style="color:white; font-weight:100;">Show All</span></label>
        <input type="search" ng-model="vm.searchCriteria" class="searchinput" ng-change="vm.userSearch(vm.searchCriteria)" />
        <div id="circle2" class="button" ng-click="vm.addUser()">Add</div>
    </core-toolbar>

    <div class="content">
        <div class="scroll-grid">
            <table class="tableContent table-condensed " id="fixed">
                <tr>
                    <td style="height:80%">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="gridHeader">
                                    <!--<th></th>-->
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>User Name</th>
                                    <th>Email Id</th>
                                    <th>Status</th>
                                    <th><span style="margin-left:15%;">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in vm.users | filter: !vm.showAll" class="fader-animation">

                                    <td style="vertical-align:middle;">{{user.firstName}}</td>
                                    <td style="vertical-align:middle;">{{user.lastName}}</td>
                                    <td style="vertical-align:middle;">{{user.userName}}</td>
                                    <td style="vertical-align:middle;">{{user.emailId}}</td>
                                    <!--<td style="vertical-align:middle;">{{user.isActive}}</td>-->

                                    <td style="vertical-align:middle;" ng-switch on="user.isActive">

                                        <label ng-switch-when=true style="font-weight:normal;">Active</label>

                                        <label ng-switch-when=false style="font-weight:normal;">Inactive</label>

                                    </td>

                                    <td style="vertical-align:middle;">
                                        <paper-button class="blue" ng-click="vm.editUser(user)">
                                            Edit
                                        </paper-button> &nbsp;&nbsp;

                                        <paper-button class="red"
                                                      ng-click="vm.deleteUser(user)">
                                            Delete

                                        </paper-button>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="show-hide-animation" ng-if="ispaging" >
                <div class="paginationDiv">
                    <div class="pagination-sm">
                        <ul id="visible-pages-example" class="pagination">
                            <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex )">First</a></li>
                            <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex)">Previous</a></li>
                            <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                            <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex)">Next</a></li>
                            <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex)">Last</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            </div>

        </div>

</core-header-panel>

