﻿<link href="../../Content/customstyles.css" rel="stylesheet" />
<form name="frmBedCount" ng-submit="ok(frmBedCount)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>

    </div>

    <div class="modal-body">
        <div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.locName.$invalid && (!frmBedCount.locName.$pristine || isSubmit ) }">

                Location Name:<input name="locName" type="text" ng-model="statewide.friendlyName_loc" required >

                <p ng-show="frmBedCount.locName.$invalid && (!frmBedCount.locName.$pristine || isSubmit )" class="help-block">Location Name is required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.StateAbbrev.$invalid && (!frmBedCount.StateAbbrev.$pristine || isSubmit ) }">

                State Abbrev:<input name="StateAbbrev" type="text" ng-model="statewide.stateAbbrev" required maxlength="2">

                <p ng-show="frmBedCount.StateAbbrev.$invalid && (!frmBedCount.StateAbbrev.$pristine || isSubmit )" class="help-block">StateAbbrev is required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.regionCode.$invalid && (!frmBedCount.regionCode.$pristine || isSubmit ) }">

                Region Code:<input name="regionCode" type="text" onkeypress="return IsNumeric(event);" ng-model="statewide.stateRegionCode" required maxlength="6" ng-blur="checksiteregioncode(statewide.stateRegionCode,statewide.siteCode);">

                <p ng-show="frmBedCount.regionCode.$invalid && (!frmBedCount.regionCode.$pristine || isSubmit )" class="help-block">regionCode is required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.SiteCode.$invalid && (!frmBedCount.SiteCode.$pristine || isSubmit ) }">

                Site Code:<input name="SiteCode" type="text" onkeypress="return IsNumeric(event);" ng-model="statewide.siteCode" required maxlength="6" ng-blur="checksiteregioncode(statewide.stateRegionCode,statewide.siteCode);">

                <p ng-show="frmBedCount.SiteCode.$invalid && (!frmBedCount.SiteCode.$pristine || isSubmit )" class="help-block">SiteCode is required</p>
                <p ng-show="isRegionError" class="help-block">Combination of state region code and site code already exist</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.SiteName.$invalid && (!frmBedCount.SiteName.$pristine || isSubmit ) }">

                Site Name:<input name="SiteName" type="text" ng-model="statewide.siteName" required maxlength="50">

                <p ng-show="frmBedCount.SiteName.$invalid && (!frmBedCount.SiteName.$pristine || isSubmit )" class="help-block">SiteName is required</p>
            </div>




            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.AddressLine1.$invalid && (!frmBedCount.AddressLine1.$pristine || isSubmit ) }">

                AddressLine1:<input name="AddressLine1" type="text" ng-model="statewide.addressLine1" required>

                <p ng-show="frmBedCount.AddressLine1.$invalid && (!frmBedCount.AddressLine1.$pristine || isSubmit )" class="help-block">AddressLine1 required</p>
            </div>

                      

            <div class="form-group programe_control">

                AddressLine2:<input name="AddressLine2" type="text" ng-model="statewide.addressLine2" >
               
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.City.$invalid && (!frmBedCount.City.$pristine || isSubmit ) }">

                City:<input name="City" type="text" ng-model="statewide.city" required>

                <p ng-show="frmBedCount.City.$invalid && (!frmBedCount.City.$pristine || isSubmit )" class="help-block">City is required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.ZIP.$invalid && (!frmBedCount.ZIP.$pristine || isSubmit ) }">

                ZIP:<input name="ZIP" type="text" ng-model="statewide.zip" required onkeypress="return IsNumeric(event);">

                <p ng-show="frmBedCount.ZIP.$invalid && (!frmBedCount.ZIP.$pristine || isSubmit )" class="help-block">ZIP is required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.SIG.$invalid && (!frmBedCount.SIG.$pristine || isSubmit ) }">

                SIG:<input name="SIG" type="text" maxlength="2" ng-model="statewide.sig" required onkeypress="return IsNumeric(event);">

                <p ng-show="frmBedCount.SIG.$invalid && (!frmBedCount.SIG.$pristine || isSubmit )" class="help-block">SIG is required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.FS_MH.$invalid && (!frmBedCount.FS_MH.$pristine || isSubmit ) }">

                FS_MH:<input name="FS_MH" type="text" ng-model="statewide.fS_MH" required maxlength="2">

                <p ng-show="frmBedCount.FS_MH.$invalid && (!frmBedCount.FS_MH.$pristine || isSubmit )" class="help-block">FS_MH is required</p>
            </div>


            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.FEDRegionCode.$invalid && (!frmBedCount.FEDRegionCode.$pristine || isSubmit ) }">

                FEDRegionCode:<input name="FEDRegionCode" type="text" ng-model="statewide.fedRegionCode" maxlength="6" required>

                <p ng-show="frmBedCount.FEDRegionCode.$invalid && (!frmBedCount.FEDRegionCode.$pristine || isSubmit )" class="help-block">FEDRegionCode is required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.FEDRegionName.$invalid && (!frmBedCount.FEDRegionName.$pristine || isSubmit ) }">

                FEDRegionName:<input name="FEDRegionName" type="text" ng-model="statewide.fedRegionName" required maxlength="50">

                <p ng-show="frmBedCount.FEDRegionName.$invalid && (!frmBedCount.FEDRegionName.$pristine || isSubmit )" class="help-block">FEDRegionName is required</p>
            </div>


            <div class="form-group programe_control">
                <b>Active:</b>

                <input name="chkStatus" type="checkbox" ng-model="statewide.isActive">
            </div>







            <!--<div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.LinkName.$invalid && (!frmBedCount.LinkName.$pristine || isSubmit ) }">

                Adult Male:<input name="LinkName" type="text" ng-model="statewide.bedCount" required>

                <p ng-show="frmBedCount.LinkName.$invalid && (!frmBedCount.LinkName.$pristine || isSubmit )" class="help-block">Adult Male required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.AdultFemale.$invalid && (!frmBedCount.AdultFemale.$pristine || isSubmit ) }">

                Adult Female:<input name="AdultFemale" type="text" ng-model="statewide.adultFemale" required>

                <p ng-show="frmBedCount.AdultFemale.$invalid && (!frmBedCount.AdultFemale.$pristine || isSubmit )" class="help-block">Adult Female required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.AdolescentMale.$invalid && (!frmBedCount.AdolescentMale.$pristine || isSubmit ) }">

                Adolescent Male:<input name="AdolescentMale" type="text" ng-model="statewide.adolescentMale" required>

                <p ng-show="frmBedCount.AdolescentMale.$invalid && (!frmBedCount.AdolescentMale.$pristine || isSubmit )" class="help-block">Adolescent Male required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmBedCount.AdolescentFemale.$invalid && (!frmBedCount.AdolescentFemale.$pristine || isSubmit ) }">

                Adolescent Female:<input name="AdolescentFemale" type="text" ng-model="statewide.adolescentFemale" required>

                <p ng-show="frmBedCount.AdolescentFemale.$invalid && (!frmBedCount.AdolescentFemale.$pristine || isSubmit )" class="help-block">Adolescent FeMale required</p>
            </div>-->


            <div class="programe_control pad">
                Service Type
                <div ng-repeat="item in surveyServices">
                    <label>
                        <input type="checkbox" checkbox-group name="chkSurveyaccess" value="{{item.recNo}}" id="{{item.recNo}}" ng-model="item.isSerivesSelected" />   <!--ng-required="!sites.length"-->
                        {{item.description}}
                    </label>

                </div>
                <!--<p ng-show="userForm.chkSiteaccess.$invalid && (!userForm.chkSiteaccess.$pristine || isSubmit )" class="help-block" style="color:crimson">Site access is required</p>-->
            </div>

        </div>
        <div class="clear"></div>



        <br />
    </div>


    <!--<div class="modal-footer">
        <input type="submit" class="btn-success btn-xs" name="btnsubmit" value="OK" />
        <input type="button" class="btn-danger btn-xs" name="btnCancel" value="Cancel" ng-click="cancel()" />
    </div>-->

    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok(frmBedCount)">OK</paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>

</form>




