﻿<link href="../../Content/customstyles.css" rel="stylesheet" />
<form name="frmResourceLink" ng-submit="ok(frmResourceLink)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>
    </div>

    <div class="modal-body">

        <div class="frmRow">
            <span class="leftcontrols"><b>Year:</b></span>
            <span>
                <select ng-model="statewide.grantYear1" id="selYear" name="selYear" class="input-body">
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
            </span>
        </div>

        <div class="frmRow" ng-class="{ 'has-error' : frmResourceLink.beginDate.$invalid && (!frmResourceLink.beginDate.$pristine || isSubmit ) }">

            <span class="leftcontrols"><b>Begin Date:</b></span>
            <span>
                <input type="text" name="beginDate" class="dateField" datepicker-popup="{{format}}" ng-model="statewide.startDate" is-open="openBeginDateopened" min-date="minDate"
                       ng-required="true" datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" />
              
            </span>
            <span ng-show="frmResourceLink.beginDate.$invalid && (!frmResourceLink.beginDate.$pristine || isSubmit )" class="help-block">Begin Date required</span>
        </div>

        <div class="frmRow" ng-class="{ 'has-error' : frmResourceLink.endDate.$invalid && (!frmResourceLink.endDate.$pristine || isSubmit ) }">
            <span class="leftcontrols"><b>End Date:</b></span>
            <span>
                <input type="text" name="endDate" class="dateField" datepicker-popup="{{format}}" ng-model="statewide.endDate" is-open="opened" min-date="minDate"
                       ng-required="true" datepicker-options="dateOptions" close-text="Close" placeholder="End Date" />
               
            </span>
            <span ng-show="frmResourceLink.endDate.$invalid && (!frmResourceLink.endDate.$pristine || isSubmit )" class="help-block">End Date is required.</span>
        </div>

    </div>
    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok()">
            OK
        </paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>

</form>



