﻿<link href="../../Content/customstyles.css" rel="stylesheet" />
<form name="frmResourceLink" ng-submit="ok(frmResourceLink)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>

    </div>

    <div class="modal-body">
        <div>
            <div class="form-group programe_base" ng-class="{ 'has-error' : frmResourceLink.LinkName.$invalid && (!frmResourceLink.LinkName.$pristine || isSubmit ) }">

                Resource Name:<input name="LinkName" style="width:100%;" type="text" ng-model="statewide.resourceName" required>

                <p ng-show="frmResourceLink.LinkName.$invalid && (!frmResourceLink.LinkName.$pristine || isSubmit )" class="help-block">Resource Name required</p>
            </div>
        </div>
        <div class="clear"></div>

        <div>
            <div class="form-group programe_base" ng-class="{ 'has-error' : frmResourceLink.LinkValue.$invalid && (!frmResourceLink.LinkValue.$pristine || isSubmit ) }">

                Resource Link:<input name="LinkValue" style="width:100%;" type="url" ng-model="statewide.resourceLink1" required>

                <p ng-show="frmResourceLink.LinkValue.$error.url && frmResourceLink.LinkValue.$invalid && (!frmResourceLink.LinkValue.$pristine || isSubmit )" class="help-block">Check Resource Link</p>

            </div>
        </div>
        <div class="clear"></div>

        <br />
    </div>


    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok(frmResourceLink)">
            OK
        </paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>

    <!--<div class="modal-footer">
       
        <input type="submit" class="btn btn-success btn-xs" name="btnsubmit" value="OK" />
        
        <input type="button" class="btn btn-danger btn-xs" name="btnCancel" value="Cancel" ng-click="cancel()" />
    </div>-->

</form>



