﻿<link href="../../Content/customstyles.css" rel="stylesheet" />
<form name="frmProvider" ng-submit="ok(frmProvider)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>

    </div>

    <div class="modal-body">
        <div>
            <div class="form-group programe_base" ng-class="{ 'has-error' : frmProvider.LinkName.$invalid && (!frmProvider.LinkName.$pristine || isSubmit ) }">

                Service Location  Name:<input name="LinkName" type="text" ng-model="statewide.providerName" required>

                <p ng-show="frmProvider.LinkName.$invalid && (!frmProvider.LinkName.$pristine || isSubmit )" class="help-block">Name required</p>

                <div class="clear10"></div>
                <b>Status :</b>
                <input name="chkStatus" type="checkbox" ng-model="statewide.isActive">

            </div>
        </div>
        <div class="clear"></div>



        <br />
    </div>

    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok(frmProvider)">OK</paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>



</form>




