﻿
<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<core-header-panel ng-controller="bedCountList as vm">
    <core-toolbar>
        <span flex>Locations</span>
        <input type="search" ng-model="searchCriteria" class="searchinput" ng-change="vm.userSearch(searchCriteria)" />
        <div id="circle2" class="button" ng-click="vm.addBedCount()">Add</div>
    </core-toolbar>

    <div class="content">
        <table class="tableContent table-condensed " id="fixed">
            <tr>
                <td style="height:80%">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="gridHeader">
                                <th>Region</th>
                                <th>Site</th>
                                <th>Friendly Name</th>


                                <!--<th>Adult Males</th>
                                <th>Adult Females</th>
                                <th>Adolescent Males</th>
                                <th>Adolescent Females</th>
                                <th>Total Beds</th>-->

                                <th style="margin-left: 13%; float: left;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="link in vm.links" class=" fader-animation">
                                <td style="vertical-align:middle;">{{link.stateRegionCode}}</td>
                                <td style="vertical-align:middle;">{{link.siteName}}</td>
                                <td style="vertical-align:middle;">{{link.friendlyName_loc}}</td>
                                
                             
                                <!--<td style="vertical-align:middle;">{{link.bedCount}}</td>
                                <td style="vertical-align:middle;">{{link.adultFemale}}</td>
                                <td style="vertical-align:middle;">{{link.adolescentMale}}</td>
                                <td style="vertical-align:middle;">{{link.adolescentFemale}}</td>

                                <td style="vertical-align:middle;">{{link.bedCount+link.adultFemale+link.adolescentMale+link.adolescentFemale}}</td>-->

                                <td style="vertical-align:middle;">
                                    <paper-button class="blue" ng-click="vm.editBedCount(link)">
                                        edit
                                    </paper-button> &nbsp;&nbsp;

                                    <paper-button class="red"
                                                  ng-click="vm.deleteBedCount(link)">
                                        delete

                                    </paper-button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <div class="show-hide-animation" ng-if="ispaging" style="margin-left: auto; margin-right: auto;width:50em;">
            <div class="paginationDiv">
                <div class="pagination-sm">
                    <ul id="visible-pages-example" class="pagination">
                        <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex )">First</a></li>
                        <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex)">Previous</a></li>
                        <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                        <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex)">Next</a></li>
                        <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex)">Last</a></li>
                    </ul>
                </div>
            </div>
        </div>



    </div>

</core-header-panel>


