﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<core-animated-pages transitions="slide-from-right" ng-controller="bedUtilizationReport as vm">
    <section class="core-selected">
        <form name="frmReport12a" novalidate ng-submit="vm.save1(frmReport12a)">
            <!--ng-submit="Next(surveyForm)"-->
            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">Bed Utilization Report</span>
                </core-toolbar>

                <div class="content documenttion">
                    <p class="has-error" style="color: #F00;"><span ng-bind="ismessage" class="help-block"></span></p>
                    <div class="programe_base pad">
                        <b>Begin Date:</b>


                        <input type="text" class="dateField" ng-model="vm.onetime.beginDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                               datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>



                    </div>

                    <div class="programe_base pad">
                        <b>End Date:</b>
                        <!--<input type="text" id="txtEndDate" name="txtEndDate" ng-model="vm.onetime.endDate" class="dateField" placeholder="End Date" />-->

                        <input type="text" class="dateField" ng-model="vm.onetime.endDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate"
                               datepicker-options="dateOptions" close-text="Close" placeholder="End Date" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </div>
                    <div class="clear"></div>
                    <div class="programe_base pad">
                        <b>Organization:</b>


                        <select id="selOrganization" name="selOrganization" ng-disabled="isDisabled"
                                ng-model="vm.onetime.organization" style="width:185px;" class="form-control"
                                ng-options="item.stateRegionCode as item.friendlyName_loc for item in vm.onetime.locationList"></select>
                    </div>




                    <div class="programe_base pad">
                        <b>Report Type:</b>


                        <select id="selReportType" name="selReportType" required
                                ng-model="vm.onetime.BedUtilizationReportId" style="width:185px;" class="form-control"
                                ng-options="item.id as item.intakeTypeName for item in vm.onetime.intakeList"></select>

                        <p ng-show="frmReport12a.selReportType.$invalid && (!frmReport12a.selReportType.$pristine || isSubmit )" class="help-block">Report Type is  required</p>

                        <!--<select id="selReportType" name="selReportType" style="width:185px;" ng-model="vm.onetime.reportType">
                        <option value="All">ALL</option>
                        <option value="PREGNANT">Pregnant</option>
                        <option value="PANDP">Pregnant and Parenting with Children at the facility</option>
                        <option value="IVDRUG">
                            IV Drug User
                        </option>
                        <option value="CO">Co-occurring</option>
                        <option value="WITHDRAWAL">Withdrawal Managment</option>
                        <option value="ALCOHOL">Alcohol</option>
                        <option value="OPIOID">Opioid</option>
                        <option value="METHAMPHETAMINE">Methamphetamine</option>
                        <option value="BENZODIAZAPINES">Benzodiazapines</option>
                        <option value="OTHER">Other Substances</option>
                        <option value="SELFPAY">Self Pay</option>
                        <option value="PRIVATEINSURANCE">Private Insurance</option>
                        <option value="MEDICAID">Medicaid</option>
                        <option value="IndigentReport">Indigent</option>

                    </select>-->
                    </div>


                    <div class="clear"></div>


                    <div class="finish">
                        <input type="submit" value="Finish" class="finishbtn" />
                    </div>

                </div>



                <div class="documenttion">

                    <iframe height="400px" width="100%" frameborder="0" ng-src="{{source}}"></iframe>



                </div>

            </core-header-panel>



        </form>



    </section>




</core-animated-pages>
