﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<core-header-panel ng-controller="editDataCtrl as vm">

    <core-toolbar>
        <span flex>Edit Event </span>
    </core-toolbar>
    <div class="content">
        <section>
            <form name="editData" ng-submit="applyFilter(editData)" class="css-form" novalidate>
              
                <core-header-panel>
                    <div class="documenttion">
                        <p ng-show="isdisplay" class="has-error" style="color: #F00;"><span ng-bind=" ismessage" class="help-block"></span></p>
                        <div class="programe_base pad">
                            <b>Organization:</b>
                            <select ng-required="true" name="regionSiteCodes" ng-model="vm.editData.regionSiteCodes" style="width:185px;">
                                <!--<option value=" " selected="selected">--All--</option>-->
                                <option ng-repeat="data in vm.OrganizationList" value="{{data.regionsitecodes}}">{{data.friendlyName_loc}}</option>
                            </select>
                        </div>
                        <div class="programe_base pad">
                            <b>Event Type:</b>
                            <select  name="eventType" ng-model="vm.eventType" style="width:185px;">
                                <option value="2">All</option>
                                <option value="0" >One Time Event</option>
                                <option value="1" >OnGoing Event</option>
                                
                            </select>
                        </div>
                        <div class="programe_base pad">
                            <b>Begin Date:</b>
                            <input ng-disabled="false" type="text" class="dateField" name="startDate" ng-model="vm.editData.startDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                                   datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" ng-required="true" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            <p ng-show="editData.startDate.$invalid && (!editData.startDate.$pristine || editDataSubmit )" class="help-block">Begin Date is required</p>
                        </div>
                        <div class="programe_base pad">  <!--ng-disabled="!vm.editData.startDate"--> 
                            <b>End Date:</b>
                            <input type="text" ng-disabled="false" name="endDate" class="dateField" ng-model="vm.editData.endDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate"
                                   datepicker-options="dateOptions" close-text="Close" data-date-greater-and-equal="vm.editData.startDate" placeholder="End Date" ng-required="true" required />
                            <span class="input-group-btn" style="float:right">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <p ng-show="editData.endDate.$invalid && (!editData.endDate.$pristine || editDataSubmit )" class="help-block">End Date is required</p>
                        </div>
                        <div class="programe_base pad">
                            <input type="submit" name="filter" value="Apply Filters" class="editfinishbtn" /> <!--ng-disabled="vm.editData.startDate>vm.editData.endDate"-->
                            <!--<span ng-show="vm.editData.startDate>vm.editData.endDate" class="help-block">Please Check the dates</span>-->

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="scroll-grid">
                        <div class="content" style="margin-top:2%;" ng-show="vm.isList">
                            <table class="tableContent table-condensed " id="fixed">
                                <tr>
                                    <td style="height:80%">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr class="gridHeader">
                                                    <th>Organization Name</th>
                                                    <th>Name</th>
                                                    <th>EventType</th>
                                                    <th>Program Name</th>
                                                    <th>Group Name</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in vm.editDataList" class=" fader-animation">

                                                    <td style="vertical-align:middle;">{{data.organization}}</td>
                                                    <td style="vertical-align:middle;">{{data.name}}</td>
                                                    <!--<td style="vertical-align:middle;">{{data.curriculum}}</td>-->
                                                    <td style="vertical-align:middle;">{{data.curriculum === 1?"Ongoing":"Onetime"}}</td>
                                                    <td style="vertical-align:middle; width:20%;">{{data.programName}}</td>
                                                    <td style="vertical-align:middle;">{{data.groupName}}</td>

                                                  

                                                 

                                                    <td style="vertical-align:middle;">{{data.startDate | date:'MM/dd/yyyy' }}</td>
                                                    <td style="vertical-align:middle;">{{data.endDate | date:'MM/dd/yyyy' }}</td>

                                                    <td style="vertical-align:middle;">
                                                        <paper-button class="blue" ng-click="vm.editDataListOpen(data)">
                                                            edit
                                                        </paper-button> &nbsp;&nbsp;
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <div class="show-hide-animation" data-ng-show="vm.statewides.length > vm.pageSize">
                                <div class="paginationDiv">
                                    <div data-pagination
                                         data-on-select-page="pageChanged(page)"
                                         data-total-items="vm.soList.lenght"
                                         data-page="vm.currentPage"
                                         data-boundary-links="true"
                                         data-max-size="vm.maxSize"
                                         class="pagination-sm">
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </core-header-panel>



            </form>
        </section>
    </div>
    <br />
    <br />
   

</core-header-panel>

