﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>


<core-header-panel ng-controller="emailTemplate as vm">
    <core-toolbar>
        <span>Email Templates</span>
    </core-toolbar>
    <div class="content">
        <table class="tableContent table-condensed " id="fixed">
            <tr>
                <td style="height:80%">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="gridHeader">
                                <th>Template Name</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="event in vm.records" class="gridRow readonly fader-animation">
                                <td style="vertical-align:middle;">{{event.emailTemplateName}}</td>
                                <td style="vertical-align:middle;">
                                    <paper-button class="red"
                                                  ng-click="vm.editEvent(event)">
                                        Edit
                                    </paper-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>

</core-header-panel>
