﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>
<core-animated-pages transitions="slide-from-right" ng-controller="ExportUserList as vm">
    <section class="core-selected">
        <form name="frmReport12a" novalidate ng-submit="vm.save1()">

            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">Export User List</span>
                </core-toolbar>

                <div class="content documenttion">

                    <div class="programe_base pad">
                        <b>Organization:</b>

                        <select id="selOrganization" name="selOrganization" ng-disabled="isDisabled"
                                ng-model="vm.onetime.organization" style="width:185px;" class="form-control"
                                ng-options="item.stateRegionCode as item.friendlyName_loc for item in vm.onetime.locationList"></select>

                    </div>
                    <div class="clear"></div>
                    <div class="programe_control">
                        <input type="submit" value="Export To Excel" align="right" ng-click="ok()" style="margin-right:10px;" class="finishbtn" />
                    </div>

                </div>

            </core-header-panel>



        </form>



    </section>




</core-animated-pages>
