﻿
<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<core-animated-pages transitions="slide-from-right" ng-controller="exportData as vm">
    <section class="core-selected">
        <form name="frmExportData" ng-submit="exportData(frmExportData)" novalidate>

            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">Data Export</span>
                </core-toolbar>

                <div class="content documenttion">
                    <p ng-show="isdisplay" class="has-error" style="color: #F00;"><span ng-bind="ismessage" class="help-block"></span></p>
                    <div class="programe_base pad">
                        <b>Begin Date:</b>


                        <input ng-disabled="false" type="text" class="dateField" ng-model="vm.onetime.beginDate" datepicker-popup="{{format}}" ng-model="dt" is-open="openBeginDateopened" min-date="minDate"
                               max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" required />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>





                    </div>

                    <div class="programe_base pad">
                        <b>End Date:</b>

                        <input ng-disabled="false" type="text" class="dateField" ng-model="vm.onetime.endDate" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate"
                               max-date="'2015-06-22'" datepicker-options="dateOptions"
                               close-text="Close" placeholder="End Date"
                               required /> <!--ng-disabled="!vm.editData.beginDate"-->

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </div>
                    <div class="clear"></div>
                    <div class="programe_base pad">
                        <b>Organization:</b>


                        <select id="selOrganization" name="selOrganization" ng-required="true"
                                ng-model="vm.onetime.organization" style="width:90%;" class="form-control"
                                ng-options="item.stateRegionCode as item.friendlyName_loc for item in vm.onetime.locationList"></select>



                    </div>


                    <div class="clear"></div>


                    <div class="finish">
                        <!--<input type="submit" value="Export to Excel" ng-disabled="vm.onetime.beginDate>vm.onetime.endDate" />-->
                        <input type="submit" value="Export to Excel" class="finishbtn" />  <!--ng-disabled="vm.onetime.beginDate>vm.onetime.endDate"-->
                        <!--<span ng-show="vm.onetime.beginDate>vm.onetime.endDate" class="help-block">End date cannot be greater than Begin date</span>-->
                    </div>

                </div>





            </core-header-panel>



        </form>



    </section>




</core-animated-pages>
