﻿
<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<core-header-panel ng-controller="indigentFundReport as vm">

    <core-toolbar>
        <span flex>{{title}} </span>
    </core-toolbar>
    <div class="content">
        <section>
            <form name="editData" ng-submit="applyFilter(editData)" class="css-form" novalidate>

                <core-header-panel>
                    <div class="documenttion indigen-fund">
                        <p ng-show="isdisplay" class="has-error" style="color: #F00;"><span ng-bind=" ismessage" class="help-block"></span></p>
                        <div class="programe_base pad">
                            <b>Organization:</b>
                            <select ng-required="true" name="regionSiteCodes" ng-model="vm.editData.regionSiteCodes" style="width:185px;" ng-change="getProgrmByLoc(vm.editData.regionSiteCodes)">
                                <option value="0" selected="selected">--All--</option>
                                <option ng-repeat="data in vm.OrganizationList" value="{{data.pKey}}">{{data.friendlyName_loc}}</option>
                            </select>
                        </div>

                        <div class="programe_base pad">
                            <b>Service Providers:</b>
                            <select ng-required="true" name="serviceProvider" ng-model="vm.editData.serviceProvider" style="width:185px;">
                                <option value="0" selected="selected">--All--</option>
                                <option ng-repeat="data in vm.serviceList" value="{{data.recNo}}">{{data.description}}</option>
                            </select>
                        </div>

                        <div class="programe_base pad">
                            <b>Program:</b>
                            <select ng-required="true" name="programName" ng-model="vm.editData.programName" style="width:185px;">
                                <option value="0" selected="selected">--All--</option>
                                <option ng-repeat="data in vm.programList" value="{{data.recNo}}">{{data.programName}}</option>
                            </select>
                        </div>

                        <!--<div class="programe_base pad">
                            <b>Organization:</b>
                            <select id="selOrganization" name="selOrganization" ng-disabled="isDisabled"
                                    ng-model="vm.onetime.organization" style="width:185px;" class="form-control"
                                    ng-options="item.stateRegionCode as item.friendlyName_loc for item in vm.onetime.locationList"></select>
                        </div>-->


                        <div class="programe_base pad">
                            <b>Begin Date:</b>
                            <input ng-disabled="false" type="text" class="dateField" name="startDate" ng-model="vm.editData.startDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                                   datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" ng-required="true" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <div class="programe_base pad">
                            <!--ng-disabled="!vm.editData.startDate"-->
                            <b>End Date:</b>
                            <input type="text" ng-disabled="false" name="endDate" class="dateField" ng-model="vm.editData.endDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate"
                                   datepicker-options="dateOptions" close-text="Close" data-date-greater-and-equal="vm.editData.startDate" placeholder="End Date" ng-required="true" required />
                            <span class="input-group-btn" style="float:right">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>


                        <div class="programe_base pad">
                            <b>Amount Per Day:</b>
                            <input name="dayAmount" class="dateField" ng-model="vm.editData.dayAmount" ng-pattern="/^[-+]?(?:\d*|\d{1,3}(?:,\d{3})*)(?:\.\d+)?$/" type="number" min="1"
                                   ng-required="true" required />
                            <p ng-show="editData.dayAmount.$invalid && (!editData.dayAmount.$pristine || issubmit )" class="help-block">Amount is required</p>
                            <!--ng-disabled="vm.editData.startDate>vm.editData.endDate"-->
                            <!--<span ng-show="vm.editData.startDate>vm.editData.endDate" class="help-block">Please Check the dates</span>-->

                        </div>
                        <div class="programe_base pad">
                            <input type="submit" name="filter" value="Apply Filters" class="finishbtn" style="margin-top:25px;" />
                            
                        </div>
                        <div class="programe_base pad" style="margin-top: 25px; margin-left: -120px;">
                            <input type="button" class="finishbtn" value="Export to Excel" ng-show="vm.isRecords" ng-click="export()" />
                        </div>

                        <div class="clear"></div>
                    </div>

                    <div class="scroll-grid">

                        <div class="content" style="margin-top:2%;" ng-show="vm.isList">

                            <div class="documenttion footer-document">
                                <div>Funding Source: TX17</div>
                                <div class="text-right">
                                    Total:<span style="color:red;">${{totalAmt}}</span>
                                </div>
                            </div>

                            <table class="tableContent table-condensed " id="fixed">
                                <tr>
                                    <td style="height:80%">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr class="gridHeader">

                                                    <!--<th>SurveyItem</th>-->
                                                    <th>Agency Name</th>
                                                    <th>Patient Name</th>
                                                    <th>Service Name</th>
                                                    <th>Program Name</th>
                                                    <!--<th>Court Committed to MSH or EMSH?</th>-->
                                                    <th>Admission Date</th>
                                                    <th>Client Status</th>

                                                    <th>Compleation Date</th>
                                                    <!--<th>Has Client been approved for indigent funing in past?</th>
                                                    <th>
                                                        If approved for indigent funding in past,did you receicve prior approval for this treatment?
                                                    </th>-->
                                                    <!--<th>Number of days billed (Must not exceed 30 days)</th>-->
                                                    <th>No of days billed</th>
                                                    <th>Total Amount</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="data in vm.editDataList" class="fader-animation" ng-if="vm.editDataList.length !=0">

                                                    <!--<td style="vertical-align:middle;">{{data.organization}}</td>-->

                                                    <td style="vertical-align:middle;">{{data.locationName}}</td>
                                                    <td style="vertical-align:middle;">{{data.patientId}}</td>
                                                    <td style="vertical-align:middle;">{{data.serviceName}}</td>
                                                    <td style="vertical-align:middle;">{{data.programName}}</td>
                                                    <!--<td style="vertical-align:middle;">No</td>-->
                                                    <td style="vertical-align:middle;">{{data.entryDate | date:'MM/dd/yyyy'}}</td>
                                                    <td style="vertical-align:middle;">
                                                        <div ng-if="data.dischargeDate">
                                                            Completed
                                                        </div>
                                                        <div ng-if="data.dischargeDate===null">
                                                            Still in Treatment
                                                        </div>
                                                    </td>

                                                    <td style="vertical-align:middle;">{{data.dischargeDate | date:'MM/dd/yyyy'}}</td>
                                                    <!--<td style="vertical-align:middle;">No</td>
                                                    <td style="vertical-align:middle;">No</td>-->
                                                    <td style="vertical-align: middle; text-align: center;">{{data.days}}</td>
                                                    <td style="vertical-align: middle; text-align: center;">${{data.totalAmount}}</td>

                                                </tr>
                                                <tr ng-if="vm.editDataList.length ==0">
                                                    <td colspan="5" style="text-align: center; font-weight: bold;">{{emptyMessage}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--<div class="show-hide-animation" data-ng-show="vm.statewides.length > vm.pageSize">
                                <div class="paginationDiv">
                                    <div data-pagination
                                         data-on-select-page="pageChanged(page)"
                                         data-total-items="vm.soList.lenght"
                                         data-page="vm.currentPage"
                                         data-boundary-links="true"
                                         data-max-size="vm.maxSize"
                                         class="pagination-sm">
                                    </div>
                                </div>
                            </div>-->



                        </div>

                    </div>
                </core-header-panel>

            </form>
        </section>
    </div>
    <br />



</core-header-panel>


