﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>

<form name="userForm" ng-submit="ok(userForm)" class="css-form" novalidate>
    <core-header-panel ng-controller="mailConfig as vm">
        <core-toolbar>
            <!--<span flex>Treatment User configuration</span>-->
            <span flex>Message Settings</span>
        </core-toolbar>

  
            <div class="row form-group">
                <div class="col-md-6" style=" margin: 30px 20px;" ng-class="{ 'has-error' : userForm.LinkName.$invalid && (!userForm.LinkName.$pristine || isSubmit ) }">
                    <div class="col-md-6 form-group">
                        Treatment Message:&nbsp;
                        <textarea name="LinkName" rows="5" cols="50" ng-model="message.treatmentMessage" required></textarea>
                        <p style="margin-left:62px !important" ng-show="userForm.LinkName.$invalid && (!userForm.LinkName.$pristine || isSubmit )" class="help-block">Treatment message is required</p>
                    </div>
                    <div class="col-md-6 form-group">
                        Prevention Message:&nbsp;
                        <textarea name="txtPreventionMessage" rows="5" cols="50" ng-model="message.preventionMessage" required></textarea>
                        <p style="margin-left:62px !important" ng-show="userForm.txtPreventionMessage.$invalid && (!userForm.txtPreventionMessage.$pristine || isSubmit )" class="help-block">Prevention message is required</p>
                    </div>
                    <div class="col-md-6 form-group">
                        IsTreatmentMessage :&nbsp;
                        <input name="chkTreatment" type="checkbox" style="margin-left:13px !important" ng-model="message.isTreatment">

                    </div>
                    <div class="col-md-6 form-group">
                        IsPreventionMessage :&nbsp;
                        <input name="chkPrevention" type="checkbox" style="margin-left:13px !important" ng-model="message.isPrevention">
                        <paper-button class="btn-success btn-xs" ng-click="ok(userForm)" style="margin-left: 80px;">Save</paper-button>
                    </div>

                    <!--<br /><br />
                    Active :&nbsp;
                    <input name="chkStatus" type="checkbox" style="margin-left:13px !important" ng-model="message.isActive">-->
                    <div class="col-md-12 col-md-offset-9">

                        <input name="LinkName1" type="hidden" ng-model="message.iD">

                        <!--<paper-button class="btn-success btn-xs" style="margin-left:326px;" ng-click="ok()">OK</paper-button>-->
                       
                    </div>
                </div>
            </div>

    
    </core-header-panel>
</form>




