﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>
<core-animated-pages transitions="slide-from-right" ng-controller="managecomments as vm">
    <section class="core-selected">
        <form name="frmManagecomments" ng-submit="vm.Filter()" novalidate>

            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">Manage Comments</span>
                    <input type="search" ng-model="searchCriteria" class="searchinput" ng-change="vm.userSearch(searchCriteria)" />
                </core-toolbar>

                <div class="content commentsdocumenttion">
                    <p class="has-error"><span ng-bind="ismessage" class="help-block"></span></p>

                    <div class="form-group form-row" style="margin:0 27px">
                        <b> Subject:</b>
                        <br />
                        <input type="text" ng-model="vm.comment.commentSubject" name="commentSubject" required />

                    </div>

                    <div class="commentdiv">
                        <b>Comments:</b>
                        <textarea class="commentstextbox" ng-model="vm.comment.commentText" name="commentText" required></textarea>

                    </div>

                    <div class="programe_base pad">
                        <b>Mail to Users:</b>

                        <select name="selmailusers" style="width:100%;" ng-model="selectedMailUser">
                            <option value="">All</option>

                            <option ng-repeat="data in vm.OrganizationList" value="{{data.locationId}}">{{data.firstName}} {{data.lastName}}</option>
                        </select>

                    </div>

                    <div class="programe_base pad">

                        <input type="button" class="finishbtn" value="Send Mail" style="margin-top:35px;" ng-click="vm.sendmail()" />

                    </div>

                    <div class="clear"></div>

                    <div class="programe_base pad">
                        <b>Begin Date:</b>

                        <input type="text" class="dateField" ng-model="vm.comment.beginDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                               max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </div>

                    <div class="programe_base pad">
                        <b>End Date:</b>

                        <input type="text" class="dateField" ng-model="vm.comment.endDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate"
                               max-date="'2015-06-22'" datepicker-options="dateOptions" data-date-greater-and-equal="vm.comment.beginDate" close-text="Close" placeholder="End Date" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </div>

                    <div class="programe_base pad">
                        <b>Users:</b>

                        <select name="selusers" style="width:100%;" ng-model="vm.comment.selectedUser" ng-change="vm.getcommentsByUser(vm.comment.selectedUser)">
                            <option value="">All</option>
                            <!--<option ng-repeat="data in administeredData" value="{{data.id}}">{{data.name}}</option>-->


                            <option ng-repeat="data in vm.OrganizationList" value="{{data.locationId}}">{{data.firstName}} {{data.lastName}}</option>
                        </select>

                    </div>

                    <!--<div class="container lighter">
            <div text-angular required ng-model="vm.Comments" name="Comments" id="Comments" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
        </div>-->
                    <div class="clear"></div>


                    <div class="finish">
                        <input type="submit" class="finishbtn" value="Apply Filters" />
                    </div>



                </div>

                <div class="content">
                    <div class="scroll-grid">
                        <table class="tableContent table-condensed" id="fixed">
                            <tr>
                                <td style="height:80%">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr class="gridHeader">
                                                <th style="width:10%;text-align:center;">View </th>
                                                <th style="width:10%;text-align:center;">Name</th>
                                                <th style="width:10%;text-align:center;">Email</th>
                                                <th style="width:10%;text-align:center;">Subject</th>
                                                <th style="width:35%;text-align:center;">Comment</th>
                                                <th style="width:10%;text-align:center;">Posted On</th>
                                                <th style="width:10%;text-align:center;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="singlecomment in vm.commentList" class="fader-animation">
                                                <td style="vertical-align:middle;width:10%;text-align:center;">
                                                    <a ng-click="vm.loadConversations($event, singlecomment)">View All</a>
                                                </td>
                                                <td style="vertical-align:middle;width:10%;text-align:center;">{{singlecomment.firstName}} {{singlecomment.lastName}}</td>
                                                <td style="vertical-align:middle;width:10%;text-align:center;">{{singlecomment.email}}</td>
                                                <td style="vertical-align:middle;width:10%;text-align:center;">{{singlecomment.subject}}</td>
                                                <td style="vertical-align:middle;width:35%;text-align:center;"><p ng-bind-html="singlecomment.comment"></p></td>
                                                <td style="vertical-align:middle;width:10%;text-align:center;">{{singlecomment.createdOn| date:'MM-dd-yyyy'}}</td>
                                                <td style="vertical-align:middle;width:10%;text-align:center;">
                                                    <paper-button class="red"
                                                                  ng-click="vm.respondComment(singlecomment)">
                                                        Reply
                                                    </paper-button>
                                                    <paper-button class="red"
                                                                  ng-click="vm.deleteComment(singlecomment)">
                                                        Delete
                                                    </paper-button>
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end class="collapse">
                                                <td colspan="9">
                                                    <div class=" col-md-12 col-sm-12 nestedScrollDiv">
                                                        <table class="table table-condensed nestedTable col-md-12 col-sm-12">
                                                            <thead>
                                                                <tr class="dataTileSubTable">
                                                                    <th style="width:10%;text-align:center;">Name</th>
                                                                    <th style="width:10%;text-align:center;">Email</th>
                                                                    <th style="width:50%;text-align:center;">Comment</th>
                                                                    <th style="width:15%;text-align:center;">Posted On</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="conversation in singlecomment.conversationList">

                                                                    <td style="vertical-align:middle;width:10%;text-align:center;">{{conversation.firstName}} {{conversation.lastName}}</td>
                                                                    <td style="vertical-align:middle;width:10%;text-align:center;">{{conversation.email}}</td>
                                                                    <td style="vertical-align:middle;width:50%;text-align:center;"><p ng-bind-html="conversation.comment"></p></td>
                                                                    <td style="vertical-align:middle;width:15%;text-align:center;">{{conversation.createdOn| date:'MM-dd-yyyy'}}</td>



                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-show="vm.isNoRecords">
                                                <td colspan="5" style="text-align: center; font-weight: bold;"> No records found.</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div class="show-hide-animation" ng-if="ispaging" style="margin-left: auto; margin-right: auto;width:50em;">
                            <div class="paginationDiv">
                                <div class="pagination-sm">
                                    <ul id="visible-pages-example" class="pagination">
                                        <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex,vm.comment.selectedUser)">First</a></li>
                                        <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex,vm.comment.selectedUser)">Previous</a></li>
                                        <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page,vm.comment.selectedUser)">{{page}}</a></li>
                                        <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex,vm.comment.selectedUser)">Next</a></li>
                                        <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex,vm.comment.selectedUser)">Last</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>

            </core-header-panel>



        </form>



    </section>




</core-animated-pages>
