﻿<link href="../../Content/customstyles.css" rel="stylesheet" />
<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
<link rel="stylesheet" href="http://textangular.com/css/style.css" type="text/css">
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.0/textAngular-sanitize.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.0/textAngular.min.js" type="text/javascript"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js" type="text/javascript"></script>
<script src="http://resources.infolinks.com/js/infolinks_main.js" type="text/javascript"></script>-->

<form name="emailForm" ng-submit="ok(emailForm)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>
    </div>
    <div class="modal-body">
        <p style="position:relative;color:red;" ng-show="emailForm.TemplateDescription.$invalid && (!emailForm.TemplateDescription.$pristine || emailForm.$submitted) " class="help-block">Teplate Description is required.</p>
        <div class="container lighter">
            <div text-angular required ng-model="vm.TemplateDesc" name="TemplateDescription" id="TemplateDescription" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok(emailForm)">OK</paper-button>
        <!--<button type="submit">Login</button>-->
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>

</form>



