﻿<form name="programForm" ng-submit="ok(programForm)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:large;color:#fff;">{{title}}</span>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group programe_control" ng-class="{ 'has-error' : programForm.Name.$invalid && (!programForm.Name.$pristine || isSubmit ) }">
                <b>Name :</b>
                <input name="Name" type="text" ng-model="programs.name" required style="width:140%;">
                <p ng-show="programForm.Name.$invalid && (!programForm.Name.$pristine || isSubmit )" class="help-block">Name is required</p>

            </div>
            <div class="clear"></div>
            <div class="form-group programe_control">
                <b>Status :</b>
                <input name="chkStatus" type="checkbox" ng-model="programs.isActive" ng-true-value="true" ng-false-value="false" />

            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok(programForm)">OK</paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>

</form>



