﻿<link href="../../Content/customstyles.css" rel="stylesheet" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">

<form name="commentForm" ng-submit="ok(commentForm)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>
    </div>
    <div class="modal-body">
        <div class="form-group programe_base">
            <b> Email:</b>
            <input readonly name="email" type="text" ng-model="comment.email" id="email" required>
        </div>
        <div class="clear"></div>
        <div class="form-group formatstyles">
            <b>Reply:</b>
            <p style="position:relative;color:red !important;" ng-show="commentForm.Comments{{timeStamp}}.$invalid && (!commentForm.Comments{{timeStamp}}.$pristine||commentForm.$submitted) " class="help-block">Reply is required.</p>
            <div>
                <div text-angular required ng-model="comment.Comments" name="Comments{{timeStamp}}" id="Comments" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok(commentForm)">Send</paper-button>
        <!--<button type="submit">Login</button>-->
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>

</form>



