﻿<form name="statewideForm" ng-submit="ok(statewideForm)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large;color:#fff;">{{title}}</span>

    </div>

    <div class="modal-body">
        <div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : statewideForm.initiativeName.$invalid && (!statewideForm.initiativeName.$pristine || isSubmit ) }">
                <b>Initiative Name :</b>
                <input name="initiativeName" type="text" ng-model="statewide.initiativeName" required>
                <p ng-show="statewideForm.initiativeName.$invalid && (!statewideForm.initiativeName.$pristine || isSubmit )" class="help-block">Initiative Name required</p>

            </div>
            <div class="clear"></div>
            <div class="form-group programe_control">
                <b>Status :</b>
                <input name="chkStatus" type="checkbox" ng-model="statewide.isActive">

            </div>

        </div>

    </div>

    <div class="modal-footer">
        <paper-button ng-click="ok(statewideForm)" class="btn-success btn-xs">OK</paper-button>
        <!--<button type="submit">Login</button>-->
        <paper-button ng-click="cancel()" class="btn-danger btn-xs">Cancel</paper-button>
    </div>
    

</form>




