﻿<link href="../../Content/customstyles.css" rel="stylesheet" />
<form name="staffForm" ng-submit="ok(staffForm)" class="css-form" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>
    </div>
    <div class="modal-body">
        <div class="form-group programe_control">
            <b> Training Name:</b>
            <input name="trainingName" type="text" ng-model="staff.trainingName" id="trainingName" placeholder="Training Name" required>
            <p style="color:#F00;" ng-show="staffForm.trainingName.$invalid && (!staffForm.trainingName.$pristine || isSubmit )" class="help-block">Training Name is required</p>
        </div>
        <div class="form-group programe_control">
            <b>Provider Name:</b>
            <select required id="selProviderName" name="selProviderName" ng-model="staff.providerName" style="width:94%;" class="form-control"
                    ng-options="item.id as item.name for item in providerList" ng-change="IsOther(staff.providerName)"></select>
            <p style="color:#F00;" ng-show="staffForm.selProviderName.$invalid && (!staffForm.selProviderName.$pristine || isSubmit )" class="help-block">Provider Name is required</p>
        </div>
        <div class="form-group programe_control" ng-if="IsOtherDiv">
            <b> Other Provider Name:</b>
            <input name="otherProviderName" type="text" ng-model="staff.otherProviderName" id="otherProviderName" placeholder="Provider Name" required>
            <p style="color:#F00;" ng-show="staffForm.otherProviderName.$invalid && (!staffForm.otherProviderName.$pristine || isSubmit )" class="help-block">Provider Name is required</p>
        </div>
        <div class="form-group programe_control">
            <b>Start Date:</b>
            <input required id="startDate" name="startDate" type="text" class="dateField" ng-model="staff.startDate" datepicker-popup="{{format}}" is-open="staff.openBeginDateopened" min-date="minDate"
                   max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" />
            <span class="input-group-btn" style="float:right;">
                <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            <p style="color:#F00;" ng-show="staffForm.startDate.$invalid && (!staffForm.startDate.$pristine || isSubmit )" class="help-block">Start Date is required</p>
            <p class="has-error" style="color: #F00;width: 170%;"><span ng-bind="ismessage" class="help-block"></span></p>
        </div>
        <div class="form-group programe_control">
            <b>End Date:</b>
            <input required id="endDate" name="endDate" type="text" class="dateField" ng-model="staff.endDate" datepicker-popup="{{format}}" is-open="staff.opened" min-date="minDate"
                   max-date="'2015-06-22'" datepicker-options="dateOptions" data-date-greater-and-equal="staff.startDate" close-text="Close" placeholder="End Date" />
            <span class="input-group-btn" style="float:right;">
                <button type="button" class="btn btn-default" ng-click="open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            <p style="color:#F00;" ng-show="staffForm.endDate.$invalid && (!staffForm.endDate.$pristine || isSubmit )" class="help-block">End Date is required</p>

        </div>
        <div class="form-group programe_control">
            <b>Hours:  </b>
            <input name="hours" type="text" id="hours" ng-model="staff.hours" placeholder="0" required>

            <p style="color:#F00;" ng-show="staffForm.hours.$invalid && (!staffForm.hours.$pristine || isSubmit )" class="help-block">Hours is required</p>

            <!--<p ng-show="staffForm.hours.$invalid && (!staffForm.hours.$pristine || staffForm.$submitted )" class="help-block" style="color:red;">Hours is numeric only</p>-->

            <p class="has-error" style="color: #F00;width: 170%;"><span ng-bind="isintmessage" class="help-block"></span></p>

        </div>
       
        <!--<div class="programe_control">
            <b>Continuing Education Credits  :</b>
            <input name="educationCredits" id="educationCredits" type="text" ng-model="staff.educationCredits" placeholder="Education Credits" required>
            <p style="color:#F00;" ng-show="staffForm.educationCredits.$invalid && (!staffForm.educationCredits.$pristine || isSubmit )" class="help-block">Education Credits is required</p>
        </div>-->
        <!--<div class="programe_control">
            <b>Evidence Based:</b>
            <select id="evidenceBased" name="evidenceBased" ng-model="staff.evidenceBased">
                <option value="1">
                    Evidence Based
                </option>
                <option value="2">Non-Evidence Based</option>
            </select>
        </div>-->

        <div class="programe_control">
            <b>Instructor’s Name :</b>
            <input name="instructorsName" id="instructorsName" type="text" ng-model="staff.instructorName" placeholder="Instructors Name" required>
            <p style="color:#F00;" ng-show="staffForm.instructorsName.$invalid && (!staffForm.instructorsName.$pristine || isSubmit )" class="help-block">Instructors Nameis required</p>
        </div>

        <div class="programe_control">
            <b>Instructor’s Credentials:</b>
            <input name="trainerDeatils" id="trainerDeatils"  type="text" ng-model="staff.trainerDeatils" placeholder="Trainer Details" required>
            <p style="color:#F00;" ng-show="staffForm.trainerDeatils.$invalid && (!staffForm.trainerDeatils.$pristine || isSubmit )" class="help-block">Trainer Deatils is required</p>
        </div>


        <div class="programe_control">
            <b>Learning Objectives :</b>
            <textarea rows="4" ng-model="staff.learningObjectives"></textarea>
           
        </div>
        <div class="clear"></div>
    </div>

    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok(staffForm)">OK</paper-button>
        <!--<button type="submit">Login</button>-->
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>

</form>



