﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>

<core-header-panel ng-controller="resourceLinksList as vm">
    <core-toolbar>
        <span flex>Resources</span>
        <input type="search" ng-model="searchCriteria" class="searchinput" />
        <div id="circle2" class="button" ng-click="vm.addResource()" ng-if="isshow">Add</div>
    </core-toolbar>

    <div class="content">
        <div class="scroll-grid">
            <table class="tableContent table-condensed " id="fixed">
                <tr>
                    <td style="height:80%">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="gridHeader">
                                    <!--<th></th>-->
                                    <th>Resource Name</th>
                                    <th>Resource Link</th>
                                    <th ng-if="isshow">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="link in vm.links| filter:searchCriteria" class=" fader-animation">

                                    <td style="vertical-align:middle;">{{link.resourceName}}</td>

                                    <td style="vertical-align:middle;"><a href={{link.resourceLink1}} target="_blank">{{link.resourceLink1}}</a> </td>

                                    <td style="vertical-align:middle;">
                                        <paper-button class="blue" ng-click="vm.editResource(link)" ng-if="isshow">
                                            edit
                                        </paper-button> &nbsp;&nbsp;

                                        <paper-button class="red"
                                                      ng-click="vm.deleteResource(link)" ng-if="isshow">
                                            delete

                                        </paper-button>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="show-hide-animation" data-ng-show="vm.statewides.length > vm.pageSize">
                <div class="paginationDiv">
                    <div data-pagination
                         data-on-select-page="pageChanged(page)"
                         data-total-items="vm.soList.lenght"
                         data-page="vm.currentPage"
                         data-boundary-links="true"
                         data-max-size="vm.maxSize"
                         class="pagination-sm">
                    </div>
                </div>
            </div>

</div>

        </div>

</core-header-panel>

