﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<core-header-panel ng-controller="setGrantYear as vm">
    <core-toolbar>
        <span flex>Grant Year</span>
        <!--<paper-fab icon="add" ng-click="vm.addyear()"></paper-fab>-->
    </core-toolbar>

    <div class="content">
        <table class="tableContent table-condensed " id="fixed">
            <tr>
                <td style="height:80%">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="gridHeader">
                              
                                <th>Year</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="year in vm.grantYears" class=" fader-animation">

                                <td style="vertical-align:middle;">{{year.grantYear1}}</td>
                              
                                <td style="vertical-align:middle;">{{year.startDate | date:'MM/dd/yyyy'}}</td>
                                <td style="vertical-align:middle;">{{year.endDate | date:'MM/dd/yyyy'}}</td>

                                <td style="vertical-align:middle;">
                                   
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <div class="show-hide-animation" data-ng-show="vm.statewides.length > vm.pageSize">
            <div class="paginationDiv">
                <div data-pagination
                     data-on-select-page="pageChanged(page)"
                     data-total-items="vm.soList.lenght"
                     data-page="vm.currentPage"
                     data-boundary-links="true"
                     data-max-size="vm.maxSize"
                     class="pagination-sm">
                </div>
            </div>
        </div>



    </div>

</core-header-panel>

