﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<core-header-panel ng-controller="siteUsage as vm">
    <core-toolbar>
        <span flex>Site Usage </span>
        
    </core-toolbar>

    <div class="content">
        <div id="fixed" style="margin-top: 10px;">

            <div class="divgrid">
                <table class="table table-condensed">
                    <thead>
                        <tr class="gridHeader">
                            <th>Sites with no entries in the last 30 days </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.siteUsage" class="fader-animation">
                            <td style="vertical-align:middle;">{{user.friendlyName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="divgrid">
                <table class=" table table-condensed">
                    <thead>
                        <tr class="gridHeader">
                            <!--<th></th>-->
                            <th>Sites with no entries in the last 30 to 60 days </th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.siteUsage1" class="fader-animation">

                            <td style="vertical-align:middle;">{{user.friendlyName}}</td>

                        </tr>


                    </tbody>
                </table>
            </div>
            <div class="divgrid">
                <table class="table table-condensed">
                    <thead>
                        <tr class="gridHeader">
                            <!--<th></th>-->
                            <th>Sites with no entries in the last 60 to 90 days</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.siteUsage2" class="fader-animation">

                            <td style="vertical-align:middle;">{{user.friendlyName}}</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="show-hide-animation" data-ng-show="vm.statewides.length > vm.pageSize">
            <div class="paginationDiv">
                <div data-pagination
                     data-on-select-page="pageChanged(page)"
                     data-total-items="vm.soList.lenght"
                     data-page="vm.currentPage"
                     data-boundary-links="true"
                     data-max-size="vm.maxSize"
                     class="pagination-sm">
                </div>
            </div>
        </div>



    </div>

</core-header-panel>

