﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<core-header-panel ng-controller="staffDevelopment as vm">
    <core-toolbar>
        <span flex>Staff Development</span>
        <input type="search" ng-model="searchCriteria" class="searchinput" ng-change="vm.userSearch(searchCriteria)" />
        <div id="circle2" class="button" ng-click="vm.addStaffDevelopment()">Add</div>
    </core-toolbar>

    <div class="content">
        <div class="scroll-grid">
            <table class="tableContent table-condensed " id="fixed">
                <tr>
                    <td style="height:80%">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="gridHeader">
                                    <th></th>
                                    <th>User Name</th>
                                    <th>Training Name</th>
                                    <th>Provider Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Hours</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="staff in vm.staffs" class="fader-animation">
                                    <td style="vertical-align:middle;">
                                        <paper-button class="blue" ng-click="vm.viewReport(staff)">
                                            View
                                        </paper-button>
                                    </td>
                                    <td style="vertical-align:middle;">{{staff.userName}}</td>
                                    <td style="vertical-align:middle;">{{staff.trainingName}}</td>
                                    <td style="vertical-align:middle;" ng-if="staff.providerName!=null">{{staff.providerName}}</td>
                                    <td style="vertical-align:middle;" ng-if="staff.providerName==null">{{staff.otherProviderName}}</td>
                                    <td style="vertical-align:middle;">{{staff.startDate| date:'MM-dd-yyyy'}}</td>
                                    <td style="vertical-align:middle;">{{staff.endDate| date:'MM-dd-yyyy'}}</td>
                                    <td style="vertical-align:middle;">{{staff.hours}}</td>
                                    <td style="vertical-align:middle;">
                                        <paper-button class="blue" ng-click="vm.editStaffDevelopment(staff)">
                                            Edit
                                        </paper-button> &nbsp;&nbsp;
                                        <paper-button class="red"
                                                      ng-click="vm.deleteStaffDevelopment(staff)">
                                            Delete

                                        </paper-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="show-hide-animation" ng-if="ispaging" style="margin-left: auto; margin-right: auto;width:50em;">
                <div class="paginationDiv">
                    <div class="pagination-sm">
                        <ul id="visible-pages-example" class="pagination">
                            <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex )">First</a></li>
                            <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex)">Previous</a></li>
                            <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                            <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex)">Next</a></li>
                            <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex)">Last</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</core-header-panel>

