﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<!--<core-header-panel ng-controller="staffDevelopmentReport as vm">-->

 
    <div ng-controller="staffDevelopmentReport as vm">
    <!--class="content"-->
    <section>
        <form name="editData" ng-submit="applyFilter(editData)" class="css-form" novalidate>

            <core-header-panel>
                <core-toolbar>
                    <span flex>Staff Development Report </span>
                </core-toolbar>
                <div class="documenttion">
                    <p ng-show="isdisplay" class="has-error" style="color: #F00;"><span ng-bind=" ismessage" class="help-block"></span></p>
                    <div class="programe_base pad">
                        <b>User Name:</b>
                        <select ng-required="true" name="regionSiteCodes" ng-model="vm.editData.regionSiteCodes" style="width:185px;">
                            <option value="0" selected="selected">--All--</option>
                            <option ng-repeat="data in vm.OrganizationList" value="{{data.id}}">{{data.name}}</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Begin Date:</b>
                        <input ng-disabled="false" type="text" class="dateField" name="startDate" ng-model="vm.editData.startDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                               datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" ng-required="true" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <div class="programe_base pad">
                        <!--ng-disabled="!vm.editData.startDate"-->
                        <b>End Date:</b>
                        <input type="text" ng-disabled="false" name="endDate" class="dateField" ng-model="vm.editData.endDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate"
                               datepicker-options="dateOptions" close-text="Close" data-date-greater-and-equal="vm.editData.startDate" placeholder="End Date" ng-required="true" required />
                        <span class="input-group-btn" style="float:right">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div class="programe_base pad">
                        <input type="submit" name="filter" value="Apply Filters" class="finishbtn" /> <!--ng-disabled="vm.editData.startDate>vm.editData.endDate"-->
                        <!--<span ng-show="vm.editData.startDate>vm.editData.endDate" class="help-block">Please Check the dates</span>-->

                    </div>
                    <div class="clear"></div>
                </div>

                <div class="scroll-grid">

                    <div class="content" style="margin-top:2%;" ng-show="vm.isList">
                        <table class="tableContent table-condensed " id="fixed">
                            <tr>
                                <td style="height:80%">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr class="gridHeader">

                                                <th>User Name</th>
                                                <th>Training Name</th>
                                                <th>Provider Name</th>

                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Hours</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in vm.editDataList" class=" fader-animation" ng-if="vm.editDataList.length != 0">

                                                <!--<td style="vertical-align:middle;">{{data.organization}}</td>-->
                                                <td style="vertical-align:middle;">{{data.userName}}</td>

                                                <!--<td style="vertical-align:middle;">{{data.curriculum === 1?"Ongoing":"Onetime"}}</td>-->
                                                <td style="vertical-align:middle;">{{data.trainingName}}</td>
                                                <td style="vertical-align:middle;">{{data.providerName}}</td>
                                                <td style="vertical-align:middle;">{{data.startDate | date:'MM/dd/yyyy'}}</td>
                                                <td style="vertical-align:middle;">{{data.endDate | date:'MM/dd/yyyy'}}</td>
                                                <td style="vertical-align:middle;">{{data.hours}}</td>

                                            </tr>
                                            <tr ng-if="vm.editDataList.length == 0">
                                                <td colspan="5" style="text-align: center; font-weight: bold;"> {{emptyMessage}}.</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!--<div class="show-hide-animation" data-ng-show="vm.statewides.length > vm.pageSize">
                            <div class="paginationDiv">
                                <div data-pagination
                                     data-on-select-page="pageChanged(page)"
                                     data-total-items="vm.soList.lenght"
                                     data-page="vm.currentPage"
                                     data-boundary-links="true"
                                     data-max-size="vm.maxSize"
                                     class="pagination-sm">
                                </div>
                            </div>
                        </div>-->



                    </div>

                </div>
            </core-header-panel>

        </form>
    </section>
</div>
    <br />



<!--</core-header-panel>-->


