﻿<link href="../../Content/modal-dialog.css" rel="stylesheet" />
<div>

    <div class="modal-header">
        <h3 class="modal-title">View Summary</h3>
    </div>
    <div class="modal-body">
        <br />
      
      
        <div style="height:400px;width:100%;display:block;position:relative">
          <iframe style="height:100%;width:100%;position:absolute" ng-src="{{source}}"></iframe> 

        </div>
    </div>
    <div class="modal-footer">
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Ok</paper-button>
        
    </div>
</div>