﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>

<form name="userForm" ng-submit="ok(userForm)" class="css-form" novalidate>
    <core-header-panel ng-controller="treatmentConfig as vm">
        <core-toolbar>
            <!--<span flex>Treatment User configuration</span>-->
            <span flex>Welcome Message</span>
        </core-toolbar>

        <div class="Welcome-Message">
            <div>
                <div style="margin-left:10px;" ng-class="{ 'has-error' : userForm.LinkName.$invalid && (!userForm.LinkName.$pristine || isSubmit ) }">

                    Message:&nbsp;<!--<input name="LinkName" type="text" style="width:30%;height:20%;" ng-model="statewide.message" required>-->
                    <textarea name="LinkName" rows="5" cols="50" ng-model="statewide.message" required></textarea>
                    <p style="margin-left:62px !important" ng-show="userForm.LinkName.$invalid && (!userForm.LinkName.$pristine || isSubmit )" class="help-block">Welcome message is required</p>
                    <br /><br />
                    Active :&nbsp;
                    <input name="chkStatus" type="checkbox" style="margin-left:13px !important" ng-model="statewide.isActive">

                    <input name="LinkName1" type="hidden" ng-model="statewide.iD">
                    <br />
                    <br />
                    <!--<paper-button class="btn-success btn-xs" style="margin-left:326px;" ng-click="ok()">OK</paper-button>-->
                    <paper-button class="btn-success btn-xs" ng-click="ok(userForm)">OK</paper-button>
                </div>
            </div>

        </div>

    </core-header-panel>
</form>




