﻿
<form name="frmtreatprog" class="css-form" ng-submit="ok(frmtreatprog)" novalidate>
    <div class="modal-header">
        <span class="modal-title" flex style="font-size:xx-large">{{title}}</span>

    </div>

    <div class="modal-body">
        <div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmtreatprog.programCodes.$invalid && (!frmtreatprog.programCodes.$pristine || isSubmit ) }">
               
                <b>Location Name:</b>

                <select required id="programCodes" name="programCodes" ng-model="treatmentProgram.locationId" style="width:185px;" required class="form-control"
                        ng-options="item.pKey as item.friendlyName_loc for item in treatmentProgram.locationList"></select>

                <p ng-show="frmtreatprog.programCodes.$invalid && (!frmtreatprog.programCodes.$pristine || isSubmit )" class="help-block">Location name is  required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmtreatprog.LocationName.$invalid && (!frmtreatprog.LocationName.$pristine || isSubmit ) }">

                Program Name:<input name="LocationName" type="text" ng-model="treatmentProgram.name" required>

                <p ng-show="frmtreatprog.LocationName.$invalid && (!frmtreatprog.LocationName.$pristine || isSubmit )" class="help-block">Program Name required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmtreatprog.LinkName.$invalid && (!frmtreatprog.LinkName.$pristine || isSubmit ) }">

                Adult Male:<input name="LinkName" type="text" ng-model="treatmentProgram.maleBeds" required>

                <p ng-show="frmtreatprog.LinkName.$invalid && (!frmtreatprog.LinkName.$pristine || isSubmit )" class="help-block">Adult Male required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmtreatprog.AdultFemale.$invalid && (!frmtreatprog.AdultFemale.$pristine || isSubmit ) }">

                Adult Female:<input name="AdultFemale" type="text" ng-model="treatmentProgram.femaleBeds" required>

                <p ng-show="frmtreatprog.AdultFemale.$invalid && (!frmtreatprog.AdultFemale.$pristine || isSubmit )" class="help-block">Adult Female required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmtreatprog.AdolescentMale.$invalid && (!frmtreatprog.AdolescentMale.$pristine || isSubmit ) }">

                Adolescent Male:<input name="AdolescentMale" type="text" ng-model="treatmentProgram.adolescentMaleBeds" required>

                <p ng-show="frmtreatprog.AdolescentMale.$invalid && (!frmtreatprog.AdolescentMale.$pristine || isSubmit )" class="help-block">Adolescent Male required</p>
            </div>

            <div class="form-group programe_control" ng-class="{ 'has-error' : frmtreatprog.AdolescentFemale.$invalid && (!frmtreatprog.AdolescentFemale.$pristine || isSubmit ) }">

                Adolescent Female:<input name="AdolescentFemale" type="text" ng-model="treatmentProgram.adolescentFemaleBeds" required>

                <p ng-show="frmtreatprog.AdolescentFemale.$invalid && (!frmtreatprog.AdolescentFemale.$pristine || isSubmit )" class="help-block">Adolescent FeMale required</p>
            </div>




          

            <div class="form-group programe_control">
                <b>60 days:</b>

                <input name="chk60days" type="checkbox" ng-model="treatmentProgram.is60days" ng-false-value="0">
            </div>

            <div class="form-group programe_control">
                <b>180 days:</b>

                <input name="chk180days" type="checkbox" ng-model="treatmentProgram.is180days" ng-false-value="0" >
            </div>

            <div class="form-group programe_control">
                <b>Active:</b>

                <input name="chkStatus" type="checkbox" ng-model="treatmentProgram.isActive">
            </div>


        </div>
        <div class="clear"></div>



        <br />
    </div>


    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok(frmtreatprog)">OK</paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>

</form>




