﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<core-animated-pages transitions="slide-from-right" ng-controller="utilizationRate as vm">
    <section class="core-selected">
        <form name="frmUtilizationRate" ng-submit="vm.exportData()">

            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">UtilizationRate</span>
                </core-toolbar>

                <div class="content documenttion">
                    <p class="has-error" style="color: #F00;"><span ng-bind="ismessage" class="help-block"></span></p>
                    <div class="programe_base pad">
                        <b>Begin Date:</b>

                        <input type="text" class="dateField" ng-model="vm.onetime.beginDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                                datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </div>

                    <div class="programe_base pad">
                        <b>End Date:</b>

                        <input type="text" class="dateField" ng-model="vm.onetime.endDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate"
                                datepicker-options="dateOptions" data-date-greater-and-equal="vm.onetime.beginDate" close-text="Close" placeholder="End Date" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </div>
                    <div class="clear"></div>
                    <div class="programe_base pad">
                        <b>Organization:</b>

                        <select id="selOrganization" name="selOrganization"
                                ng-model="vm.onetime.organization" style="width:90%;" class="form-control"
                                ng-options="item.friendlyName_loc as item.friendlyName_loc for item in vm.onetime.locationList"></select>



                    </div>

                    <div class="clear"></div>

                    <div class="finish">
                        <input type="submit" class="finishbtn" value="Export to Excel" />
                        
                    </div>

                </div>

            </core-header-panel>



        </form>



    </section>




</core-animated-pages>
