﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
<link rel="stylesheet" href="http://textangular.com/css/style.css" type="text/css">
<style>
    body{
        background-image:none !important;
    }
</style>
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.0/textAngular-sanitize.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.0/textAngular.min.js" type="text/javascript"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js" type="text/javascript"></script>
<script src="http://resources.infolinks.com/js/infolinks_main.js" type="text/javascript"></script>-->

<core-animated-pages transitions="slide-from-right" ng-controller="weeklyMailTemplate as vm">
    <section class="core-selected">
        <form name="templateForm" ng-submit="submit(vm)" novalidate>
            <core-header-panel>
                <core-toolbar horizontal end-justified layout>

                    <input type="submit" name="submit" class="finishbtn1" value="Save" width="130px" />
                </core-toolbar>
                <p style="position:relative;color:red;" ng-show="templateForm.template.$invalid && (!templateForm.template.$pristine || templateForm.$submitted) " class="help-block">Template is required.</p>
                <div class="container lighter">
                    <div text-angular required ng-model="vm.template" name="template" id="template" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
                </div>
                <input type="hidden" name="hid" id="hid"  ng-model="vm.Id" />
                <!--<textarea rows="8" cols="70" name="template" placeholder="template" class="form-control" ng-model="vm.template" required style="width: 490px;"></textarea>-->


            </core-header-panel>
        </form>
    </section>
</core-animated-pages>
