﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<section id="dashboard-view" class="content" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-if="isPrevention">
                    <div id="tbPrevention">
                        <div class="widget wviolet" ng-if="isAdminData">
                            <div data-cc-widget-header title="Evidence Based Prevention Activities"></div>
                            <div class="widget-content text-center text-info widget-height">
                                <div ng-repeat="style in vm.loadAdminStyle" class="row" style="{{vm.adminStyle}}">

                                    <div class="col-lg-7 col-xs-12" style=" padding-bottom: 30px;">
                                        <span style="float:left; padding-right:5px;color:#767676; " ng-if="isOnlyAdmin">Sort by agency:</span>

                                        <select ng-if="isOnlyAdmin" id="site" name="site" ng-change="vm.sitePagination(vm.Site)" ng-model="vm.Site" style="width:65%;" class="form-control" ng-options="item.id as item.name for item in agencyData">
                                            <option value="">--Select site--</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-5 col-xs-12">
                                        <div class="abovebelow_div">
                                            <!--<div class="abovequota"><i>&nbsp;</i>Non-Evidence based hours</div>-->
                                            <!--<div class="belowquota"><i>&nbsp;</i>Evidence based hours</div>-->
                                            <div class="abovequota"><i>&nbsp;</i>Prep hours</div>
                                            <div class="belowquota"><i>&nbsp;</i>Travel hours</div>
                                            <div class="belowquota1"><i>&nbsp;</i>Service hours</div>

                                            <div class="legandremaingHours"><i>&nbsp;</i>Remaining hours</div>
                                        </div>
                                    </div>



                                    <div class="sales_quata" style="{{vm.usermarginstyle}}">
                                        <div class="gref_div" ng-repeat="user in vm.adminDashBoard">
                                            <div class="name_div">{{user.userName}}</div>

                                            <div class="grf_container">
                                                <div class="grefbar">
                                                    <div class="target" data-tooltip="Target hours {{user.totalTargetHours}}" ng-style="vm.getLeft(user.targetHours)"></div>
                                                    <div class="progress">
                                                        <!--<div class="progress-bar progress-
                                bar-success" data-tooltip="Evidence based hours {{user.totalHours}}" style="width:{{user.evidenceBasedHours}}%"></div>-->
                                                        <!--<div class="progress-bar progress-bar--->
                                                        <div class="progress-bar progress-bar-success-step1" data-tooltip="Evidence based Prep hours {{user.sumOfPrepHours}}" ng-style="vm.getWidth(user.prepHoursPercent)"> </div>
                                                        <div class="progress-bar progress-bar-success-step2" data-tooltip="Evidence based Travel hours {{user.sumOfTravelHours}}" ng-style="vm.getWidth(user.travelHoursPercent)"> </div>
                                                        <div class="progress-bar progress-bar-success-step3" data-tooltip="Evidence based Service hours {{user.sumOfServiceHours}}" ng-style="vm.getWidth(user.serviceHoursPercent)"> </div>
                                                        <div class="progress-bar progress-bar-danger-step1" data-tooltip="Remaining hours {{user.totalRemainingHours}}" ng-style="vm.getWidth(user.remainingHours)"> </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                        <div class="avgresult">{{user.avgResult}}</div>
                                    </div>
                                    <div class="name_div" style="border-right: transparent;">&nbsp;</div>
                                    <div class="grf_container" style="border-left: transparent;">
                                        <div class=" gref_div">
                                            <div class="grefbar">
                                                <div class="salesM">


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="pretest">Total Pre-test Survey Count:{{eventsCount.pretestCount}}</div>
            <div class="posttest">Total Post-test Survey Count:{{eventsCount.posttestCount}}</div>-->
                                    <!--End gref div-->
                                </div>
                                <!--End sales quata-->
                            </div>
                        </div>
                        <!--<div class="widget">


                        <div data-cc-widget-header title="Prevention"></div>-->

                        <div class="row widget-content text-center text-info" ng-if="isUserData" style="padding:0;">
                            <div class="col-xs-12">
                                <!--<div class="sales_quata">
                                <div class="gref_div" ng-repeat="user in vm.userDashBoard">
                                    <div class="name_div">{{user.userName}}</div>
                                    <div class="grf_container">
                                        <div class="grefbar">
                                            <div class="target" data-tooltip="Target hours {{user.totalTargetHours}}" style="left:{{user.targetHours}}%;"></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" data-tooltip="Evidence based hours {{user.totalHours}}" sty style="width:{{user.evidenceBasedHours}}%"></div>
                                                <div class="progress-bar progress-bar-danger" data-tooltip="Non-Evidence based hours {{user.totalRemainingHours}}" style="width:{{user.remainingHours}}%"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="avgresult">{{user.avgResult}} %</div>
                                </div>
                                <div class="name_div" style="border-right: transparent;">&nbsp;</div>
                                <div class="grf_container" style="border-left: transparent;">
                                    <div class=" gref_div">
                                        <div class="grefbar">
                                            <div class="salesM">


                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!--End gref div-->
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                    <!--Comments Hours-->
                    <div class="widget wviolet" ng-if="isUserData">
                        <div data-cc-widget-header title="Evidence Based Prevention Activities"></div>
                        <div class="row widget-content text-center text-info" ng-if="isUserData">
                            <div class="col-xs-12">

                                <div class="canvas" id="chartContainer" style="height:520px;"></div>
                            </div>
                            <!--<div class="col-xs-4">
                                <div class="abovebelow_div">
                                    <div class="abovequota">Prep Hours {{sumOfPrepHours}}</div>
                                    <div class="belowquota">Travel Hours{{sumOfTravelHours}}</div>
                                    <div class="belowquota">Service hours {{sumOfServiceHours}}</div>
                                    <div class="belowquota">Remaining Hours {{totalRemainingHours}}</div>
                                </div>
                            </div>-->
                        </div>

                    </div>
                    <!-- Prevention Paging Div -->
                    <div class="show-hide-animation paginationheight" ng-if="isPaging">
                        <div class="paginationDiv">
                            <div class="pagination-sm">
                                <ul id="visible-pages-example" class="pagination">
                                    <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex )">First</a></li>
                                    <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex)">Previous</a></li>
                                    <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                                    <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex)">Next</a></li>
                                    <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex)">Last</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <div id="tbPrevention222">
                        <div class="widget wviolet">
                            <div data-cc-widget-header title="Bed Utilization and Availability"></div>
                           
                            <div class="widget-content text-center text-info widget-height">

                                <div class="genderSelect">

                                    <!--<span style="float:left; padding-right:5px;color:#767676; ">Sort by gender:</span>-->
                                    <select ng-change="vm.bpagination1(1)"
                                            ng-model="vm.bedSort"
                                            class="form-control">
                                        <option value="0">All</option>
                                        <option value="1">Adult Male</option>
                                        <option value="2">Adult Female</option>
                                        <option value="3">Adolescent</option>
                                    </select>
                                </div>

                                <div ng-if="isdataempty==false" style="width: 100%">
                                    <div id="chartTreatmentContainer" style="height:500px;"></div>
                                </div>
                                <!--<div ng-if="isdataempty">
            <div class="abovebelow_div">
                <div class="abovequota"><i>&nbsp;</i>Total Beds: 0</div>
                <div class="belowquota"><i>&nbsp;</i>Assgined Beds:0</div>
            </div>
        </div>-->
                                <!--<div class="clearfix" style="margin-bottom:64%;"></div>-->

                                <div class="show-hide-animation" ng-if="isBedPaging" style="margin-left: auto; margin-right: auto;">
                                    <div class="paginationDiv">
                                        <div class="pagination-sm">
                                            <ul id="visible-pages-example" class="pagination" style="float:right;">
                                                <li ng-show="vm.pagerBedData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.bpagination1(vm.pagerBedData.firstPageIndex )">First</a></li>
                                                <li ng-show="vm.pagerBedData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.bpagination1(vm.pagerBedData.previousPageIndex)">Previous</a></li>
                                                <li ng-repeat="page in vm.pageBedList"><a href="javascript:void(0)" ng-click="vm.bpagination1(page)">{{page}}</a></li>
                                                <li ng-show="vm.pagerBedData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.bpagination1(vm.pagerBedData.nextPageIndex)">Next</a></li>
                                                <li ng-show="vm.pagerBedData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.bpagination1(vm.pagerBedData.lastPageIndex)">Last</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>



        </div>


        <div class="container" style="margin-top:10px;" ng-if="isTreatment">
            <!--ng-if="isUsercontactData"-->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div id="tbTreatment">
                        <div class="widget wviolet selectFollowup2">
                            <div data-cc-widget-header title="Treatment"></div>
                            <div class="widget-content text-center text-info">
                                <div class="container" id="treatmentdashboard">

                                    <div class="row">
                                        <!--<ul id="myTab" class="nav nav-tabs" role="tablist" style="margin-bottom:2%;">
                                            <li role="presentation" class="active"><a href="#tbUsers" id="users-tab" role="tab" data-toggle="tab" aria-controls="tbUsers" aria-expanded="true">Summary</a></li>
                                            <li role="presentation" class=""><a href="#tbUpcoming" role="tab" id="upcoming-tab" data-toggle="tab" aria-controls="tbUpcoming" aria-expanded="false">Patient contact</a></li>
                                            <li role="presentation" class=""><a href="#tbDischargeSurvey" role="tab" id="dischargesurvey-tab" data-toggle="tab" aria-controls="tbDischargeSurvey" aria-expanded="false">Discharge surveys</a></li>
                                            <li role="presentation" class=""><a href="#tbDischargeDates" role="tab" id="dischargedates-tab" data-toggle="tab" aria-controls="tbDischargeDates" aria-expanded="false">Discharge dates</a></li>
                                        </ul>-->
                                        <div id="myTabContent">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tbUsers" aria-labelledby="users-tab">
                                                <div class="row">
                                                    <select ng-model="vm.typeFollowup" ng-change="vm.contactsById(vm.typeFollowup)" id="selFollowups" name="selFollowups" class="input-body selectFollowup">
                                                        <option value="1">30+ days</option>
                                                        <option value="2">60+ days</option>
                                                        <option value="4">180+ days</option>
                                                        <option value="3">Show All</option>
                                                    </select>

                                                    <paper-button class="showPdf" ng-click="vm.viewReport()">
                                                        Transitional Bed Capacity
                                                    </paper-button>



                                                    <input type="hidden" name="hdnSortType" id="hdnSortType" />

                                                </div>
                                                <div class="row">
                                                    <!--<p><h4>Patients to contact:</h4></p>-->
                                                    <table class="table table-condensed table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <strong>PATIENT ID</strong> &nbsp;<img src="../../Content/images/arrow-down.png" style="cursor:pointer;" ng-if="isdescending" ng-click="vm.ContactSorting('Desc')" /> &nbsp;
                                                                    <img src="../../Content/images/arrow-up.png" style="cursor:pointer;" ng-if="isAescending" ng-click="vm.ContactSorting('Asc')" />
                                                                </th>
                                                                <th>Service Type</th>
                                                                <!--<th>SURVEY ADMINISTERED BY</th>-->
                                                                <th>Discharge Date</th>
                                                                <th><strong>FOLLOW-UP</strong> </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!--<tr>
                                                                <td>1125</td>
                                                                <td>Discharge</td>
                                                                <td>John</td>
                                                                <td>10/10/12</td>
                                                                <td><input type="button" name="button" value="Add contact" /></td>
                                                                <td>10/01/13</td>
                                                            </tr>-->
                                                            <tr ng-repeat="link in vm.contactDetails|orderBy:'patientId'" class=" fader-animation">

                                                                <td style="vertical-align:middle;">{{link.patientId}}</td>
                                                                <td style="vertical-align:middle;">{{link.description}}</td>
                                                                <td style="vertical-align:middle;">{{link.dischargeDate | date:'MM/dd/yyyy'}}</td>

                                                                <!--<td style="vertical-align:middle;">{{link.surveyAdminName}}</td>

                                                                <td style="vertical-align:middle;">{{link.entryDate | date:'MM/dd/yyyy'}}</td>-->
                                                                <!--<td style="vertical-align:middle;">{{link.contact1}}</td>


                                                                <td style="vertical-align:middle;">{{link.contact3}}</td>-->

                                                                <td style="vertical-align:middle;">
                                                                    <img src="{{link.imagename}}" ng-click="vm.showFollowModel(link)" style="cursor:pointer;" />
          </td>
                                                                    


                                                                </td>



                                                                


                                                            </tr>
              </tbody>
                                                        </tbody>
                                                    </table>

                                                    <div class="show-hide-animation" ng-if="isContactPaging" style="margin-left: auto; margin-right: auto;">
                                                        <div class="paginationDiv">
                                                            <div class="pagination-sm">
                                                                <ul id="visible-pages-example" class="pagination" style="float:right;">
                                                                    <li ng-show="vm.pagerContactData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination1(vm.pagerContactData.firstPageIndex,vm.typeFollowup)">First</a></li>
                                                                    <li ng-show="vm.pagerContactData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination1(vm.pagerContactData.previousPageIndex,vm.typeFollowup)">Previous</a></li>
                                                                    <li ng-repeat="page in vm.pageContactList"><a href="javascript:void(0)" ng-click="vm.pagination1(page,vm.typeFollowup)">{{page}}</a></li>
                                                                    <li ng-show="vm.pagerContactData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination1(vm.pagerContactData.nextPageIndex,vm.typeFollowup)">Next</a></li>
                                                                    <li ng-show="vm.pagerContactData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination1(vm.pagerContactData.lastPageIndex,vm.typeFollowup)">Last</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <script type="text/javascript">

                                        $(function () {
                                            $('#myTab a').click(function (e) {
                                                e.preventDefault()
                                                $(this).tab('show')
                                            })
                                            $("tr td").css("text-align", "left");
                                        });

                                    </script>


                                </div>
                            </div>
                            <!--<div class="widget-foot">
                            <div class="clearfix"></div>
                            </div>-->


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <!--<div class="row">
            <div id="tbUpcoming">
                <div class="widget wgreen">
                    <div data-cc-widget-header title="Resource Links"
                         allow-collapse="true"></div>
                    <div class="widget-content text-center text-info">
                        <div class="re_link">
                            <ul>
                                <li ng-repeat="tPm in vm.links"><a href="{{tPm.resourceLink1}}">{{tPm.resourceName}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>-->
        </div>
    </section>
</section>
