﻿<link href="../../Content/modal-dialog.css" rel="stylesheet" />
<div>

    <div class="modal-header">
        <h3 class="modal-title">Transitional Bed Capacity</h3>
    </div>
    <div class="modal-body">
        <div style="height:600px;width:100%;display:block;position:relative">
            
            <iframe style="BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 100%; HEIGHT: 98%; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid"
                    src="app/dashboard/test.pdf"
                    name="ifr" id="ifr" scrolling=no>
                Your browser do not support frames!
            </iframe>

        </div>


    </div>
    <div class="modal-footer">
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Ok</paper-button>
    </div>
</div>