﻿<link href="../../Content/modal-dialog.css" rel="stylesheet" />

<div>
  <form name="frmResourceLink" ng-submit="ok(frmResourceLink)" class="css-form" novalidate>
        <div class="modal-header">
            <span class="modal-title" style="font-size:xx-large">Follow up</span>
            <paper-button class="btn-success btn-xs surveybtn" ng-click="onStartSurvey()">Start survey</paper-button>
        </div>
        <div class="modal-body">
            <div style="height:500px;width:100%;display:block;position:relative">

                <tabset justified="true">
                    <tab heading="First FollowUp" id="first" disabled="disabled">
                      
                    </tab>
                    <tab heading="Second FollowUp" id="Second" disabled="disabled">
                       
                    </tab>
                    <tab heading="Third FollowUp" id="Third" disabled="disabled">
                       
                    </tab>
                </tabset>

                <div class="popGrid">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>PATIENT ID</th>
                                <th>FOLLOWUP DATE</th>
                                <th>FOLLOWUP COMMENTS</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="link in FollowUpsList" class=" fader-animation">

                                <td style="vertical-align:middle;">{{link.patientId}}</td>

                                <td style="vertical-align:middle;">{{link.followupDate | date:'MM/dd/yyyy'}}</td>

                                <td style="vertical-align:middle;">{{link.followupComment }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="formDiv">

                    <div class="form-group programe_base" ng-class="{ 'has-error' : frmResourceLink.startDate.$invalid && (!frmResourceLink.startDate.$pristine || isSubmit ) }">
                        <p ng-show="isdisplay" class="has-error" style="color: #F00;"><span ng-bind="ismessage" class="help-block"></span></p>
                        <strong>No Contact:</strong><br/>

                        <span><b>Date:</b></span>
                        <span>

                            <input ng-disabled="false" type="text" class="dateField" name="startDate" ng-model="FollowUps.followupDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                                   datepicker-options="dateOptions" close-text="Close" placeholder="Follow up date" ng-required="true" required />

                            <input ng-disabled="false" type="hidden" name="lastDate" ng-model="lastDate" datepicker-popup="{{format}}" datepicker-options="dateOptions" />

                            <p ng-show="frmResourceLink.startDate.$invalid && (!frmResourceLink.startDate.$pristine || isSubmit )" class="help-block">Follow up date required</p>
                        </span>

                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="form-group programe_base" style="width:92%;" ng-class="{ 'has-error' : frmResourceLink.startDate.$invalid && (!frmResourceLink.startDate.$pristine || isSubmit ) }">
                        <div>
                            <span><b>Notes:</b></span>
                            <div class="clearfix"></div>
                            <span>

                                <textarea rows="10" cols="25" style="height:120px; width:94%;" ng-model="FollowUps.followupComment" name="notes" id="notes"></textarea> <!--ng-model="vm.onetime.OverallComments"-->

                            </span>
                        </div>

                    </div>

                </div>

                
        </div>
        <div class="modal-footer">
            <paper-button class="btn-success btn-xs" ng-click="ok(frmResourceLink)">
                OK
            </paper-button>
            <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>


            <!--<input type="submit" class="btn-success btn-xs button-content" name="btnsubmit" value="Ok" />
            <input type="button" class="btn-danger btn-xs button-content" name="btnCancel" value="Cancel" ng-click="cancel()" />-->

            <input type="hidden" name="hidId" id="hidId" value="1">
        </div>

       
        <input type="hidden" name="hidPatID" id="hidPatID" class="dateField" disabled="disabled" ng-model="FollowUps.patientId" />
    </form>
</div>
