﻿<style>
    a.btn{
        margin-left:-18px;
    }
</style>
<div>
    <form name="remaindForm" ng-submit="ok(remaindForm)" class="css-form" novalidate>
        <div class="modal-header">
            <span class="modal-title" style="font-size:xx-large">Follow up reminder</span>

        </div>
        <div class="modal-body">
            <div class="form-group programe_base">
                <span><b>Select Date:</b></span>
                <br /><br />
                <input ng-disabled="false" type="text" class="dateField" name="remindDate" ng-model="FollowUps.followupDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                       datepicker-options="dateOptions" close-text="Close" placeholder="Reminder date" ng-required="true" required />
            </div>
            <div class="form-group programe_base">
                <span><b>Select Time:</b></span>
                <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>

            <div class="clear"></div>
        </div>
        <div class="modal-footer">
                <paper-button class="btn-success btn-xs" ng-click="ok(frmResourceLink)">
                    Save
                </paper-button>
                <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>

                <input type="hidden" name="hidId" id="hidId" value="1">
            </div>
           

    </form>
</div>
