﻿<core-header-panel ng-controller="report12a as vm">
    <core-toolbar>
        <span flex>Reports</span>
      
    </core-toolbar>

    <div class="content">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <!--<th></th>-->
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Name</th>
                    <th>Email Id</th>
                    <th></th>

                </tr>
            </thead>

        </table>
    


    </div>

</core-header-panel>

