﻿<div>

    <div class="modal-header" style=" width:100% !important;">
        <h3 class="modal-title">Select Date</h3>
    </div>

    <p class="has-error" style="color: #F00;width: 100%;"><span ng-show="ismessage" style="padding-left:20px;" class="help-block">Discharge date cannot be less than entry date</span></p>

    <div class="modal-body" style=" width:100% !important;">
        <div class="form-group dischargePading">
            <datepicker ng-model="dt.dischargeDate" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        </div>
        <div class="form-group dischargePading">

            <b style="padding-left:5px; display:block;">Discharge Code:</b>
            <select required ng-model="dt.dischargeId" id="selProviderName" name="selProviderName" style="width:50%;" class="form-control">
                <option ng-repeat="data in dt.dischargeCodeList" value="{{data.dischargeId}}">{{data.dischargeCode1}}</option>
            </select>

        </div>
        
    </div>



    <div class="modal-footer" style=" width:100% !important; background:#ddd; padding:7px 20px; text-align:right;">
        <paper-button class="btn-success btn-xs" ng-click="ok()">
            OK
        </paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>
</div>

