﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<div ng-controller="discharges as vm">
    <core-header-panel>
        <core-toolbar>
            <span flex>Update Discharge Dates</span>
           
        </core-toolbar>
        <div class="content">
            <div class="scroll-grid">
                <input type="hidden" name="hdnSortType" id="hdnSortType" />
                <table class="tableContent table-condensed " id="fixed">
                    <tr>
                        <td style="height:80%">
                            <table class="table table-condensed">
                                <thead>
                                    <tr class="gridHeader">
                                        <!--<th>RecNo</th>-->
                                        <th>
                                            Patient ID&nbsp;<img src="../../Content/images/arrow-down.png" style="cursor:pointer;" ng-if="isdescending" ng-click="vm.ContactSorting('Desc')" /> &nbsp;
                                            <img src="../../Content/images/arrow-up.png" style="cursor:pointer;" ng-if="isAescending" ng-click="vm.ContactSorting('Asc')" />
                                        </th>
                                        <!--<th>Completed By</th>-->
                                        <th>Service Type</th>
                                        <th>Entry Date</th>
                                        <th>Discharge Date</th>
                                        <th>Set Discharge Date</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="event in vm.events" class="fader-animation">
                                        <!--<td>{{event.RecNo}}</td>-->
                                        <td style="vertical-align:middle;">{{event.paT_ID}}</td>
                                        <!--<td style="vertical-align:middle;">{{event.loginID}}</td>-->
                                        <td style="vertical-align:middle;">{{event.description}}</td>
                                        <td style="vertical-align:middle;">{{event.entryDate | date:'MM/dd/yyyy'}}</td>
                                        <td style="vertical-align:middle;">{{event.dischargeDate | date:'MM/dd/yyyy'}}</td>

                                        <td style="vertical-align:middle;">



                                            <!--<button
                                            type="button" ng-click="vm.deleteEvent(event)">Add Date</button>-->



                                            <paper-button class="red"
                                                          ng-click="vm.deleteEvent(event)">
                                                Set Discharge Date

                                            </paper-button>

                                            <!--<input type="text" value="{{event.dischargeDate  | date:'dd/MM/yyyy'}}" datepicker-popup="{{format}}" ng-model="dt" is-open="{{ 'opened' + $index }}" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="onChange(event)" />-->
                                            <!--<span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>-->





                                        </td>

                                    </tr>


                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="show-hide-animation" ng-if="ispaging" style="margin-left: auto; margin-right: auto;">
                    <div class="paginationDiv">
                        <div class="pagination-sm">
                            <ul id="visible-pages-example" class="pagination">
                                <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex )">First</a></li>
                                <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex)">Previous</a></li>
                                <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                                <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex)">Next</a></li>
                                <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex)">Last</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>











