﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<core-header-panel ng-controller="dischargeReport as vm">

    <core-toolbar>
        <span flex>Discharge Report </span>
    </core-toolbar>
    <div class="content">
        <section>
            <form name="editData" ng-submit="applyFilter(editData)" class="css-form" novalidate>

                <core-header-panel>
                    <div class="documenttion">
                        <p ng-show="isdisplay" class="has-error" style="color: #F00;"><span ng-bind=" ismessage" class="help-block"></span></p>
                        <div class="programe_base pad">
                            <b>Organization:</b>
                            <select ng-required="true" name="orginizationName" ng-model="vm.editData.regionSiteCodes" style="width:185px;">
                                <option value="0" selected="selected">--All--</option>
                                <option ng-repeat="item in vm.onetime.locationList" value="{{item.pKey}}">{{item.friendlyName_loc}}</option>
                            </select>
                        </div>

                        <!--<div class="programe_base pad">
                            <b>Organization:</b>


                            <select id="selOrganization" name="selOrganization"
                                    ng-model="vm.onetime.organization" style="width:185px;" class="form-control"
                                    ng-options="item.stateRegionCode as item.friendlyName_loc for item in vm.onetime.locationList"></select>
                        </div>-->

                        <div class="programe_base pad">
                            <b>Begin Date:</b>
                            <input ng-disabled="false" type="text" class="dateField" name="startDate" ng-model="vm.editData.startDate" datepicker-popup="{{format}}" is-open="openBeginDateopened" min-date="minDate"
                                   datepicker-options="dateOptions" close-text="Close" placeholder="Begin Date" ng-required="true" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <div class="programe_base pad">
                            <!--ng-disabled="!vm.editData.startDate"-->
                            <b>End Date:</b>
                            <input type="text" ng-disabled="false" name="endDate" class="dateField" ng-model="vm.editData.endDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate"
                                   datepicker-options="dateOptions" close-text="Close" data-date-greater-and-equal="vm.editData.startDate" placeholder="End Date" ng-required="true" required />
                            <span class="input-group-btn" style="float:right">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <div class="programe_base pad">
                            <input type="submit" name="filter" value="Apply Filters" class="finishbtn" /> <!--ng-disabled="vm.editData.startDate>vm.editData.endDate"-->
                            <!--<span ng-show="vm.editData.startDate>vm.editData.endDate" class="help-block">Please Check the dates</span>-->

                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="content" ng-show="vm.isList">
                        <div class="scroll-grid">
                            <input type="hidden" name="hdnSortType" id="hdnSortType" />
                            <table class="tableContent table-condensed " id="fixed">

                                <tr>
                                    <td style="height:80%">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr class="gridHeader">
                                                    <!--<th>RecNo</th>-->
                                                    <th>
                                                        Patient ID&nbsp;<img src="../../Content/images/arrow-down.png" style="cursor:pointer;" ng-if="isdescending" ng-click="vm.ContactSorting('Desc')" /> &nbsp;
                                                        <img src="../../Content/images/arrow-up.png" style="cursor:pointer;" ng-if="isAescending" ng-click="vm.ContactSorting('Asc')" />
                                                    </th>
                                                    <!--<th>Completed By</th>-->
                                                    <th>Service Type</th>
                                                    <th>Entry Date</th>
                                                    <th>Discharge Date</th>
                                                    <th>Organization</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="event in vm.events" class="fader-animation">
                                                    <!--<td>{{event.RecNo}}</td>-->
                                                    <td style="vertical-align:middle;">{{event.paT_ID}}</td>
                                                    <!--<td style="vertical-align:middle;">{{event.loginID}}</td>-->
                                                    <td style="vertical-align:middle;">{{event.description}}</td>
                                                    <td style="vertical-align:middle;">{{event.entryDate | date:'MM/dd/yyyy'}}</td>
                                                    <td style="vertical-align:middle;">{{event.dischargeDate | date:'MM/dd/yyyy'}}</td>
                                                    <td style="vertical-align:middle;">{{event.locationName}}</td>
                                                </tr>

                                                <tr ng-if="vm.events.length ==0">
                                                    <td colspan="5" style="text-align: center; font-weight: bold;">{{emptyMessage}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <div class="show-hide-animation" ng-if="ispaging" style="margin-left: auto; margin-right: auto;">
                                <div class="paginationDiv">
                                    <div class="pagination-sm">
                                        <ul id="visible-pages-example" class="pagination">
                                            <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex )">First</a></li>
                                            <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex)">Previous</a></li>
                                            <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                                            <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex)">Next</a></li>
                                            <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex)">Last</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </core-header-panel>

            </form>
        </section>
    </div>
    <br />



</core-header-panel>
