﻿
<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<core-animated-pages transitions="slide-from-right" ng-controller="treatmentSurveyTools as vm">
    <section class="core-selected">
        <form name="surveyForm" ng-submit="Finish(vm)" novalidate>
            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">Survey Tools</span>
                    <input type="button" ng-click="Finish(vm)" name="submit" value="Finish" width="130px" />
                </core-toolbar>
                <div class="content documenttion">
                    <div class="programe_base pad">
                        <b>Agency Name:</b>
                        <select ng-model="vm.Agency" name="Agency" ng-disabled="true" style="width:185px;">
                            <option value="" selected="selected">New Roads</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Survey Administered By:</b>
                        <select ng-required="true" name="Administered" ng-model="vm.Administered" style="width:185px;">
                            <option value="">--Select--</option>
                            <option ng-repeat="data in administeredData" value="{{data.id}}">{{data.name}}</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Survey Completed:</b>
                        <input type="text" name="SurveryCompletedDate" class="dateField" datepicker-popup="{{format}}" ng-model="vm.SurveryCompletedDate" is-open="openBeginDateopened" min-date="minDate"
                               ng-required="true" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Survey Completed Date" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <div class="programe_base pad">
                        <b>Survey:</b>
                        <select ng-required="true" name="Survey" ng-model="vm.Survey" style="width:185px;">
                            <option value="">--Select--</option>
                            <option ng-repeat="data in surveyData" value="{{data.recNo}}">{{data.surveyTitle}}</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Survey Type:</b>
                        <select ng-required="true" name="SurveyType" ng-model="vm.SurveyType" style="width:185px;" >
                            <option value="" selected="selected">--Select--</option>
                            <option ng-repeat="data in bindSurveyTypeData" value="{{data.id}}">{{data.name}}</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Service Provided:</b>
                        <select ng-required="true" name="ServiceProvide" ng-model="vm.ServiceProvide" style="width:185px;">
                            <option value="" selected="selected">--Select--</option>
                            <option ng-repeat="data in surveyService" value="{{data.recNo}}">{{data.description}}</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Program Name:</b>
                        <select ng-required="true" name="ProgramName" ng-model="vm.ProgramName" style="width:185px;">
                            <option value="" selected="selected">--Select--</option>
                            <option ng-repeat="data in surveyProgram" value="{{data.recNo}}">{{data.name}}</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Case Number (Client ID):</b>
                        <input name="CaseNumber" placeholder="Case Number" class="form-control" type="text" ng-model="vm.CaseNumber" required>
                    </div>
                    <div class="programe_base pad">
                        <b>Client Entry Date:</b>
                        <input type="text" name="ClientEntryDate" class="dateField" datepicker-popup="{{format}}" ng-model="vm.ClientEntryDate" is-open="opened" min-date="minDate"
                               ng-required="true" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Entry Date" />
                        <span class="input-group-btn" style="float:right">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div class="programe_base pad" style=" float: left; margin-right: 30%; ">
                        <b>Comments:</b>
                        <textarea rows="4" cols="50" name="Comments" placeholder="Comments" class="form-control" ng-model="vm.Comments" required style="margin-left: 0px; margin-right: -224px; width: 490px;"></textarea>
                    </div>
                    <div class="clear"></div>
                    <hr />
                    <div id="dynamichtml" ng-model="vm.dynamicdata">
                    </div>
                    <hr />
                   
                    <input type="hidden" ng-model="vm.DynamicDataCtrl" name="hdf[]" id="hdf" ng-value="" />
                </div>
            </core-header-panel>
        </form>
    </section>
    <script>
        var arr = [];
        var hdf = document.getElementById('hdf');
        function pushValue(value) {
            var QtnResArr = value.split('$');
            var ResponseID = QtnResArr[0];
            var QuestionID = QtnResArr[1];            
            arr.push({ RID: ResponseID, QID: QuestionID });
            $("#hdf").val(JSON.stringify(arr));
        }
        
    </script>
</core-animated-pages>





