﻿<link href="../../Content/modal-dialog.css" rel="stylesheet" />
<div>

    <div class="modal-header">
        <h3 class="modal-title">Treatment Survey Summary</h3>
    </div>
    <div class="modal-body">
        <br />
         <div style="height:600px;width:100%;display:block;position:relative">
           <iframe style="height:100%;width:100%;position:absolute" ng-src="{{source}}"></iframe>

        </div>
    </div>
    <div class="modal-footer">
        <paper-button class="finishbtn1" ng-click="ok()">Ok</paper-button>
    </div>
</div>