﻿@model IEnumerable<DataGadget.Web.Models.QuestionResponseViewModel>

@{

    Layout = null;
    int questionNumber = 1;
    var UserSessionID = Model.Select(x => x.UserSessionID).FirstOrDefault();
    var ClientSessionStart = Model.Select(x => x.ClientSessionStart).FirstOrDefault();

}
<link href="~/Content/customstyles.css" rel="stylesheet" />

<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<core-animated-pages transitions="slide-from-right" ng-controller="surveyTools as vm">
    <section class="core-selected">
        <form name="surveyForm" novalidate>
            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">Survey Tools</span>
                    <input type="submit" name="submit" class="finishbtn1" value="Finish" width="130px" ng-click="Finish(vm)" />
                    <input type="submit" name="btnsubmit" class="finishbtn1" value="Next Client" width="130px" ng-click="newClient(vm)" />

                </core-toolbar>
                <div class="content documenttion">
                    Survey Count:{{cnt}}
                    <input name="eventId" id="eventId" type="hidden" class="form-control select" ng-model="vm.eventId">
                </div>
                <div class="content documenttion">
                    <div class="programe_base pad">
                        <b>Survey Completed:</b>
                        <input type="text" class="dateField" datepicker-popup="{{format}}" ng-model="vm.surveyEndDate" name="surveyEndDate" is-open="openBeginDateopened" min-date="minDate"
                               max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Survey Completed" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                        <p style="position:relative;color:red;" ng-show="surveyForm.surveyEndDate.$invalid && (!surveyForm.surveyEndDate.$pristine || surveyForm.$submitted) " class="help-block">Survey Completed is required.</p>
                    </div>

                    <div class="programe_base pad">
                        <b>Survey:</b>
                        <select ng-model="vm.survey" id="survey" name="survey" class="select" required>
                            <option ng-repeat="data in surveyData" value="{{data.recNo}}">{{data.surveyTitle}}</option>
                        </select>
                        <p style="position:relative;color:red;" ng-show="surveyForm.survey.$invalid && (!surveyForm.survey.$pristine || surveyForm.$submitted) " class="help-block">Survey is required.</p>
                    </div>
                    <div class="programe_base pad">
                        <b>Participant ID (Optional):</b>
                        <input name="participant" id="participantID" placeholder="Participant ID" class="form-control select" type="text" ng-model="vm.participant" ng-bind="participant">
                        @*<p style="position:absolute;color:red;" ng-show="surveyForm.participant.$invalid && (!surveyForm.participant.$pristine || surveyForm.$submitted) " class="help-block">Participant ID is required.</p>*@
                    </div>

                    <div class="clear"></div>
                    @*ng-if="false"*@
                    @*<div class="programe_base pad" >
                    <b>Survey Type:</b>
                    <select ng-model="vm.surveyID" name="surveyID" id="surveyTypeID" name="surveyTypeID" class="select" required>
                    <option ng-repeat="data in surveyType" value="{{data.surveyTypeID}}">{{data.displayName}}</option>
                    </select>
                    <p style="position:relative;color:red;" ng-show="surveyForm.surveyID.$invalid && (!surveyForm.surveyID.$pristine || surveyForm.$submitted) " class="help-block">Survey Type is required.</p>

                    </div>*@
                    <div class="programe_base pad">
                        <b>Program Type:</b>
                        <select ng-model="vm.programID" name="programID" ng-change="getProgramTypeData(vm.programID)" class="select" required>
                            <option value="NREPP" selected>NREPP</option>
                            <option value="State">State Approved</option>

                        </select>
                        <p style="position:relative;color:red;" ng-show="surveyForm.programID.$invalid && (!surveyForm.programID.$pristine || surveyForm.$submitted) " class="help-block">Program Type is required.</p>


                    </div>
                    <div class="programe_base pad">
                        <b>Program Name:</b>

                        <select name="programNameData" ng-model="vm.programNameData"
                                ng-options="filter.pid as filter.name for filter in programNames"
                                ng-change="getProgramNameTypeData(vm.programNameData)" class="select" required></select>
                        <p style="position:relative;color:red;" ng-show="surveyForm.programNameData.$invalid && (!surveyForm.programNameData.$pristine || surveyForm.$submitted) " class="help-block">Program Name is required.</p>

                    </div>

                    <div class="clear"></div>

                    <div class="programe_base pad" style="margin-bottom:3%;">
                        <p>
                            <b>
                                Group Name:
                            </b>
                            <select name="groupNameData" ng-model="vm.groupNameData"
                                    ng-options="filter.groupName as filter.groupName for filter in groupNames" class="select" required></select>
                            <span style="position:relative;color:red;" ng-show="surveyForm.groupNameData.$invalid && (!surveyForm.groupNameData.$pristine || surveyForm.$submitted) " class="help-block">Group Name is required.</span>
                        </p>
                    </div>

                    <div class="clear"></div>
                    <div id="dynamichtml" class="pad_left">
                        <input type="hidden" name="hdfsd" id="hdfsd" ng-model="vm.SessionID" value="@UserSessionID" />
                        <input type="hidden" name="hdfcst" id="hdfcst" ng-model="vm.ClientSessionStart" value="@ClientSessionStart.ToString()" />
                        @foreach (var question in Model)
                        {

                        switch (question.SurveyGroupQuestion.ASPControlType)
                        {
                        case "DatePicker":
                        <div>
                            <p><div class="questi_div">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</div></p>
                            <div class="questi_div">
                                <span style="color:red;" ng-show="surveyForm.question_@question.SurveyGroupQuestion.RecNo.$invalid && (!surveyForm.question_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required.</span>
                                <p class='pOptions' style="width:45%">
                                    <input type="text" class="dateField" datepicker-popup="{{format}}" ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" name="question_@question.SurveyGroupQuestion.RecNo" is-open="opened" min-date="minDate"
                                           max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        break;
                        @*case "DropDownList":
                        <div>
                        <p>
                        <div class="questi_div">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</div>

                        <div class="questi_dropedown">

                        <select class="form-control" required ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" name="question_@question.SurveyGroupQuestion.RecNo" id=@("select" + question.SurveyGroupQuestion.RecNo)>

                        @foreach (var response in question.SurveyQTNResponseList)
                        {
                        <option value="@response.SurveyResponseItemID">@response.Response</option>
                        }
                        </select>
                        <span style="color:red;" ng-show="surveyForm.question_@question.SurveyGroupQuestion.RecNo.$invalid && (!surveyForm.question_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required.</span>
                        </div>
                        </p>
                        </div>
                        break;*@

                        case "DropDownList":
                        <div>
                            <p>
                                <div class="questi_div">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</div>

                                <div class="questi_dropedown">

                                    <select class="responseSelect" ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" name="question_@question.SurveyGroupQuestion.RecNo" id=@("select" + question.SurveyGroupQuestion.RecNo) ng-disabled="vm.qestionchkNoResponse_@question.SurveyGroupQuestion.RecNo" ng-required="!vm.qestionchkNoResponse_@question.SurveyGroupQuestion.RecNo">

                                        @foreach (var response in question.SurveyQTNResponseList)
                                        {
                                        if (@response.Response != "No response")
                                        {
                                        <option value="@response.SurveyResponseItemID">@response.Response</option>
                                        }

                                        }
                                    </select>
                                    <input type="checkbox" name="vm.qestionchkNoResponse_@question.SurveyGroupQuestion.RecNo" ng-model="vm.qestionchkNoResponse_@question.SurveyGroupQuestion.RecNo" ng-true-value="@question.SurveyQTNResponseList[@question.SurveyQTNResponseList.Count-1].SurveyResponseItemID" />
                                    No response

                                    <span style="color:red;" ng-show="(surveyForm.question_@question.SurveyGroupQuestion.RecNo.$invalid) && (!surveyForm.question_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted)" class="help-block">Answer is required.</span>
                                </div>
                            </p>
                        </div>
                        break;

                        case "RadioButtonList":

                        if (question.SurveyGroupQuestion.SurveyQTN != "How satisfied are you with the knowledge that you gained during this program?")
                        {


                        <div>

                            <p>
                                <div class="questi_div">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</div>
                            </p>
                            <div class="questi_div">
                                <span style="color:red;" ng-show="surveyForm.question_@question.SurveyGroupQuestion.RecNo.$invalid && (!surveyForm.question_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required.</span>
                                @foreach (var response in question.SurveyQTNResponseList)
                                {
                                <p class="pOptions" style="width:100% !important;">
                                    <input required type="radio" name=@("question_" + question.SurveyGroupQuestion.RecNo) ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" value="@response.SurveyResponseItemID" /> @response.Response
                                    @if (response.Response.ToLowerInvariant().Contains("other"))
                                    {
                                    <input ng-model="vm.qestion_txtresponse_@question.SurveyGroupQuestion.RecNo" class=" form-control ng-pristine ng-invalid ng-invalid-required" id="txtOtherResponse_@questionNumber" name="txtOtherResponse_@questionNumber" type="text" placeholder="Please Specify" style="width:200px;" />
                                    }
                                </p>

                                }
                            </div>
                        </div>
                        }
                        else
                        {
                        <div>

                            <p>
                                <div class="questi_div" ng-if="vm.surveyID==2">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</div>
                            </p>
                            <div class="questi_div">
                                <span style="color:red;" ng-show="surveyForm.question_@question.SurveyGroupQuestion.RecNo.$invalid && (!surveyForm.question_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required.</span>
                                @foreach (var response in question.SurveyQTNResponseList)
                                {
                                <p class="pOptions" style="width:100% !important;" ng-if="vm.surveyID==2">
                                    <input ng-required="vm.surveyID==2" type="radio" name=@("question_" + question.SurveyGroupQuestion.RecNo) ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" value="@response.SurveyResponseItemID" /> @response.Response
                                    @if (response.Response.ToLowerInvariant().Contains("other"))
                                    {
                                    <input ng-model="vm.qestion_txtresponse_@question.SurveyGroupQuestion.RecNo" class=" form-control ng-pristine ng-invalid ng-invalid-required" id="txtOtherResponse_@questionNumber" name="txtOtherResponse_@questionNumber" type="text" placeholder="Please Specify" style="width:200px;" />
                                    }
                                </p>

                                }
                            </div>
                        </div>
                        }
                        break;

                        case "CheckBoxList":
                        <div>
                            <p><div class="questi_div">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</div></p>
                            @*<span style="color:red;" ng-show="surveyForm.ch_questionresonse_@question.SurveyGroupQuestion.RecNo.$invalid && (!surveyForm.ch_questionresonse_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required.</span>*@


                            <div class="questi_div">
                                <span style="color:red;" ng-show="ischkSubit" class="help-block">Answer is required.</span>
                                @foreach (var response in question.SurveyQTNResponseList)
                                {

                                <p class='pOptions'>
                                    @*<input type='checkbox' name=@("ch_questionresonse" + response.SurveyResponseItemID) ng-model=@("vm.question_"+question.SurveyGroupQuestion.RecNo) value="@response.SurveyResponseItemID" ng-true-value="@response.SurveyResponseItemID" ng-false-value="@response.SurveyResponseItemID" />@response.Response*@


                                    @*<input type='checkbox' name=@("ch_questionresonse" + response.SurveyResponseItemID) ng-model=@("vm.question_" +question.SurveyGroupQuestion.RecNo+ "_" +response.SurveyResponseItemID) value="@response.SurveyResponseItemID" ng-true-value="@response.SurveyResponseItemID" ng-false-value="@response.SurveyResponseItemID" />@response.Response    ng-disabled="vm.question_28_413"*@

                                    @if (response.Response.ToLowerInvariant().Contains("response"))
                                    {
                                    <input checkbox-group type='checkbox' name=@("ch_questionresonse_"+ question.SurveyGroupQuestion.RecNo) id="chkNoresponse" ng-model=@("vm.question_" +question.SurveyGroupQuestion.RecNo+ "_" +response.SurveyResponseItemID) value="@response.SurveyResponseItemID" ng-true-value="@response.SurveyResponseItemID"  ng-change="setdisable()" />@response.Response

                                    }
                                    else
                                    {
                                    
                                    <input checkbox-group type='checkbox' name=@("ch_questionresonse_"+ question.SurveyGroupQuestion.RecNo) ng-model=@("vm.question_" +question.SurveyGroupQuestion.RecNo + "_" +response.SurveyResponseItemID) value="@response.SurveyResponseItemID" ng-true-value="@response.SurveyResponseItemID"  ng-disabled="isdis"
                                            ng-change="textdisable('@("txtOtherResponse_" + questionNumber + "_" +response.SurveyResponseItemID)','@("chk_"+ questionNumber + "_" +response.SurveyResponseItemID)')" id=@("chk_"+ questionNumber + "_" +response.SurveyResponseItemID)   />@response.Response
                                    }


                                    @if (response.Response.ToLowerInvariant().Contains("other"))
                                    {
                                    <!--<input ng-model="vm.qestion_txtresponse_@question.SurveyGroupQuestion.RecNo" class="form-control ng-pristine ng-invalid ng-invalid-required" id="txtOtherResponse_@questionNumber" name="txtOtherResponse_@questionNumber" type="text" placeholder="Please Specify" style="width:200px;" />-->

                                    <input  ng-model=@("vm.qestion_txtresponse_" +question.SurveyGroupQuestion.RecNo+ "_" +response.SurveyResponseItemID)  class="form-control ng-pristine ng-invalid ng-invalid-required" 
                                     id=@("txtOtherResponse_" +questionNumber + "_" +response.SurveyResponseItemID) name="txtOtherResponse_@questionNumber" type="text" placeholder="Please Specify" style="width:200px;" disabled="disabled" />


                                    }
                                </p>
                                }
                            </div>
                        </div>
                        break;
                        case "MultiLineTextBox":

                        <div ng-if="vm.surveyID==2">
                            @*ng-if="vm.surveyID==2"*@
                            <p><div class="questi_div">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</div></p>
                            <div class="questi_div">
                                <span style="color:red;" ng-show="surveyForm.question_@question.SurveyGroupQuestion.RecNo.$invalid && (!surveyForm.question_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required.</span>
                                @foreach (var response in question.SurveyQTNResponseList)
                                {

                                <p>
                                    @*ng-required="vm.surveyID==2"*@

                                    @*ng-required="vm.surveyID==2"*@
                                    <textarea rows='5' name="question_@question.SurveyGroupQuestion.RecNo" ng-model="vm.question_@question.SurveyGroupQuestion.RecNo"></textarea>@response.Response
                                </p>
                                }
                            </div>
                        </div>
                        break;
                        case "SingleLineTextBox":

                        <div>
                            <p><div class="questi_div">@questionNumber<label>.</label> @question.SurveyGroupQuestion.SurveyQTN</div></p>
                            <div class="questi_div" style="margin-left:16px">
                                <span style="color:red;" ng-show="surveyForm.question_@question.SurveyGroupQuestion.RecNo.$invalid && (!surveyForm.question_@question.SurveyGroupQuestion.RecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required (Should not be greater than 31).</span>
                                @foreach (var response in question.SurveyQTNResponseList)
{
    if (response.Response != "No response")
    {
        <input ng-required="!vm.qestionchkNoResponse_@question.SurveyGroupQuestion.RecNo" ng-disabled="vm.qestionchkNoResponse_@question.SurveyGroupQuestion.RecNo"  type="number" name="question_@question.SurveyGroupQuestion.RecNo" ng-model="vm.question_@question.SurveyGroupQuestion.RecNo" min="0" max="31" onkeypress="return IsNumeric(event);" style="width:25% !important;" />
    }
    else
    {
                                    <span><input type="checkbox" name="vm.qestionchkNoResponse_@question.SurveyGroupQuestion.RecNo" ng-model="vm.qestionchkNoResponse_@question.SurveyGroupQuestion.RecNo" ng-true-value="@question.SurveyQTNResponseList[@question.SurveyQTNResponseList.Count-1].SurveyResponseItemID" /> No response</span>
                                   }


                                }
                            </div>
                        </div>
                        break;

                        default:
                        break;
                        }

                        <!-- for sub queations-->
                        if (question.SubQuestion.QuetionText != null && question.SubQuestion.QuetionText != "")
                        {
                        if (question.SubQuestion.ControlType == "SingleLineTextBox")
                        {
                        <div style="margin-left:15px;">
                            <p>
                                <div class="questi_div">
                                    @questionNumber<label>a.</label> @question.SubQuestion.QuetionText
                                </div>
                            </p>
                            <div class="questi_div" style="margin-left:25px">
                                <span style="color:red;" ng-show="surveyForm.question_@question.SubQuestion.SurveyGroupQTNRecNo.$invalid && (!surveyForm.question_@question.SubQuestion.SurveyGroupQTNRecNo.$pristine || surveyForm.$submitted) " class="help-block">Answer is required (Age should not be greater than 110).</span>
                                
                                @*<input required type="number" name="question_@question.SubQuestion.SurveyGroupQTNRecNo" min="0" max="110" style="width:25% !important;" ng-model="vm.question_@question.SubQuestion.SurveyGroupQTNRecNo" onkeypress="return IsNumeric(event);" />*@

                                <input ng-required="!qestionchkNoResponse_@question.SubQuestion.SurveyGroupQTNRecNo" ng-disabled="qestionchkNoResponse_@question.SubQuestion.SurveyGroupQTNRecNo" type="number" name="question_@question.SubQuestion.SurveyGroupQTNRecNo" min="0" max="110" style="width:25% !important;" ng-model="vm.question_@question.SubQuestion.SurveyGroupQTNRecNo" onkeypress="return IsNumeric(event);" />
                                                                                        
                                <span><input type="checkbox" name="qestionchkNoResponse_@question.SubQuestion.SurveyGroupQTNRecNo" ng-model="qestionchkNoResponse_@question.SubQuestion.SurveyGroupQTNRecNo" 
                                                                         ng-true-value="@question.SubQuestion.SurveyQTNResponseList[@question.SubQuestion.SurveyQTNResponseList.Count - 1].SurveyResponseItemID" /> No response</span>


                            </div>
                        </div>
                        }
                        }






                        questionNumber++;
                        }
                    </div>
                    <div class="clear"></div>
            </core-header-panel>
        </form>



    </section>



</core-animated-pages>
