﻿<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
    <link href="../../Content/customstyles.css" rel="stylesheet" />
</header>

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
<link rel="stylesheet" href="http://textangular.com/css/style.css" type="text/css">

<style>
    body {
        background-image: none !important;
    }
</style>

<core-animated-pages transitions="slide-from-right" ng-controller="comments as vm">
    <section class="core-selected">
        <form name="commentsForm" ng-submit="Finish(vm)" novalidate>


            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">Send Us Comments and Feedback</span>
                    <input type="submit" name="submit" class="finishbtn1" value="Send" width="130px" />
                </core-toolbar>
                <p style="position:relative;color:red;" ng-show="commentsForm.Comments.$invalid && (!commentsForm.Comments.$pristine || commentsForm.$submitted) " class="help-block">Comments is required.</p>
                <p ng-show="commentsForm.commentSubject.$invalid && (!commentsForm.commentSubject.$pristine ||  commentsForm.$submitted)" class="help-block" style="color:red;">Subject is required</p>
                <div class="form-group form-row" style="margin:12px 18px">
                    <b> Subject:</b>
                    <input type="text" ng-model="vm.Subject" name="commentSubject" required />

                </div>
                <div class="container lighter">
                    <div text-angular required ng-model="vm.Comments" name="Comments" id="Comments" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
                </div>
               
                <div class="content">

                    <table class="tableContent table-condensed " id="fixed">
                        <tr>
                            <td style="height:80%">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr class="gridHeader">
                                            <th style="width:10%;text-align:center;">View </th>
                                            <th style="width:10%;text-align:center;">Name</th>
                                            <th style="width:10%;text-align:center;">Email</th>
                                            <th style="width:10%;text-align:center;">Subject</th>
                                            <th style="width:35%;text-align:center;">Comment</th>
                                            <th style="width:10%;text-align:center;">Posted On</th>
                                            <th style="width:10%;text-align:center;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="singlecomment in vm.commentList" class="fader-animation">
                                            <td style="vertical-align:middle;width:10%;text-align:center;">
                                                <a ng-click="loadConversations($event,singlecomment)">View All</a>
                                            </td>
                                            <td style="vertical-align:middle;width:10%;text-align:center;">{{singlecomment.firstName}} {{singlecomment.lastName}}</td>
                                            <td style="vertical-align:middle;width:10%;text-align:center;">{{singlecomment.email}}</td>
                                            <td style="vertical-align:middle;width:10%;text-align:center;">{{singlecomment.subject}}</td>
                                            <td style="vertical-align:middle;width:35%;text-align:center;"><p ng-bind-html="singlecomment.comment"></p></td>
                                            <td style="vertical-align:middle;width:10%;text-align:center;">{{singlecomment.createdOn| date:'MM-dd-yyyy'}}</td>
                                            <td style="vertical-align:middle;width:10%;text-align:center;">
                                                <paper-button class="red"
                                                              ng-click="respondComment(singlecomment)">
                                                    Reply
                                                </paper-button>
                                                <paper-button class="red"
                                                              ng-click="deleteComment(singlecomment)">
                                                    Delete
                                                </paper-button>
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end class="collapse">
                                            <td colspan="9">
                                                <div class=" col-md-12 col-sm-12 nestedScrollDiv">
                                                    <table class="table table-condensed nestedTable col-md-12 col-sm-12">
                                                        <thead>
                                                            <tr class="dataTileSubTable">
                                                                <th style="width:10%;text-align:center;">Name</th>
                                                                <th style="width:10%;text-align:center;">Email</th>
                                                                <th style="width:50%;text-align:center;">Comment</th>
                                                                <th style="width:15%;text-align:center;">Posted On</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="conversation in singlecomment.conversationList">

                                                                <td style="vertical-align:middle;width:10%;text-align:center;">{{conversation.firstName}} {{conversation.lastName}}</td>
                                                                <td style="vertical-align:middle;width:10%;text-align:center;">{{conversation.email}}</td>
                                                                <td style="vertical-align:middle;width:50%;text-align:center;"><p ng-bind-html="conversation.comment"></p></td>
                                                                <td style="vertical-align:middle;width:15%;text-align:center;">{{conversation.createdOn| date:'MM-dd-yyyy'}}</td>



                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-show="vm.isNoRecords">
                                            <td colspan="5" style="text-align: center; font-weight: bold;"> No records found.</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="show-hide-animation" ng-if="ispaging" style="margin-left: auto; margin-right: auto;width:50em;">
                        <div class="paginationDiv">
                            <div class="pagination-sm">
                                <ul id="visible-pages-example" class="pagination">
                                    <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex,vm.comment.selectedUser)">First</a></li>
                                    <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex,vm.comment.selectedUser)">Previous</a></li>
                                    <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page,vm.comment.selectedUser)">{{page}}</a></li>
                                    <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex,vm.comment.selectedUser)">Next</a></li>
                                    <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex,vm.comment.selectedUser)">Last</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </core-header-panel>
        </form>
    </section>
</core-animated-pages>
