﻿
<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<core-header-panel ng-controller="oneTimeEvents as vm">
    <core-toolbar>
        <span flex>One Time Events</span>
        <input type="search" ng-model="searchCriteria" class="searchinput" ng-change="vm.userSearch(searchCriteria)" />
        <div id="circle2" class="button" ng-click="vm.newEvent()">Add</div>
    </core-toolbar>

    <div class="content">
        <div class="scroll-grid">
            <table class="tableContent table-condensed " id="fixed">
                <tr>
                    <td style="height:80%">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="gridHeader">
                                    <!--<th></th>-->
                                    <th>VIEW REPORT</th>
                                    <th>Program</th>
                                    <th>Group</th>
                                    <th>Organization</th>
                                    <th>Create BY</th>
                                    <th>Entry Date</th>
                                    <th>Begin Date</th>
                                    <th>End Date</th>
                                    <th>DELETE</th>
                                    <th ng-if="isuserLevel">DELEGATE</th>
                                    <th>Edit Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in vm.events" class="gridRow readonly fader-animation">
                                    <!--<td>
                                    <button ng-click="openNestedGrid($event, user)" class="nestedBtnExpand"></button>
                                </td>-->
                                    <td style="vertical-align:middle;">

                                        <paper-button class="blue" ng-click="vm.viewReport(event)">
                                            View
                                        </paper-button>
                                    </td>
                                    <td style="vertical-align:middle;">{{event.program}}</td>
                                    <td style="vertical-align:middle;">{{event.group}}</td>
                                    <td style="vertical-align:middle;">{{event.organization}}</td>
                                    <td style="vertical-align:middle;">{{event.staffFname }}  {{event.staffLName}}</td>
                                    <td style="vertical-align:middle;">{{event.entryDate | date:'MM/dd/yyyy' }}</td>
                                    <td style="vertical-align:middle;">{{event.beginDate | date:'MM/dd/yyyy' }}</td>
                                    <td style="vertical-align:middle;">{{event.endDate | date:'MM/dd/yyyy' }}</td>
                                    <td>

                                        <!--<paper-button class="red" ng-click="vm.editEvent(event)">
                                        Edit
                                    </paper-button>-->

                                        <paper-button class="red"
                                                      ng-click="vm.deleteEvent(event)">
                                            Delete

                                        </paper-button>
                                    </td>

                                    <td style="vertical-align:middle;">

                                        <paper-button class="blue" ng-click="vm.Delegate(event)" ng-if="isuserLevel">
                                            <!--vm.Delegate(event)"  vm.dynamicPopover(event)>-->
                                            Delegate
                                        </paper-button>
                                    </td>

                                    <td style="vertical-align:middle;">

                                        <paper-button class="blue" ng-click="vm.editDataListOpen(event)" ng-disabled="event.compareDate<CurrentDate">
                                            Edit Event
                                        </paper-button>
                                    </td>
                                </tr>
                                <!--<tr ng-repeat-end class="collapse out">
                                <td colspan="10">
                                    <div class=" col-md-12 col-sm-12 nestedScrollDiv">
                                        <table class="table table-condensed table-striped">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Location</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="soLine in vm.soLineList">
                                                    <td>{{soLine.firstName}}</td>
                                                    <td>{{soLine.lastName}}</td>
                                                    <td>{{soLine.age}}</td>
                                                    <td>{{soLine.location}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="show-hide-animation" data-ng-show="vm.soLineList.length > vm.pageSize">
                                            <div class="paginationDiv">
                                                <div data-pagination
                                                     data-on-select-page="linePageChanged(page)"
                                                     data-total-items="vm.soLineList.lenght"
                                                     data-page="vm.lineCurrPage"
                                                     data-boundary-links="true"
                                                     data-max-size="vm.maxSize"
                                                     class="pagination-sm">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>-->

                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="show-hide-animation" ng-if="ispaging">
                <div class="paginationDiv">
                    <div class="pagination-sm">
                        <ul id="visible-pages-example" class="pagination">
                            <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex )">First</a></li>
                            <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex)">Previous</a></li>
                            <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                            <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex)">Next</a></li>
                            <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex)">Last</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</core-header-panel>
