﻿us<header class="clearfix">
    <div data-ng-include="'../app/layout/topnav.html'"></div>
</header>
<core-header-panel ng-controller="ongoingEvents as vm">
    <core-toolbar>
        <span flex>On Going Events</span>
        <input type="search" ng-model="searchCriteria" class="searchinput" ng-change="vm.userSearch(searchCriteria)" />
        <div id="circle2" class="button" ng-click="vm.newEvent()">Add</div>
    </core-toolbar>
    <div class="content">
        <div class="scroll-grid">
            <table class="tableContent table-condensed " id="fixed">
                <tr>
                    <td style="height:80%">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="gridHeader">
                                    <th></th>
                                    <th>VIEW REPORT</th>
                                    <th>PROGRAM</th>
                                    <th>GROUP</th>
                                    <th>PRE-TEST</th>
                                    <th>POST-TEST</th>
                                    <th>ORGANIZATION</th>
                                    <th>CREATE BY</th>
                                    <th>BEGIN DATE</th>
                                    <th>END DATE</th>
                                    <th>ADD SESSION</th>
                                    <th>ADD SURVEY</th>
                                    <th>DELETE</th>
                                    <th ng-if="isuserLevel">DELEGATE</th>
                                    <th>Edit Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="event in vm.events" class="gridRow readonly fader-animation">
                                    <td width="20">
                                        <button ng-click="vm.loadSessions($event, event)" class="nestedBtnExpand"></button>
                                    </td>
                                    <td style="vertical-align:middle;">

                                        <paper-button class="blue" ng-click="vm.viewReport(event)">
                                            View
                                        </paper-button>
                                    </td>
                                    <td style="vertical-align:middle;">{{event.program}}</td>
                                    <td style="vertical-align:middle;">{{event.group}}</td>
                                    <td style="vertical-align:middle;">{{event.preTestCount}}</td>
                                    <td style="vertical-align:middle;">{{event.totalPostTest}}</td>
                                    <!--<td style="vertical-align:middle;">{{event.postTetCount}}</td>-->
                                    <td style="vertical-align:middle;">{{event.organization}}</td>
                                    <td style="vertical-align:middle;">{{event.staffFname }}  {{event.staffLName}}</td>
                                    <td style="vertical-align:middle;">{{event.beginDate | date:'MM/dd/yyyy'}}</td>
                                    <td style="vertical-align:middle;">{{event.endDate | date:'MM/dd/yyyy'}}</td>
                                    <td style="vertical-align:middle;">

                                        <paper-button class="blue" ng-show="!event.closed" ng-click="vm.addSession(event)">
                                            Add Session
                                        </paper-button>
                                    </td>

                                    <td style="vertical-align:middle;">

                                        <paper-button class="blue" ng-click="vm.addpreSurvey(event)" ng-if="event.programNameSource.trim()=='NREPP' && event.tyoeOfProgram_EA.trim()=='Evidence'">
                                            Add PreTest
                                        </paper-button> &nbsp;&nbsp;

                                        <paper-button class="blue" ng-click="vm.addPostSurvey(event)" ng-if="event.programNameSource.trim()=='NREPP' && event.tyoeOfProgram_EA.trim()=='Evidence'">
                                            Add PostTest
                                        </paper-button>

                                    </td>
                                    <td style="vertical-align:middle;">

                                        <paper-button class="red"
                                                      ng-click="vm.deleteEvent(event)">
                                            Delete

                                        </paper-button>
                                    </td>

                                    <td style="vertical-align:middle;">

                                        <paper-button class="blue" ng-click="vm.Delegate(event)" ng-if="isuserLevel">
                                            Delegate
                                        </paper-button>
                                    </td>

                                    <td style="vertical-align:middle;">

                                        <paper-button class="blue" ng-click="vm.editDataListOpen(event)" ng-disabled="event.lstEvents.length >0 || event.compareDate<CurrentDate">
                                            Edit Event
                                        </paper-button>
                                    </td>

                                </tr>
                                <tr ng-repeat-end class="collapse">
                                    <td colspan="16">
                                        <div class=" col-md-12 col-sm-12 nestedScrollDiv">
                                            <table class="table table-condensed nestedTable col-md-12 col-sm-12">
                                                <thead>
                                                    <tr class="dataTileSubTable">
                                                        <!--<th></th>-->
                                                        <th>Program</th>
                                                        <th>Group</th>
                                                        <th>Organization</th>
                                                        <th>Begin Date</th>
                                                        <th>End Date</th>
                                                        <th>Pre-Test</th>
                                                        <th>Post-Test</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="session in event.sessionList">
                                                        <!--<tr ng-repeat="session in event.lstEvents">-->
                                                        <!--<td style="vertical-align:middle;">

                                                            <paper-button class="blue" ng-click="vm.viewReport(session)">
                                                                View
                                                            </paper-button>
                                                        </td>-->
                                                        <td style="vertical-align:middle;">{{session.program}}</td>
                                                        <td style="vertical-align:middle;">{{session.group}}</td>
                                                        <td style="vertical-align:middle;">{{session.organization}}</td>
                                                        <td style="vertical-align:middle;">{{session.beginDate | date:'MM/dd/yyyy'}}</td>
                                                        <td style="vertical-align:middle;">{{session.endDate | date:'MM/dd/yyyy'}}</td>

                                                        <td style="vertical-align:middle;">{{session.preTestCount}}</td>
                                                        <td style="vertical-align:middle;">{{session.postTetCount}}{{session.closed}}</td>

                                                        <td style="vertical-align:middle;">

                                                            <paper-button class="red"
                                                                          ng-click="vm.deleteEvent(session)">
                                                                Delete

                                                            </paper-button>

                                                            <paper-button class="red" ng-disabled="event.compareDate<CurrentDate"
                                                                          ng-click="vm.editData(session.id)">
                                                                Edit

                                                            </paper-button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="show-hide-animation" ng-if="ispaging" style="margin-left: auto; margin-right: auto;width:50em;">
                <div class="paginationDiv">
                    <div class="pagination-sm">
                        <ul id="visible-pages-example" class="pagination">
                            <li ng-show="vm.pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.firstPageIndex )">First</a></li>
                            <li ng-show="vm.pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.previousPageIndex)">Previous</a></li>
                            <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                            <li ng-show="vm.pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.nextPageIndex)">Next</a></li>
                            <li ng-show="vm.pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.lastPageIndex)">Last</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</core-header-panel>
