﻿

<div ng-app="myApp" ng-controller="ctrl">
    <div style="margin-top:100px">
        <input ng-model="value3" type="text" id="{{id}}" slider options="options2" ng-disabled="disabled" />
    </div>
    <div style="margin-top:100px">
        <input ng-model="value3" type="text" id="{{id}}" slider options="options2" ng-disabled="disabled" />
    </div>
</div>