﻿<link href="../../Content/customstyles.css" rel="stylesheet" />
<core-animated-pages transitions="slide-from-right" ng-controller="surveyTools as vm">
    <section class="core-selected">
        <form name="surveyForm" ng-submit="Next(surveyForm)" novalidate>
            <core-header-panel>
                <core-toolbar>
                    <span flex style="font-size:xx-large">Survey Tools</span>
                </core-toolbar>

                <div class="content documenttion">

                    <div class="programe_base pad">
                        <b>Survey Completed:</b>
                        <input type="text" class="dateField" datepicker-popup="{{format}}" ng-model="surveyEndDate" is-open="openBeginDateopened" min-date="minDate"
                               max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" placeholder="Survey Completed" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBeginDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>

                    <div class="programe_base pad">
                        <b>Survey:</b>
                        <select ng-model="survey" id="survey" name="survey" style="width:185px;">
                            <option ng-repeat="data in surveyData" value="{{data.recNo}}">{{data.surveyTitle}}</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Participant ID (Optional):</b>
                        <input name="participantID" id="participantID" placeholder="Participant ID" class="form-control" type="text" ng-model="participant" ng-bind="participant">
                    </div>

                    <div class="clear"></div>

                    <div class="programe_base pad">
                        <b>Survey Type:</b>
                        <select ng-model="surveyID" id="surveyTypeID" name="surveyTypeID" style="width:185px;">
                            <option ng-repeat="data in surveyType" value="{{data.surveyTypeID}}">{{data.displayName}}</option>
                        </select>
                    </div>
                    <div class="programe_base pad">
                        <b>Program Type:</b>
                        <select ng-model="programID" ng-change="getProgramTypeData(programID)">
                            <option value="NREPP" selected>NREPP</option>
                            <option value="State">State Approved</option>

                        </select>

                    </div>
                    <div class="programe_base pad">
                        <b>Program Name:</b>

                        <select ng-model="programNameData"
                                ng-options="filter.pid as filter.name for filter in programNames"
                                ng-change="getProgramNameTypeData(programNameData)" style="width:200px;"></select>
                        <!--<select ng-model="programNameData" ng-change="getProgramNameTypeData(programNameData)" style="width:185px;">
                            <option ng-repeat="data in programNames" value="{{data.pid}}">{{data.name}}</option>
                        </select>-->
                    </div>

                    <div class="clear"></div>

                    <div class="programe_base pad">
                        <b>
                            Group Name:
                            <select
                            <select ng-model="groupNameData"
                                    ng-options="filter.groupName as filter.groupName for filter in groupNames" style="width:200px;"></select>
                            <!--<select ng-model="groupNames" style="width:185px;">
                                <option ng-repeat="data in groupNames" value="{{data.groupName}}">{{data.groupName}}</option>
                            </select>-->
                    </div>

                    <div class="clear"></div>
                    <div id="dynamichtml" ng-model="vm.dynamicdata"></div>
                    <div class="clear"></div>
                    <div>
                        <input type="submit" value="Finish" />
                    </div>
            </core-header-panel>



        </form>


    </section>

    <script type="text/javascript">
    var monthtext = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
    function populatedropdown(dayfield, monthfield, yearfield) {
        
        var today = new Date();
        var dayfield = document.getElementById(dayfield)
        var monthfield = document.getElementById(monthfield)
        var yearfield = document.getElementById(yearfield)
        var totDays = 31;
        var year = today.getFullYear();
        var month = today.getMonth();
        if (year % 4 == "0" && month == 1)
            totDays = 29;
        else if (month == 1)
            totDays = 28;
        else if (month == 3 || month == 5 || month == 8 || month == 10)
            totDays = 30;
        for (var i = 0; i < totDays; i++)
            dayfield.options[i] = new Option(i + 1, i + 1)
        document.getElementById('daydropdown').value = today.getDate();
        //dayfield.options[today.getDate()] = new Option(today.getDate(), today.getDate(), true, true) //select today's day
        for (var m = 0; m < 12; m++)
            monthfield.options[m] = new Option(monthtext[m], monthtext[m])
        monthfield.options[today.getMonth()] = new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
        var thisyear = today.getFullYear()
        for (var y = 0; y < 114; y++) {
            yearfield.options[y] = new Option(thisyear, thisyear)
            thisyear -= 1
        }
        yearfield.options[0] = new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
    }
    function changeDate(dayfield) {
        var today = new Date();
        var month = document.getElementById('monthdropdown').value;
        var year = document.getElementById('yeardropdown').value;
        var totDays = 31;
        if (year % 4 == "0" && month == "Feb")
            totDays = 29;
        else if (month == "Feb")
            totDays = 28;
        else if (month == "Apr" || month == "Jun" || month == "Sept" || month == "Nov")
            totDays = 30;
        document.getElementById('daydropdown').innerHTML = "";
        var res;
        for (var i = 0; i < totDays; i++) {
            res += "<option value='" + (i + 1) + "'>" + (i + 1) + "</option>";
        }
        document.getElementById('daydropdown').innerHTML = res;
    }
    </script>

</core-animated-pages>
