﻿<link href="../../Content/modal-dialog.css" rel="stylesheet" />
<div>

    <div class="modal-header">
        <h3 class="modal-title">User List</h3>
    </div>
    <div class="modal-body">
        <div style="height:400px;width:100%;display:block;position:relative">

            <div class="content">
                <table class="tableContent table-condensed " id="fixed">
                    <tr>
                        <td style="height:80%">
                            <table class="table table-condensed">
                                <thead>
                                    <tr class="gridHeader">
                                        <!--<th></th>-->
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <!--<th>User Name</th>
                                        <th>Email Id</th>-->
                                        <th><span style="margin-left:15%;">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in users" class="fader-animation">

                                        <td style="vertical-align:middle;">{{user.firstName}}</td>
                                        <td style="vertical-align:middle;">{{user.lastName}}</td>
                                        <!--<td style="vertical-align:middle;">{{user.userName}}</td>
                                        <td style="vertical-align:middle;">{{user.emailId}}</td>-->
                                        <td style="vertical-align:middle;">
                                            <input type="radio" name="radDelegate" id="radDelegate" ng-model="color.name" value="{{user.userId}}">
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="show-hide-animation" ng-if="ispaging" >
                    <div class="paginationDiv">
                        <div class="pagination-sm">
                            <ul id="visible-pages-example" class="pagination">
                                <li ng-show="pagerData.hasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="pagination(pagerData.firstPageIndex )">First</a></li>
                                <li ng-show="pagerData.hasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="pagination(pagerData.previousPageIndex)">Previous</a></li>
                                <li ng-repeat="page in pageList"><a href="javascript:void(0)" ng-click="pagination(page)">{{page}}</a></li>
                                <li ng-show="pagerData.hasNextPage" class="next"><a href="javascript:void(0)" ng-click="pagination(pagerData.nextPageIndex)">Next</a></li>
                                <li ng-show="pagerData.hasNextPage" class="last"><a href="javascript:void(0)" ng-click="pagination(pagerData.lastPageIndex)">Last</a></li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok()">OK</paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
    </div>
</div>