﻿


<div>

    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Was a survey administered?</p>
</div>
    <div class="modal-footer">
        <paper-button class="btn-success btn-xs" ng-click="ok()">Yes</paper-button>
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">No</paper-button>
    </div>
</div>