﻿<div>
    
        <div class="modal-header">
            <h3 class="modal-title">Confirmation</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you wish to do this?</p>
        </div>
        <div class="modal-footer">
            <paper-button class="btn-success btn-xs" ng-click="ok()">OK</paper-button>
            <paper-button class="btn-danger btn-xs" ng-click="cancel()">Cancel</paper-button>
        </div>
</div>