﻿<link href="../../Content/modal-dialog.css" rel="stylesheet" />
<div>

    <div class="modal-content-1">
                
        <div class="modal-header detailsHeader">
            <h3>Details</h3>
        </div>
        <div class="modal-body detail-body">
            <div id="divProgramTypeHelp">

                <div class="detailsText">
                    <b>Individual-Based Programs and Strategies:  </b>Practices and strategies with identifiable goals designed to change
                    behavioral outcomes among a definable population or within a definable geographic area.  Examples:  school and community-based
                    curricula; school and community-based groups and organizations (SADD, Peer Helpers, 4-H); alternative activities (afterschool
                    programs); community service activities; parent education classes and workshops.
                </div>
                <div class="detailsText">
                    <b>Population-Based Programs and Strategies:  </b>Activities with planned and deliberate goal-oriented practices, procedures,
                    processes, or activities that have identifiable outcomes achieved with a sequence of steps subject to monitoring and modification.  Included
                    withing this definition are environmental strategies (which establish or change written and unwritten commnunity standards,
                    codes, laws, and attitudes, thereby influencing incidence and prevalence of substance abuse in the general population), one-time or
                    single events (such as health fair, a school assembly, or the distribution of material), and tother activities intended to impact a
                    broad population.  The goal is to record the numbers of people impacted by the program or strategy.
                </div>
                <div class="detailsText">
                    Data reported for population-based programs and strategies should be based on actual numbers (if known) or estimates
                    of people served.  For programs and strategies that reach an identifiable population (e.g. an entire county, city, or
                    state, or targeted age range), it is permissible to use U.S. Census Bureau data (if available) to estimate the number
                    of persons served.
                </div>
                <div class="detailsText">
                    Examples of population-based programs and strategies include:
                    <ul>
                        <li>Brochures - # of people receiving the brochure</li>
                        <li>Radio/TV talk show expert - # of people listening</li>
                        <li>Health Fair - # of people attending the fair</li>
                        <li>School Assembly - # of people attending the assembly</li>
                        <li>Public Service Announcement (PSA) - number of people listening to or viewing the PSA</li>
                        <li>Coalition Building - # of people in the coalition</li>
                        <li>Developing community policies (e.g. restrictions on advertising) - number of people in the community</li>
                        <li>Planning and coordinating efforts to effect the community change - # of people involved in the planning effort</li>
                        <li>Media campaign - # of people living in the "community" impacted by the media campaign</li>
                        <li>Other environmental strategies, including advocacy, keg registration, ID card enforcement, warning labels, server trainings - # of people impacted by the strategy</li>
                    </ul>
                </div>
                <div class="detailsText">
                    <b>Intervention Type:</b>
                    <ul>
                        <li>
                            <b>Universal:</b>  Activities targeted to the general public or whole population group that has not been identified
                            on the basis of individual risk.
                            <ul>
                                <li>
                                    <b>Universal Direct</b> interventions directly serve participants who have not been identified on the
                                    basis of individual risk (e.g. school curriculum, after-school program, parenting class).  This also
                                    could include interventions involving interpersonal and ongoing/repeated contact (e.g. coalitions)
                                </li>
                                <li>
                                    <b>Universal Indirect</b> interventions support population-based activities and environmental strategies
                                    (e.g. establishing ATOD policies, modifying ATOD advertising practices).  This also could include interventions
                                    involving programs and policies implemented by coalitions.

                                </li>
                            </ul>
                        </li>
                        <li>
                            <b>Selective:</b> Activities targeted to individuals or a subgroup of the population whose risk of developing a
                            disorder is significantly higher than average.
                        </li>
                        <li>
                            <b>Indicated:</b> Activities targeted to individuals in high-risk environments, identified as having minimal but
                            detectable signs or symptoms foreshadowing disorder or having biological markers indicating predisposition for
                            disorder but not yet meeting diagnostic levels (adapted from the <i>Institute of Medicine Model of Prevention</i>).
                        </li>
                    </ul>
                </div>
                <div class="detailsText">
                    <b>Type of Program:</b> When you select Evidence-Based programs you will be given two choices, either NREPP or State Approved.
                    If you would like to submit a program for approval please ensure that it meets the guidelines below and contact us.
                </div>
                <div class="detailsText">
                    <b>Evidence-Based:</b>
                    <ul>
                        <li>Included in a Federal list or registry of evidence-based interventions</li>
                        <li>Reported (with positive effects) in a peer-reviewed journal</li>
                        <li>
                            Effectiveness documented based on the following guidelines:
                            <ul>
                                <li>
                                    Guideline 1:  The intervention is based on a solid theory or theoretical perspective that has validated research.
                                </li>
                                <li>
                                    Guideline 2:  The intervention is supported by a documented body of knowledge - a converging of empirical
                                    evidence of effectiveness - generated from similar or related interventions that indicate effectiveness.
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="detailsfooter">

        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Close</paper-button>
    </div>
</div>


