﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/modal-dialog.css" rel="stylesheet" />
</head>
<body>

    <div>
        <iframe width="100%" height="410" src="http://www.youtube.com/embed/_R-Yt8EX8yc" frameborder="0" allowfullscreen></iframe>
    </div>

    
    <div style="width:100%!important; background:#ddd; padding:7px 20px; text-align:right;">
        <paper-button class="btn-danger btn-xs" ng-click="cancel()">Close</paper-button>
    </div>
</body>



</html>