﻿
<div data-ng-controller="shell as vm">
  
    <div>
       
        <div data-ng-include="vm.topMenu">
          
        </div>
    </div>
    <footer>
        <div style="margin-left: 44EM;">
          
        </div>
    </footer> 
  
</div>
