﻿<script>
    $(document).ready(function () {
        $(".tadmin").click(function (e) {
            e.stopPropagation();
            $(".logout").slideToggle("slow", function () {
                $(".logout").toggleClass("active");
            });
        });
        $("body").click(function () {
            $(".logout").slideUp("slow");

        });
    });
</script>
<link href="../../Content/styles.css" rel="stylesheet" />

<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="topnav as vm" style="box-shadow: 0 1px 10px rgba(0,0,0,0.1);">
    <div class="tadmin">Welcome {{username}} <span class="caret"></span></div>
    <a class="logout" ng-click="logOut()">Log out</a>
    <div class="navbar-header" >  <!--style="margin-left:35px;margin-top:2px;"-->
        <!--<a href="#/dashboard/"><img src="../../Content/images/Data_Header2.jpg" alt="Data Gadget" style="margin-left: 10%; margin-top: 1%; margin-bottom: 0.5%;width:65%;"></a>-->
        <div class="logodiv"><a href="#/dashboard/"><img src="../../Content/images/Data_Header2.jpg" alt="Data Gadget" style="margin-left: 10%; margin-top: 1%; margin-bottom: 0.5%;"></a></div>  
        <!--<img src="../../Content/images/Data_Header2.jpg" alt="Data Gadget" style="margin-left: 10%; margin-top: 1%; margin-bottom: 0.5%;width:13%;">-->
        <!--<a href="#/dashboard/"><span class="brand-title" style="font-size:xx-large">Data Gadget</span></a>-->
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>    
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-big">
                    <a href="#/dashboard" target="_self">
                        Home
                    </a>
                </li>
                <li class="dropdown">
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-show="isPrevention">Prevention <span class="caret"></span></a>-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-if="isPrevention">Prevention <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><paper-item fullbleed horizontal layout block ng-click="oneTimeEventsClick()" ng-if="isPrevention">One-Time Events</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="ongoingEventsClick()" ng-if="isPrevention">On-Going Events</paper-item></li>

                        <li class="divider"></li>
                        <!--<li><paper-item fullbleed horizontal layout block ng-click="surveyToolsClick()" ng-if="isPrevention">Survey Tool</paper-item></li>-->

                    </ul>

                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-if="isTreatment">Treatment <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><paper-item fullbleed horizontal layout block ng-click="DischargeClick()" ng-if="isTreatment">Discharges</paper-item></li>

                        <li class="divider"></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="treatmentSurveyToolsClick()" ng-if="isTreatment">Survey Tools</paper-item></li>

                        <li class="divider"></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="waitingdataClick()" ng-if="isTreatment">Waiting Data</paper-item></li>

                        <li class="divider"></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="treatmentsClick()" ng-if="isTreatment">Treatments</paper-item></li>

                    </ul>

                </li>
                <li class="dropdown dropdown-big">
                    <!--<a href="#/reports/" target="_self">
                        Reports
                    </a>-->

                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><paper-item fullbleed horizontal layout block ng-click="ReportClick()">Reports</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="StaffDevelopmentReportClick()" ng-if="isAdminTab">Staff Development Report</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="DischargesReportClick()" ng-if="isTreatment">Discharge Report</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="followupReportClick()" ng-if="isAdminTab">Follow up Report</paper-item></li>
                        <!--<li><paper-item fullbleed horizontal layout block ng-click="bedUilizationReport()" ng-if="isAdminTab">Indigent Bed Utilization Report</paper-item></li>-->
                        <li><paper-item fullbleed horizontal layout block ng-click="bedUilizationReport()" ng-if="isAdminTab">Bed Utilization Report</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="indigentFundReportClick()" ng-if="isAdminTab">Indigent Fund Report</paper-item></li>
                    </ul>
                </li>
                <li class="dropdown dropdown-big" ng-if="isUserCommentsTab">
                    <a href="#/comments/" target="_self">
                        Comments
                    </a>
                </li>
                <li class="dropdown">
                    <!--<a ng-show="isAdminTab" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>-->
                    <a ng-if="isAdminTab" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="isAdminTab"><paper-item fullbleed horizontal layout block ng-click="StatewideInitiativesClick()">Statewide Initiatives</paper-item></li>
                        <li class="divider"></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="programsStateClick()" ng-if="isAdminTab">Programs & Strategies - State</paper-item></li>
                        <li class="divider"></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="programsNREPPClick()" ng-if="isAdminTab">Programs & Strategies - NREPP</paper-item></li>
                        <li class="divider"></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="siteUsageClick()" ng-if="isAdminTab">Site Usage</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="ExportUserListClick()" ng-if="isAdminTab">Export User List</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="exportDataClick()" ng-if="isAdminTab">Export Data</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="editDataClick()" ng-if="isAdminTab">Edit Data</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="preventionOutcomesClick()" ng-if="isAdminTab">Prevention Outcomes</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="treatmentOutcomesClick()" ng-if="isAdminTab">Treatment Outcomes</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="utilizationRateClick()" ng-if="isAdminTab">Utilization Rate</paper-item></li>
                        <!--<li><paper-item fullbleed horizontal layout block ng-click="resourceLinkClick()" ng-if="isAdminTab">Resources Link</paper-item></li>-->
                        <!--<li><paper-item fullbleed horizontal layout block ng-click="grantYearClick()" ng-if="isGrantTab">Grant Year</paper-item></li>-->
                        <li ng-if="isCommentTab"><paper-item fullbleed horizontal layout block ng-click="Comments()">Manage Comments</paper-item></li>
                        <li> <paper-item fullbleed horizontal layout block ng-click="weeklyMailTemplateClick()">Weekly Mail Template</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="ProvidersClick()" ng-if="isAdminTab">Staff Development Providers</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="BedCountClick()" ng-if="isAdminTab">Locations</paper-item></li>
                        <li><paper-item fullbleed horizontal layout block ng-click="treatmentPrograms()" ng-if="isAdminTab">Treatment Programs</paper-item></li>

                        <li><paper-item fullbleed horizontal layout block ng-click="ServiceLocationClick()" ng-if="isAdminTab">Service Location</paper-item></li>

                        <li><paper-item fullbleed horizontal layout block ng-click="treatmentConfigClick()" ng-if="isAdminTab">Welcome Message</paper-item></li>

                        <li><paper-item fullbleed horizontal layout block ng-click="mailConfigClick()" ng-if="isAdminTab">Monthly Mail Settings</paper-item></li>

                        <!--<li><paper-item fullbleed horizontal layout block ng-click="StaffDevelopmentReportClick()" ng-if="isAdminTab">Staff Development Report</paper-item></li>-->

                        <!--<li ng-if="isCommentTab"><paper-item fullbleed horizontal layout block ng-click="EmailTemplate()">Manage Email Templates</paper-item></li>-->
                    </ul>
                </li>

                <li class="dropdown dropdown-big">
                    <a href="#/resourceLinksList/" target="_self">
                        Resources
                    </a>
                </li>

                <li class="dropdown dropdown-big">
                    <a href="#/StaffDevelopment/" target="_self">
                        Staff Development
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="#/users/" target="_self" ng-if="isUserTab">
                        Users
                    </a>
                </li>
                <!--<li class="dropdown">
                    <a href="#/" class="dropdown-toggle" data-toggle="dropdown" style="color:aliceblue;">
                        {{username}}
                        <b class="caret-inverse"></b>
                    </a>
                    <ul class="dropdown-menu logoutUl">
                        <li style="float:right;">
                            <a ng-click="logOut()">
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>-->
            </ul>
            <div class="userImage">
                <ul class="topnav navbar-nav pull-right"></ul>
            </div>
        </div>
    </div>
</nav>
